Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to see if params are set correctly in Usermanager
  spec/models/user_manager_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: wallets
  app/models/non_profits/non_profit.rb
  app/models/wallet.rb
  db/migrate/20220919203927_remove_wallet_address_from_non_profits.rb
  db/schema.rb
  spec/factories/non_profits.rb
  spec/models/non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add google env variables
  config/env.yml
Due: none

feat: fix bundler version
  Dockerfile.dev
Due: none

feature: build credit card from a shorthand
  app/models/payment/methods/credit_card.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: move adapter responsabilities to controllers
  app/adapters/adapter/controllers/payment/credit_cards.rb
  app/adapters/adapter/controllers/payment/cryptocurrencies.rb
  app/controllers/api/v1/payments/credit_cards_controller.rb
  app/controllers/api/v1/payments/cryptocurrency_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: rubocop issues
  app/controllers/api/v1/payments/credit_cards_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: tests
  app/models/non_profits/non_profit.rb
  app/models/wallet.rb
  db/migrate/20220919203927_create_wallet_for_non_profits.rb
  db/migrate/20220920140829_remove_wallet_address_from_non_profits.rb
  db/schema.rb
  spec/models/non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: tests
  app/models/non_profits/non_profit.rb
  app/models/wallet.rb
  spec/factories/wallets.rb
  spec/models/non_profit_spec.rb
  spec/models/wallet_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  app/models/non_profits/non_profit.rb
  app/models/wallet.rb
  spec/models/non_profit_spec.rb
  spec/models/wallet_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  app/models/non_profits/non_profit.rb
  app/models/wallet.rb
Due: bundle exec rubocop --force-exclusion -A

feat: one more test
  app/models/non_profits/non_profit.rb
  spec/models/non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add ApiKey model
  app/controllers/concerns/api_key_authenticatable.rb
  app/controllers/integrations/integrations_controller.rb
  app/models/configs/api_key.rb
  app/models/integrations/integration.rb
  config/env.yml
  db/migrate/20220920201706_create_api_keys.rb
  db/schema.rb
  spec/factories/api_keys.rb
  spec/models/api_key_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add Donations controller under the integrations scope
  app/controllers/integrations/integrations_controller.rb
  app/controllers/integrations/v1/donations_controller.rb
  config/routes.rb
  spec/requests/integrations/v1/donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add donation blueprint and tests to integration controller
  app/blueprints/donation_blueprint.rb
  app/controllers/integrations/v1/donations_controller.rb
  config/routes.rb
  spec/requests/integrations/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add show route to integration donations
  app/controllers/integrations/integrations_controller.rb
  app/controllers/integrations/v1/donations_controller.rb
  app/models/integrations/integration.rb
Due: bundle exec rubocop --force-exclusion -A

feat: refactor
  app/models/integrations/integration.rb
  app/models/integrations/integration_wallet.rb
  app/models/non_profits/non_profit.rb
  app/models/non_profits/non_profit_wallet.rb
  app/models/wallet.rb
  db/migrate/20220919163414_create_wallets.rb
  db/migrate/20220919203927_create_wallet_for_non_profits.rb
  db/migrate/20220921123614_create_wallet_for_integrations.rb
  db/migrate/20220921123632_remove_integration_wallet_table.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add shared context to integrations requests and donation tests
  spec/rails_helper.rb
  spec/requests/integrations/v1/donations_spec.rb
  spec/support/integration_requests_helpers.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: refactor
  app/models/integrations/integration.rb
  app/models/integrations/integration_wallet.rb
  app/models/integrations/new_integration_wallet.rb
  app/models/non_profits/non_profit.rb
  app/models/wallet.rb
  db/migrate/20220919203927_create_wallet_for_non_profits.rb
  db/migrate/20220921123614_create_wallet_for_integrations.rb
  db/migrate/20220921123632_remove_integration_wallet_table.rb
  db/schema.rb
  spec/factories/wallets.rb
  spec/models/wallet_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: refactor tests
  spec/factories/new_integration_wallets.rb
  spec/factories/non_profit_wallets.rb
  spec/factories/wallets.rb
  spec/models/new_integration_wallet_spec.rb
  spec/models/non_profit_spec.rb
  spec/models/non_profit_wallet_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: add API_KEY_HMAC_SECRET_KEY to tests.yml ci
  .github/workflows/tests.yml
Due: none

feat: integration_wallet to new_integration_wallet
  app/blueprints/integration_blueprint.rb
  app/commands/donations/create_blockchain_donation.rb
  app/commands/donations/donate.rb
  app/commands/integrations/create_integration.rb
  app/models/integrations/new_integration_wallet.rb
  app/models/non_profits/non_profit_wallet.rb
  spec/commands/donations/create_blockchain_donation_spec.rb
  spec/commands/donations/donate_spec.rb
  spec/commands/integrations/create_integration_spec.rb
  spec/factories/integrations.rb
  spec/factories/new_integration_wallets.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
  spec/models/new_integration_wallet_spec.rb
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add minimal view to DonationBlueprint
  app/blueprints/donation_blueprint.rb
  app/controllers/integrations/v1/donations_controller.rb
Due: bundle exec rubocop --force-exclusion -A

test: add tests to ApiKey model
  spec/models/api_key_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add minimal view to show request on integrations donations
  app/controllers/concerns/api_key_authenticatable.rb
  app/controllers/integrations/v1/donations_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: create model for voucher
  .env.example
  Gemfile.lock
  app/models/voucher.rb
  db/migrate/20220921122704_create_vouchers.rb
  db/schema.rb
  spec/factories/vouchers.rb
  spec/models/voucher_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add external id param
  app/commands/donations/donate.rb
  app/controllers/api/v1/donations_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update credit card #from syntax
  app/models/payment/methods/credit_card.rb
Due: bundle exec rubocop --force-exclusion -A

chore: remove puts from test env
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

build: update staging-worker-deploy branch
  .github/workflows/staging-worker-deploy.yml
Due: none

refactor: remove giving values from router
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feature: remove giving values from rails admin
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: removing giving values model
  app/models/configs/giving_value.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: removing giving values controller
  app/controllers/api/v1/giving_values_controller.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: removing giving values blueprint
  app/blueprints/giving_value_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: removing giving values specs and factories
  spec/factories/giving_values.rb
  spec/models/giving_value_spec.rb
  spec/requests/api/v1/giving_values_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: removing giving values from schema
  db/migrate/20220921182052_drop_giving_values_table.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: changes from review
  app/models/integrations/new_integration_wallet.rb
  app/models/wallet.rb
  db/migrate/20220919163414_create_wallets.rb
  db/migrate/20220919203927_create_wallet_for_non_profits.rb
  db/migrate/20220921123614_create_wallet_for_integrations.rb
  lib/tasks/update_database/integration_wallet.rake
  spec/factories/new_integration_wallets.rb
  spec/models/new_integration_wallet_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: added type on wallet
  app/models/integrations/new_integration_wallet.rb
  app/models/non_profits/non_profit_wallet.rb
  app/models/wallet.rb
  db/schema.rb
  spec/factories/new_integration_wallets.rb
  spec/factories/non_profit_wallets.rb
  spec/factories/wallets.rb
  spec/models/new_integration_wallet_spec.rb
  spec/models/non_profit_wallet_spec.rb
  spec/models/wallet_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  lib/tasks/update_database/integration_wallet.rake
Due: none

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
