Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

feat: add offers controller
  app/blueprints/offer_blueprint.rb
  app/controllers/api/v1/givings/offers_controller.rb
  config/routes.rb
  spec/requests/api/v1/givings/offers_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add restful route to credit_cards controller and adapter to params
  app/adapters/adapter/controllers/payment/credit_cards.rb
  app/controllers/api/v1/payments/credit_cards_controller.rb
  config/routes.rb
  spec/requests/api/v1/payments/credit_cards_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: add migration script to eb
  .ebextensions/migrations.config
  .ebextensions/scripts/db_migrate.sh
Due: none

build: update db_migrate script
  .ebextensions/scripts/db_migrate.sh
Due: none

build: add entrypoint to Dockerfile
  .ebextensions/migrations.config
  .ebextensions/scripts/db_migrate.sh
  Dockerfile
  bin/entry.sh
Due: none

build: add container_commands.config
  .ebextensions/container_commands.config
  Dockerfile
  bin/entry.sh
Due: none

build: add container_commands.config
  .ebextensions/container_commands.config
Due: none

build: add entrypoint to dockerfile
  Dockerfile
  bin/entry.sh
Due: none

build: delete container_commands file
  .ebextensions/container_commands.config
  Dockerfile
Due: none

build: add entrypoint command
  Dockerfile
Due: none

refactor: update credit cards adaptar to a class
  app/adapters/adapter/controllers/payment/credit_cards.rb
  app/controllers/api/v1/payments/credit_cards_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add STRIPE env vars to env.yml
  config/env.yml
Due: none

refactor: add find_or_create_user to CreditCards adapter
  app/adapters/adapter/controllers/payment/credit_cards.rb
  app/controllers/api/v1/payments/credit_cards_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds user givings
  app/blueprints/customer_payment_blueprint.rb
  app/controllers/api/v1/givings/user_givings.rb
  app/models/customers/customer_payment.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feature: add amount_cents to customer_payments
  db/migrate/20220630163818_add_amount_cents_to_customer_payments.rb
Due: bundle exec rubocop --force-exclusion -A

fix: fixes controller singular/plural problem
  app/controllers/api/v1/givings/user_givings_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feature: updating schema
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feature: using control inversion on the create order command
  app/commands/givings/payment/create_order.rb
Due: bundle exec rubocop --force-exclusion -A

feature: credit card order type class
  app/commands/givings/payment/order_types/credit_card.rb
Due: bundle exec rubocop --force-exclusion -A

cryptocurrency order type class
  app/commands/givings/payment/order_types/cryptocurrency.rb
Due: bundle exec rubocop --force-exclusion -A

feature: new create order test cases
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: default value for the order operation
  app/models/payment/order.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add eth rb
  Gemfile
  Gemfile.lock
  app/lib/web3/utils/donation_token_abi.json
  app/lib/web3/utils/ribon_abi.json
Due: none

refactor: removes unused givings function
  app/controllers/api/v1/givings/user_givings_controller.rb
Due: bundle exec rubocop --force-exclusion -A

test: adds userGivings test
  spec/requests/api/v1/givings/user_givings_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add client and network classes to Web3
  app/lib/web3/client.rb
  app/lib/web3/networks.rb
Due: bundle exec rubocop --force-exclusion -A

test: tests crypto_amount in user_givings request
  spec/requests/api/v1/givings/user_givings_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add providers namespace to Client and Networks
  app/lib/web3/client.rb
  app/lib/web3/networks.rb
  app/lib/web3/providers/client.rb
  app/lib/web3/providers/networks.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add contracts
  .rubocop.yml
  app/lib/web3/contracts/base_contract.rb
  app/lib/web3/contracts/donation_token_contract.rb
  app/lib/web3/contracts/ribon_contract.rb
  app/lib/web3/providers/networks.rb
  config/env.yml
Due: bundle exec rubocop --force-exclusion -A

feat: add base_contract default args
  app/lib/web3/contracts/base_contract.rb
  config/env.yml
Due: bundle exec rubocop --force-exclusion -A

refactor: add abis folder and provider keys
  app/lib/web3/contracts/base_contract.rb
  app/lib/web3/contracts/donation_token_contract.rb
  app/lib/web3/contracts/ribon_contract.rb
  app/lib/web3/providers/keys.rb
  app/lib/web3/utils/abis/donation_token_abi.json
  app/lib/web3/utils/abis/ribon_abi.json
  app/lib/web3/utils/converter.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update lint in gemfile
  Gemfile
Due: none

feat: add donate_through_integration to RibonContract
  app/lib/web3/contracts/ribon_contract.rb
Due: bundle exec rubocop --force-exclusion -A

test: add tests to Web3::Providers::Client
  spec/lib/web3/providers/client_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: changing offer relationship to optional
  app/models/customers/customer_payment.rb
Due: bundle exec rubocop --force-exclusion -A

feature: adding one more testcase
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add base_contract tests
  spec/lib/web3/contracts/base_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to RibonContract
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: adding order type to the controller specs
  spec/requests/api/v1/payments/credit_cards_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: credit card command call
  app/controllers/api/v1/payments/credit_cards_controller.rb
Due: bundle exec rubocop --force-exclusion -A
