Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

fix: delete UserImpact model that is not used
  app/models/user_impact.rb
  spec/factories/user_impacts.rb
  spec/models/user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rubocop
  Gemfile
  app/models/user.rb
  app/services/graphql/queries/fetch_donation_balances.rb
  app/services/graphql/queries/fetch_integrations.rb
  app/services/graphql/queries/fetch_non_profits.rb
  app/services/graphql/queries/fetch_promoters.rb
  app/services/graphql/ribon_api.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update ribon_api headers
  app/services/graphql/ribon_api.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update env with the graph url
  app/services/graphql/ribon_api.rb
  config/env.yml
Due: bundle exec rubocop --force-exclusion -A

fix: add route to user impact
  app/controllers/api/v1/users_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add SetUserLastDonation command and call it on Donate
  app/commands/donations/donate.rb
  app/commands/donations/set_user_last_donation_at.rb
  spec/commands/donations/donate_spec.rb
  spec/commands/donations/set_user_last_donation_at_spec.rb
  spec/factories/donations.rb
  spec/rails_helper.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add route to user impact
  app/blueprints/user_impact_blueprint.rb
  app/controllers/api/v1/users_controller.rb
  app/models/user.rb
  app/services/user_impacts/user_impact.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: rubocop
  app/services/user_impacts/user_impact.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update User in userimpact controller to test
  app/controllers/api/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add can can can and seeds
  Gemfile
  Gemfile.lock
  app/models/ability.rb
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add can can can to donation
  app/blueprints/error_blueprint.rb
  app/controllers/api/v1/donations_controller.rb
  app/controllers/application_controller.rb
  app/models/ability.rb
  config/application.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add new message to donation deny
  app/controllers/api/v1/donations_controller.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add I18n to donations controller messages
  app/controllers/api/v1/donations_controller.rb
  config/locales/en.yml
  config/locales/pt-BR.yml
Due: bundle exec rubocop --force-exclusion -A

refactor: update UserServices user_impact methods
  Gemfile.lock
  app/models/user.rb
  app/services/user_impacts/user_impact.rb
  app/services/user_services/user_impact.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update methods order in user_services user_impact
  app/services/user_services/user_impact.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add user_impact service and graphql factories
  app/services/user_services/user_impact.rb
  spec/factories/graphql/fetch_donation_balances_query.rb
  spec/factories/non_profits.rb
  spec/services/user_services/user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add user impacts controller
  app/blueprints/user_impact_blueprint.rb
  app/controllers/api/v1/users/impacts_controller.rb
  app/controllers/api/v1/users_controller.rb
  config/routes.rb
  spec/requests/api/v1/users/impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add gwei factor
  app/services/user_services/user_impact.rb
  spec/services/user_services/user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add user_impacts controller spec
  spec/requests/api/v1/users/impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add more methods to user_impact
  app/services/user_services/user_impact.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add rubycritic and coverage
  .gitignore
  .rubycritic.yml
  Gemfile
  Gemfile.lock
  spec/spec_helper.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: remove unused method in user_impact
  app/services/user_services/user_impact.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove graphiql
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: temporary comment on create_users
  db/migrate/20220222123150_create_users.rb
Due: bundle exec rubocop --force-exclusion -A

fix: uncomment create users migration
  db/migrate/20220222123150_create_users.rb
Due: bundle exec rubocop --force-exclusion -A

build: update gemfile
  Gemfile.lock
Due: none

feat: add donations_count to users impact controller
  app/controllers/api/v1/users/impacts_controller.rb
  config/routes.rb
  spec/requests/api/v1/users/impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: add ffi gem
  Gemfile
  Gemfile.lock
Due: none

build: add libffi-dev install
  .ebextensions/packages.config
Due: none

build: add libxml2-dev to packages.config
  .ebextensions/packages.config
Due: none

fix: update libffi command
  .ebextensions/packages.config
Due: none

docs: update readme with install instructions and envs
  README.md
Due: none

feat: add description to non profits
  app/blueprints/non_profit_blueprint.rb
  db/migrate/20220428143225_add_description_to_non_profits.rb
  db/schema.rb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add description to translated fields in NonProfit
  app/models/non_profit.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add RibonConfig model
  app/models/ribon_config.rb
  config/initializers/rails_admin.rb
  db/migrate/20220502171220_create_ribon_configs.rb
  db/schema.rb
  spec/factories/ribon_configs.rb
  spec/models/ribon_config_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add default_ticket_value to RibonConfig
  app/models/ribon_config.rb
  config/initializers/rails_admin.rb
  spec/models/ribon_config_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add GWEI factor to donate command
  app/commands/donations/donate.rb
  app/lib/web3/ribon_contract.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add stop destroy to RibonConfig
  app/models/ribon_config.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update donate command to use transaction
  app/commands/donations/donate.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add transaction hash return
  app/commands/donations/donate.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec
