Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: taxid addition specs
  spec/lib/payment/gateways/stripe/entities/tax_id_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: taxid addition class
  app/lib/payment/gateways/stripe/entities/tax_id.rb
Due: bundle exec rubocop --force-exclusion -A

feat: using a constant to allowed taxid regions
  app/lib/payment/gateways/stripe/base.rb
Due: bundle exec rubocop --force-exclusion -A

refac: some countries can have more than one taxid type
  app/lib/payment/gateways/stripe/base.rb
  app/lib/payment/gateways/stripe/entities/tax_id.rb
  spec/lib/payment/gateways/stripe/entities/tax_id_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refac: changing national_id to tax_id
  app/lib/payment/gateways/stripe/entities/tax_id.rb
  spec/lib/payment/gateways/stripe/entities/tax_id_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refac: rename national_id on the database
  db/migrate/20220615143343_rename_national_id_in_customers.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

refac: renaming national_id in remaining places
  spec/factories/customers.rb
  spec/lib/payment/gateways/stripe/entities/tax_id_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: update storage.yml and production.rb
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  config/storage.yml
Due: bundle exec rubocop --force-exclusion -A

Add givings orchestrator
  app/lib/payment/gateways/gateway_builder.rb
  app/models/payment/order.rb
  app/services/giving_services/payment/gateway_factory.rb
  app/services/giving_services/payment/orchestrator.rb
Due: bundle exec rubocop --force-exclusion -A

Add offer and offer_gateways
  app/models/payment/offer.rb
  app/models/payment/offer_gateway.rb
  db/migrate/20220615202944_create_offers.rb
  db/migrate/20220615203835_create_offer_gateways.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: removing some unused code
  app/lib/payment/gateways/gateway_builder.rb
  app/lib/payment/payment_service.rb
  app/lib/payment/stripe/base.rb
  app/lib/payment/stripe/billings/unique_payment_service.rb
  app/lib/payment/stripe/cancel_service.rb
  app/lib/payment/stripe/service.rb
  app/lib/payment/stripe/webhooks/event_handler.rb
  app/lib/payment/stripe/webhooks/event_types.rb
  app/lib/payment/transaction.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: removing unused specs
  spec/lib/payment/payment_service_spec.rb
  spec/lib/payment/stripe/billings/unique_payment_service_spec.rb
  spec/lib/payment/stripe/service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: update dockerfile to expose 8080
  Dockerfile
  docker-compose.yml.sample
Due: none

build: add puma files
  .gitignore
  shared/pids/puma.pid
  shared/pids/puma.state
  shared/sockets/puma.sock
Due: none

refactor: removing duplicated customer factory
  spec/factories/customers.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: moving credit card class to the models folder
  app/lib/payment/card.rb
  app/lib/payment/methods/card.rb
  app/models/payment/methods/credit_card.rb
Due: bundle exec rubocop --force-exclusion -A

fix: validation broken if subscription is false
  app/models/payment/offer.rb
Due: bundle exec rubocop --force-exclusion -A

feature: unique payment specs
  spec/lib/payment/gateways/stripe/billing/unique_payment_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: stripe subscription specs
  spec/lib/payment/gateways/stripe/billing/subscription_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: stripe subscription implementation
  app/lib/payment/gateways/stripe/billing/subscription.rb
Due: bundle exec rubocop --force-exclusion -A

feature: stripe unique payment implementation
  app/lib/payment/gateways/stripe/billing/unique_payment.rb
Due: bundle exec rubocop --force-exclusion -A

fix: offer factories fields with wrong names
  spec/factories/payment/offer_gateways.rb
  spec/factories/payment/offers.rb
Due: bundle exec rubocop --force-exclusion -A

feature: updating database schema
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update lint on specs
  config/database.yml
  spec/lib/payment/gateways/stripe/entities/customer_spec.rb
  spec/lib/payment/gateways/stripe/entities/payment_method_spec.rb
  spec/lib/payment/gateways/stripe/entities/tax_id_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: customer tax_id field name
  spec/factories/payment/customers.rb
Due: bundle exec rubocop --force-exclusion -A

fix: credit card model instance
  spec/lib/payment/gateways/stripe/entities/payment_method_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: customer payments migration
  db/migrate/20220620194753_create_customer_payments.rb
Due: bundle exec rubocop --force-exclusion -A

feature: customer payments model
  app/models/customers/customer_payment.rb
Due: bundle exec rubocop --force-exclusion -A

feature: shorthand for creating new orders
  app/models/payment/order.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add health check path
  app/controllers/main_controller.rb
  config/routes.rb
  spec/requests/main_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: renaming customer payment model
  app/models/customers/customer_payment.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add redis ping to health check
  app/controllers/main_controller.rb
Due: bundle exec rubocop --force-exclusion -A

build: add redis server to github actions
  .github/workflows/tests.yml
Due: none

feature: add offer foreign key to payments
  db/migrate/20220621130603_add_offer_to_payments.rb
Due: bundle exec rubocop --force-exclusion -A

feature: update database schema
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

build: update redis version to 6 in github actions
  .github/workflows/tests.yml
Due: none

refactor: rubocop issues
  app/lib/payment/gateways/stripe/billing/unique_payment.rb
  app/models/customers/customer_payment.rb
  app/models/payment/methods/credit_card.rb
  app/services/giving_services/payment/gateway_factory.rb
  app/services/giving_services/payment/orchestrator.rb
  spec/factories/payment/cards.rb
  spec/factories/payment/customers.rb
  spec/factories/payment/offer_gateways.rb
  spec/factories/payment/offers.rb
  spec/factories/payment/payment.rb
  spec/factories/payment/transaction.rb
  spec/lib/payment/gateways/stripe/billing/subscription_spec.rb
  spec/lib/payment/gateways/stripe/billing/unique_payment_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: fixing more rubocop issues
  app/models/customers/customer_payment.rb
  spec/lib/payment/gateways/stripe/billing/subscription_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: splitting payment attributes from general attributes on order model
  app/models/payment/order.rb
Due: bundle exec rubocop --force-exclusion -A

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
