Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

fix: add current_user validation to can_donate
  app/controllers/api/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feature: receive id or uuid as a parameter in the show method
  app/controllers/api/v1/integrations_controller.rb
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

Update tests.yml
  .github/workflows/tests.yml
Due: none

fix: add seed test to github flow
  .github/workflows/tests.yml
Due: none

fix: change failed status to 0x0 according to api docs
  app/lib/web3/utils/transaction_utils.rb
Due: bundle exec rubocop --force-exclusion -A

fix: drop test db before create
  .github/workflows/tests.yml
Due: none

fix: add validation to not create multiple sources for the user
  app/controllers/api/v1/sources_controller.rb
  config/locales/en.yml
  config/locales/pt-BR.yml
  spec/lib/web3/utils/transaction_utils_spec.rb
  spec/requests/api/v1/sources_spec.rb
  spec/services/person_payment_services/blockchain_transaction_spec.rb
  spec/services/service/donations/donation_blockchain_transaction_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add default_chain_id to RibonConfig
  app/models/blockchain/chain.rb
  app/models/configs/ribon_config.rb
  config/initializers/rails_admin.rb
  db/migrate/20220824115402_add_default_chain_id_to_ribon_configs.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add default_chain_id to seeds
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

test: update ribon config factory to use default_chain_id
  spec/commands/givings/community_treasure/add_balance_spec.rb
  spec/factories/ribon_configs.rb
  spec/services/person_payment_services/blockchain_transaction_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add production-worker-deploy.yml to github workflows
  .github/workflows/production-worker-deploy.yml
Due: none

feature: update the ribon contract abi
  app/lib/web3/utils/abis/ribon_abi.json
Due: none

feature: add donation poll param to some contract methods
  app/lib/web3/contracts/ribon_contract.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: add the hardcoded donation poll address
  app/commands/donations/donate.rb
  app/commands/givings/community_treasure/add_balance.rb
  spec/commands/donations/donate_spec.rb
  spec/commands/givings/community_treasure/add_balance_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: change method to add pool balance
  app/commands/givings/community_treasure/add_balance.rb
  app/lib/web3/contracts/ribon_contract.rb
  spec/commands/givings/community_treasure/add_balance_spec.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: remove link/description from nonprofit
  db/migrate/20220830112145_remove_link_and_description_from_non_profits.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

fix: removes link from non_profit factory
  spec/factories/non_profits.rb
Due: bundle exec rubocop --force-exclusion -A

fix: removes link/description from blueprint
  app/blueprints/non_profit_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: removes link/description from test
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add stripe customer id in customer table
  app/lib/payment/gateways/stripe/payment_processor.rb
Due: bundle exec rubocop --force-exclusion -A

fix: adjust linter
  app/lib/payment/gateways/stripe/payment_processor.rb
Due: bundle exec rubocop --force-exclusion -A

fix: adjust update
  app/lib/payment/gateways/stripe/payment_processor.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adjust linter
  app/lib/payment/gateways/stripe/payment_processor.rb
Due: bundle exec rubocop --force-exclusion -A

feature: updating the abi file
  app/lib/web3/utils/abis/ribon_abi.json
Due: none

feature: using byebug to debug
  Gemfile
  Gemfile.lock
Due: none

feature: using seeds encrypted with the env example key
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

feature: new donation pool address
  app/commands/donations/donate.rb
  app/commands/givings/community_treasure/add_balance.rb
Due: bundle exec rubocop --force-exclusion -A

feature: polygon environment vars mapping
  config/env.yml
Due: none

feature: adds polygon mainnet to networks
  app/lib/web3/providers/networks.rb
Due: bundle exec rubocop --force-exclusion -A

fix: use strict decode to decode base64 keys
  app/models/integrations/integration_wallet.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update ribon_abi and ribon contract decimals amount on methods
  .gitignore
  app/lib/web3/contracts/ribon_contract.rb
  app/lib/web3/providers/client.rb
  app/lib/web3/utils/abis/ribon_abi.json
Due: bundle exec rubocop --force-exclusion -A

test: fix specs that depended on ribon contract
  app/lib/web3/contracts/ribon_contract.rb
  app/lib/web3/utils/converter.rb
  spec/commands/donations/donate_spec.rb
  spec/commands/givings/community_treasure/add_balance_spec.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: add polygon envs to github actions
  .github/workflows/tests.yml
Due: none

fix: lint on networks file
  app/lib/web3/providers/networks.rb
Due: bundle exec rubocop --force-exclusion -A

fix: adjust the graph query
  app/services/graphql/queries/fetch_donation_balances.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove whitespace
  app/services/graphql/queries/fetch_donation_balances.rb
Due: bundle exec rubocop --force-exclusion -A
