Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: push to develop on test-deploy
  .github/workflows/test-deploy.yml
Due: none

fix: deploy app on test-deploy
  .github/workflows/test-deploy.yml
Due: none

fix: increase gas fee
  app/lib/web3/utils/gas.rb
Due: bundle exec rubocop --force-exclusion -A

feat: new spec structure
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: method implementation and routes
  app/controllers/api/v1/person_payments_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feat: test pagination
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: lint issues
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: naming and array optimization
  app/controllers/api/v1/person_payments_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: sendgrid
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/lib/ribon_mailer.rb
  app/mailers/sendgrid_web_mailer.rb
  config/env.yml
Due: bundle exec rubocop --force-exclusion -A

feat: added language to user
  .rubocop.yml
  app/controllers/api/v1/users_controller.rb
  app/models/users/user.rb
  db/migrate/20230213163444_add_language_to_user.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: email sent
  app/mailers/sendgrid_web_mailer.rb
Due: bundle exec rubocop --force-exclusion -A

feat: update language
  app/controllers/application_controller.rb
  app/models/users/user.rb
  db/migrate/20230213163444_add_language_to_user.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update gas fee
  app/lib/web3/utils/gas.rb
Due: bundle exec rubocop --force-exclusion -A

fix: put validations when doens't have donations in period
  app/lib/date_range/splitter.rb
  app/services/service/donations/statistics.rb
  app/services/service/integrations/impact.rb
Due: bundle exec rubocop --force-exclusion -A

fix: linter
  .rubocop.yml
  app/lib/date_range/splitter.rb
  app/services/service/donations/statistics.rb
  app/services/service/integrations/impact.rb
Due: bundle exec rubocop --force-exclusion -A

fix: default max fee per gas
  app/lib/web3/utils/gas.rb
Due: bundle exec rubocop --force-exclusion -A

feat: impact normalizer written in ruby
  app/lib/impact/normalizer.rb
  config/locales/en.yml
  config/locales/pt-BR.yml
  spec/lib/impact/normalizer_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: prefix translations
  config/locales/en.yml
  config/locales/pt-BR.yml
Due: none

feat: use normalizer to build descriptions
  app/blueprints/site_non_profits_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: set language without passing flags
  app/controllers/api/v1/site/site_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: typo
  app/controllers/api/v1/site/site_controller.rb
  app/lib/impact/normalizer.rb
Due: bundle exec rubocop --force-exclusion -A

fix: broken tests
  spec/factories/non_profits.rb
  spec/requests/api/v1/site/site_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: default measurement unit
  spec/factories/non_profits.rb
Due: bundle exec rubocop --force-exclusion -A

feat: error handling
  app/lib/exceptions.rb
  app/lib/impact/normalizer.rb
  spec/lib/impact/normalizer_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rubocop issues
  spec/lib/impact/normalizer_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: typo
  app/lib/impact/normalizer.rb
Due: bundle exec rubocop --force-exclusion -A

test: (wip) adds send mail after first donation
  app/commands/donations/donate.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: tests
  app/commands/donations/donate.rb
  config/env.yml
  spec/commands/donations/donate_spec.rb
  spec/requests/api/v1/vouchers/donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: (wip) adds inactivity mail worker
  app/workers/mailers/send_inactivity_email_worker.rb
  config/schedule.yml
  config/sidekiq.yml
Due: bundle exec rubocop --force-exclusion -A

feat: adds inactive donors email job and worker
  app/jobs/mailers/send_inactivity_email_job.rb
  app/workers/mailers/send_inactivity_email_worker.rb
  config/schedule.yml
Due: bundle exec rubocop --force-exclusion -A

feat: return normalized impact description in the non_profits response
  app/blueprints/non_profit_blueprint.rb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: adds test for inactivity email job
  app/jobs/mailers/send_inactivity_email_job.rb
  app/jobs/mailers/send_one_week_inactivity_email_job.rb
  app/workers/mailers/send_inactivity_email_worker.rb
  app/workers/mailers/send_one_week_inactivity_email_worker.rb
  config/env.yml
  config/schedule.yml
  spec/jobs/mailers/send_inactivity_email_job_spec.rb
  spec/support/vcr_cassettes/sendgrid_email_api.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: adds email inactivity job tests
  app/jobs/mailers/send_one_week_inactivity_email_job.rb
  spec/jobs/mailers/send_inactivity_email_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rubocop
  spec/jobs/mailers/send_one_week_inactivity_email_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: (wip) email for success giving payment
  app/commands/givings/payment/order_types/credit_card.rb
  spec/commands/givings/payment/create_order_spec.rb
  spec/support/vcr_cassettes/sendgrid_email_api.yml
  spec/support/vcr_cassettes/stripe_payment_method.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: (wip) parameters
  app/commands/givings/payment/order_types/credit_card.rb
  config/env.yml
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: test
  config/env.yml
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
