Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: payment method remove default
  db/migrate/20220908170031_change_payment_method_on_person_payment.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: change on non profit migration
  db/migrate/20220906183657_add_status_to_non_profits.rb
Due: bundle exec rubocop --force-exclusion -A

feat: change on non profit migration
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

fix: delete seeds test in github flow
  .github/workflows/tests.yml
  db/seeds.rb
  spec/db/seeds_spec.rb
  spec/factories/admins.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add dump.rdb file
  .gitignore
  dump.rdb
Due: none

fix: delete dump.rdb
  dump.rdb
Due: none

refactor: update cp/config in tests.yml
  .github/workflows/tests.yml
Due: none

feat: add seed completed message
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

feat: resolve conflicts with develop
  db/seeds.rb
  spec/factories/non_profits.rb
Due: bundle exec rubocop --force-exclusion -A

feat: gem annotate
  app/models/blockchain/token.rb
  app/models/donations/donation.rb
  app/models/donations/donation_blockchain_transaction.rb
  app/models/integrations/integration_wallet.rb
  app/models/non_profits/non_profit_impact.rb
  app/models/payment/offer_gateway.rb
  app/models/people/customers/customer.rb
  app/models/people/guests/guest.rb
  app/models/people/person_blockchain_transaction.rb
  app/models/people/person_payment.rb
  app/models/people/person_payment_fee.rb
  app/models/users/admin.rb
  app/models/users/source.rb
  app/models/users/user.rb
  app/models/users/user_donation_stats.rb
  lib/tasks/auto_annotate_models.rake
  spec/factories/donation_blockchain_transactions.rb
  spec/factories/donations.rb
  spec/factories/integration_wallets.rb
  spec/factories/non_profit_impacts.rb
  spec/factories/person_blockchain_transactions.rb
  spec/factories/person_payment_fees.rb
  spec/factories/sources.rb
  spec/factories/tokens.rb
  spec/factories/user_donation_stats.rb
  spec/factories/users.rb
  spec/models/customer_spec.rb
  spec/models/donation_blockchain_transaction_spec.rb
  spec/models/donation_spec.rb
  spec/models/integration_wallet_spec.rb
  spec/models/non_profit_impact_spec.rb
  spec/models/person_blockchain_transaction_spec.rb
  spec/models/person_payment_fee_spec.rb
  spec/models/person_payment_spec.rb
  spec/models/token_spec.rb
  spec/models/user_donation_stats_spec.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  lib/tasks/auto_annotate_models.rake
Due: none

feat: lint
  .rubocop.yml
Due: none

feat: add #find_by_id_or_unique_address to Integration
  app/models/integrations/integration.rb
  lib/ext/string.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add find_by_id_or_unique_address to users can donate controller
  .rubocop.yml
  app/controllers/api/v1/users_controller.rb
  spec/models/integration_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: update production worker env name
  .github/workflows/production-worker-deploy.yml
Due: none

test: update integration tests to .find_by_id_or_unique_address
  spec/models/integration_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add safe operator to users givings controller
  app/controllers/api/v1/givings/user_givings_controller.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: remove integration relationship from model
  app/models/blockchain/pool.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: remove integration relationship from migration
  db/migrate/20220908143101_create_pools.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: remove integration relationship from factory
  spec/factories/pools.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: remove integration relationship from specs
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: non profit pools table
  db/migrate/20220912181700_create_non_profit_pools.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: annotate models
  app/models/blockchain/pool.rb
  app/models/integrations/integration.rb
  app/models/non_profits/non_profit.rb
  app/models/people/person_payment.rb
  spec/factories/integrations.rb
  spec/factories/non_profits.rb
  spec/factories/pools.rb
  spec/models/integration_spec.rb
  spec/models/non_profit_spec.rb
  spec/models/person_payment_spec.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: add has many to pools and non profits
  app/models/blockchain/pool.rb
  app/models/non_profits/non_profit.rb
Due: bundle exec rubocop --force-exclusion -A

feature: non profit pool model
  app/models/blockchain/non_profit_pool.rb
Due: bundle exec rubocop --force-exclusion -A

feature: non profit pool specs
  spec/factories/non_profit_pools.rb
  spec/models/non_profit_pool_spec.rb
  spec/models/non_profit_spec.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: integration pool model
  app/models/blockchain/integration_pool.rb
Due: bundle exec rubocop --force-exclusion -A

feature: integration pool table
  db/migrate/20220913133040_create_integration_pools.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feature: some model changes for pool and integrations
  app/models/blockchain/pool.rb
  app/models/integrations/integration.rb
Due: bundle exec rubocop --force-exclusion -A

feature: integration pool specs and factories
  spec/factories/integration_pools.rb
  spec/models/integration_pool_spec.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add constants and remove some envs to env example
  .env.example
  config/env.yml
Due: none

fix: adjust integration url
  config/env.yml
Due: none

fix: adjust integration url and tests
  config/env.yml
  spec/models/integration_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add CreateBlockchainDonation command
  app/commands/donations/create_blockchain_donation.rb
  spec/commands/donations/create_blockchain_donation_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: dockerfile
  Dockerfile.dev
  bin/docker-dev-entrypoint.sh
  config/database.docker.yml
Due: none

feature: creating causes table and associations
  db/migrate/20220914182337_create_causes.rb
  db/migrate/20220914182513_add_cause_to_non_profit.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feature: causes model and associations
  app/models/blockchain/pool.rb
  app/models/causes/cause.rb
  app/models/non_profits/non_profit.rb
Due: bundle exec rubocop --force-exclusion -A

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
