Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

fix: update production.rb and contribution fee to not be negative
  app/services/service/contributions/contribution_fee_service.rb
  config/environments/production.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update start_date to use beggining_of_day
  app/controllers/api/v1/integrations/impacts_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add env var to polygon_gas_fee_url
  config/env.yml
Due: none

fix: update crypto_value_cents variable name to usd_value_cents
  app/models/contributions/contribution.rb
  app/models/people/person_payment.rb
  app/models/users/user.rb
  app/services/service/contributions/contribution_fee_service.rb
  db/migrate/20230411124309_fix_crypto_value_cents_name.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/person_payment_spec.rb
  spec/models/rule_groups/choose_between_big_donors_and_promoters_spec.rb
  spec/models/rule_groups/fetch_contributions_with_low_remaining_amount_spec.rb
  spec/models/rule_groups/pick_contribution_based_on_money_spec.rb
  spec/models/user_spec.rb
  spec/services/service/contributions/contribution_fee_calculator_service_spec.rb
  spec/services/service/contributions/contribution_fee_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: delete duplicated usc_value_cents
  app/models/contributions/contribution.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add contribution generated_fee_cents
  app/commands/contributions/create_contribution.rb
  app/models/contributions/contribution.rb
  app/services/service/contributions/contribution_fee_service.rb
  db/migrate/20230411135017_add_generated_fee_to_contributions.rb
  db/schema.rb
  spec/factories/contributions.rb
  spec/models/contribution_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add contribution scope with_paid_status
  app/commands/contributions/labeling/determine_chosen_contribution.rb
  app/models/contributions/contribution.rb
Due: bundle exec rubocop --force-exclusion -A

test: update determine chosen contribution and contribution specs
  spec/commands/contributions/labeling/determine_chosen_contribution_spec.rb
  spec/models/contribution_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add .with_paid_status scope to contribution balance
  app/models/contributions/contribution_balance.rb
  spec/models/contribution_balance_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add with_paid_status trait to contribution and contribution balance
  app/services/service/contributions/contribution_fee_service.rb
  spec/factories/contribution_balances.rb
  spec/factories/contributions.rb
  spec/services/service/contributions/contribution_fee_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: remove test
  spec/services/graphql/queries/fetch_pools_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: update total_increased_amount to contribution_increased_amount
  .rubocop.yml
  app/commands/contributions/update_contribution_balance.rb
  app/commands/donations/create_donations_batch.rb
  app/models/contributions/contribution.rb
  app/models/contributions/contribution_balance.rb
  app/models/contributions/contribution_fee.rb
  app/services/service/contributions/contribution_fee_service.rb
  db/migrate/20230411182152_fix_total_fees_increased_cents_name.rb
  db/migrate/20230411183002_add_payer_contribution_increased_amount_cents_to_contribution_fees.rb
  db/schema.rb
  spec/factories/contribution_balances.rb
  spec/factories/contribution_fees.rb
  spec/models/contribution_balance_spec.rb
  spec/models/contribution_fee_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds big donations view for person payments
  app/blueprints/person_payment_blueprint.rb
  app/controllers/api/v1/person_payments_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update contributions fee flow to use only contributions for causes
  app/models/contributions/contribution.rb
  app/models/contributions/contribution_balance.rb
  app/services/service/contributions/contribution_fee_service.rb
  spec/models/contribution_balance_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update set_contribution_balance to not create balance if NonProfit
  app/models/contributions/contribution.rb
Due: bundle exec rubocop --force-exclusion -A

test: update create contribution spec to not set contribution balance when non profit
  spec/commands/contributions/create_contribution_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update logic to calculate proportional_fee
  app/services/service/contributions/contribution_fee_calculator_service.rb
  app/services/service/contributions/contribution_fee_service.rb
  spec/services/service/contributions/contribution_fee_calculator_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update logic to calculate fee for the last contribution balance
  app/services/service/contributions/contribution_fee_service.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds a big donor donatio show route
  app/blueprints/person_payment_blueprint.rb
  app/controllers/api/v1/person_payments_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add platform to verify if can donate
  app/commands/donations/donate.rb
  app/controllers/api/v1/users_controller.rb
  app/models/users/user_donation_stats.rb
  spec/models/user_donation_stats_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add interoperability between tickets and fee balances
  app/commands/contributions/labeling/determine_chosen_contribution.rb
  app/models/contributions/contribution_balance.rb
  app/services/service/contributions/contribution_fee_calculator_service.rb
  app/services/service/contributions/handle_remaining_contribution_fee.rb
  app/services/service/contributions/ticket_labeling_service.rb
  spec/models/contribution_balance_spec.rb
  spec/services/service/contributions/contribution_fee_calculator_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update handle remaining contribution fee to get tickets balance
  app/commands/contributions/labeling/determine_chosen_contribution.rb
  app/models/contributions/contribution.rb
  app/services/service/contributions/contribution_fee_service.rb
  app/services/service/contributions/handle_remaining_contribution_fee.rb
  spec/models/contribution_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update ContributionFeeService name to FeesLabelingService
  app/commands/contributions/create_contribution.rb
  app/services/service/contributions/fees_labeling_service.rb
  spec/commands/contributions/create_contribution_spec.rb
  spec/services/service/contributions/fees_labeling_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: linter
  spec/models/user_donation_stats_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: case when there is no receiver
  app/blueprints/person_payment_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add ContributionQueries and use it on FeesLabelingService
  app/queries/contribution_queries.rb
  app/services/service/contributions/fees_labeling_service.rb
  spec/queries/contribution_queries_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update fees_labeling_service methods
  app/services/service/contributions/fees_labeling_service.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add LastContributionFeeHandlerService
  app/services/service/contributions/contribution_fee_creator_service.rb
  app/services/service/contributions/fees_labeling_service.rb
  app/services/service/contributions/last_contribution_fee_handler_service.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add fee_and_increased_value method
  app/services/service/contributions/contribution_fee_calculator_service.rb
  app/services/service/contributions/fees_labeling_service.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update contribution_fee services
  app/queries/contribution_queries.rb
  app/services/service/contributions/contribution_fee_calculator_service.rb
  app/services/service/contributions/handle_remaining_contribution_fee.rb
  app/services/service/contributions/last_contribution_fee_handler_service.rb
  app/services/service/contributions/remaining_contribution_fee_handler_service.rb
Due: bundle exec rubocop --force-exclusion -A

test: add test for ContributionFeeCreatorService
  spec/services/service/contributions/contribution_fee_creator_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add test for last_contribution_fee_handler_service
  spec/services/service/contributions/last_contribution_fee_handler_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: update last_contribution_fee_handler specs
  app/services/service/contributions/remaining_contribution_fee_handler_service.rb
  spec/services/service/contributions/last_contribution_fee_handler_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: fixes 500 error
  app/blueprints/person_payment_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add validation to ContributionFee fee_cents
  app/models/contributions/contribution_fee.rb
  spec/models/contribution_fee_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add validation to fee_cents not negative on ContributonFee
  app/services/service/contributions/contribution_fee_creator_service.rb
  app/services/service/contributions/fees_labeling_service.rb
Due: bundle exec rubocop --force-exclusion -A

fix: pass cause object instead of name
  app/blueprints/person_payment_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add LegacyNonProfit table to migrated data from web2
  app/models/legacy/legacy_non_profit.rb
  db/migrate/20230418125247_create_legacy_non_profits.rb
  db/schema.rb
  spec/factories/legacy/legacy_non_profits.rb
  spec/models/legacy/legacy_non_profit_spec.rb
  yarn.lock
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add LegacyNonProfit table to migrated data from web2
  yarn.lock
Due: none
