Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: removes methods not used in manager
  app/controllers/managers/v1/causes_controller.rb
  app/controllers/managers/v1/non_profits_controller.rb
  app/controllers/managers/v1/payments/credit_cards_controller.rb
  app/controllers/managers/v1/stories_controller.rb
  app/controllers/managers/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add without_label scope to Donation
  app/models/donations/donation.rb
  spec/models/donation_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: donations with batch failed
  app/queries/donation_queries.rb
  app/services/service/donations/pool_balances.rb
  spec/queries/donation_queries_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: unnecessary code
  app/queries/donation_queries.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add label missed donations worker
  app/workers/contributions/label_missed_donations_worker.rb
  config/sidekiq.yml
  spec/workers/contributions/label_missed_donations_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add legacy contribution route creation
  app/commands/legacy/create_legacy_contribution.rb
  app/controllers/api/v1/legacy/legacy_user_impact_controller.rb
  app/jobs/legacy/create_legacy_contributions_job.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add cronjob to label missed donations worker
  config/schedule.yml
Due: none

feat: update legacy contribution creation job
  app/commands/legacy/create_legacy_contribution.rb
  app/controllers/api/v1/legacy/legacy_user_impact_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update legacy contribution route
  app/commands/legacy/create_legacy_contribution.rb
  app/controllers/api/v1/legacy/legacy_user_impact_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove circular call of ticket labeling services
  app/services/service/contributions/remaining_contribution_fee_handler_service.rb
Due: bundle exec rubocop --force-exclusion -A

fix: impact en pt-br
  app/commands/legacy/create_legacy_user_impact.rb
Due: bundle exec rubocop --force-exclusion -A

fix: tests
  spec/commands/legacy/create_legacy_user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add without contribution scope to PersonPayment
  app/models/people/person_payment.rb
  spec/models/person_payment_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add create_contribution_for_missed_payments worker
  app/workers/contributions/create_contribution_for_missed_payments_worker.rb
  spec/workers/contributions/create_contribution_for_missed_payments_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add create_contribution_for_missed_payments to cron
  config/schedule.yml
Due: none

test: add legacy_contribution_job test spec
  spec/jobs/legacy/create_legacy_contributions_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: update user to optional on LegacyContribution
  app/models/legacy/legacy_contribution.rb
  db/migrate/20230515125428_update_user_id_null_on_legacy_contributions.rb
  spec/commands/legacy/create_legacy_contribution_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: update null true to user_id on legacy contributions
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add legacy user model
  app/models/legacy_user.rb
  db/migrate/20230515132409_create_legacy_users.rb
  spec/factories/legacy_users.rb
  spec/models/legacy_user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add Legacy User
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add LegacyUser to LegacyContribution and LegacyUserImpact
  app/models/legacy/legacy_contribution.rb
  app/models/legacy/legacy_user.rb
  app/models/legacy/legacy_user_impact.rb
  app/models/legacy_user.rb
  db/migrate/20230515125428_update_user_id_null_on_legacy_contributions.rb
  db/migrate/20230515134603_add_legacy_user_to_legacy_contributions.rb
  db/migrate/20230515135156_add_legacy_user_to_legacy_user_impacts.rb
  db/schema.rb
  spec/models/legacy/legacy_contribution_spec.rb
  spec/models/legacy/legacy_user_impact_spec.rb
  spec/models/legacy_user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update legacy impact to use legacy_user
  app/commands/legacy/create_legacy_contribution.rb
  app/commands/legacy/create_legacy_user_impact.rb
  app/models/legacy/legacy_user.rb
  app/models/users/user.rb
  db/migrate/20230515132409_create_legacy_users.rb
  db/schema.rb
  spec/commands/legacy/create_legacy_contribution_spec.rb
  spec/commands/legacy/create_legacy_user_impact_spec.rb
  spec/factories/legacy_users.rb
  spec/models/legacy_user_spec.rb
  spec/models/user_spec.rb
  spec/requests/api/v1/users/legacy_impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update HandlePostUserJob to update legacy_user reference to user
  app/blueprints/legacy_contributions_blueprint.rb
  app/jobs/users/handle_post_user_job.rb
  app/models/legacy/legacy_contribution.rb
  app/models/legacy/legacy_user_impact.rb
  db/migrate/20230515151132_remove_user_from_legacy_models.rb
  db/schema.rb
  spec/factories/legacy/legacy_contributions.rb
  spec/factories/legacy/legacy_user_impacts.rb
  spec/jobs/users/handle_post_user_job_spec.rb
  spec/models/legacy/legacy_contribution_spec.rb
  spec/models/legacy/legacy_user_impact_spec.rb
  spec/requests/api/v1/users/legacy_impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: remove unnecessary vars
  .env.example
  .github/workflows/tests.yml
  README.md
  app/lib/web3/providers/networks.rb
  config/env.yml
Due: bundle exec rubocop --force-exclusion -A

fix: lint
  spec/models/legacy_user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update legacy_user_impacts and legacy_contributions on User
  app/models/users/user.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add empty array return in legacy impacts and legacy contributions
  app/models/users/user.rb
Due: bundle exec rubocop --force-exclusion -A

test: add legacy_user associations test
  spec/models/legacy_user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: remove unused lib in CreateLegacyContribution
  app/commands/legacy/create_legacy_contribution.rb
Due: bundle exec rubocop --force-exclusion -A

feat: remove legacy_user_impacts old user attributes
  app/models/legacy/legacy_user_impact.rb
  config/initializers/rails_admin.rb
  db/migrate/20230515151132_remove_user_from_legacy_models.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update tests that used old user attributes in LegacyUserImpact
  app/commands/legacy/create_legacy_contribution.rb
  app/commands/legacy/create_legacy_user_impact.rb
  app/models/legacy/legacy_user_impact.rb
  spec/commands/legacy/create_legacy_user_impact_spec.rb
  spec/factories/legacy/legacy_user_impacts.rb
  spec/models/legacy/legacy_user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
