Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

test: adds user blueprint test
  spec/blueprints/user_blueprint_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: adds voucher blueprint test
  spec/blueprints/voucher_blueprint_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: person payment with currency
  app/controllers/api/v1/site/histories_controller.rb
  app/controllers/api/v1/site/site_controller.rb
  app/models/people/person_payment.rb
  db/migrate/20230110133248_add_currency_on_person_payment.rb
  db/schema.rb
  spec/models/person_payment_spec.rb
  spec/requests/api/v1/site/histories_spec.rb
  spec/requests/api/v1/site/site_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: delete history blueprint spec
  spec/blueprints/history_blueprint_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: call the native rspec time helper
  spec/support/time_helpers.rb
Due: bundle exec rubocop --force-exclusion -A

fix: freeze time before run the test suite
  spec/services/service/donations/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

revert: use Time.zone.today instead of Time.zone.now
  spec/services/service/donations/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: round total amount for site routes
  app/controllers/api/v1/site/histories_controller.rb
  app/controllers/api/v1/site/site_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: tests
  spec/requests/api/v1/site/histories_spec.rb
  spec/requests/api/v1/site/site_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: comment to help finding this attribute
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add migrate to remove impact_description from non_profits
  app/models/non_profits/non_profit.rb
  app/models/non_profits/non_profit_impact.rb
  db/migrate/20230116173221_move_impact_description_to_non_profit_impacts.rb
  db/schema.rb
  spec/factories/non_profit_impacts.rb
  spec/factories/non_profits.rb
  spec/models/non_profit_impact_spec.rb
  spec/models/non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adjust tests from impact_description
  app/models/non_profits/non_profit.rb
  db/seeds.rb
  spec/commands/givings/impact/calculate_impact_to_non_profit_spec.rb
  spec/factories/non_profit_impacts.rb
  spec/factories/non_profits.rb
  spec/models/donation_spec.rb
  spec/models/non_profit_spec.rb
  spec/services/service/givings/impact/non_profit_impact_calculator_spec.rb
  spec/services/user_services/user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: setter and save for impact description
  app/models/non_profits/non_profit.rb
  spec/models/donation_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: typo
  db/migrate/20230116173221_move_impact_description_to_non_profit_impacts.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add background image to non profit params
  app/controllers/api/v1/non_profits_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: lint
  app/controllers/api/v1/non_profits_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: adjust to pick the last impact
  app/models/non_profits/non_profit.rb
  spec/services/service/givings/impact/non_profit_impact_calculator_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: migration to add impact description
  db/migrate/20230117140144_add_impact_description_to_non_profit_impact.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add translatable field to model
  app/models/non_profits/non_profit_impact.rb
Due: bundle exec rubocop --force-exclusion -A

feat: override old impact description
  app/models/non_profits/non_profit.rb
Due: bundle exec rubocop --force-exclusion -A

feat: rake task to clone mobility fields
  lib/tasks/clone_mobility_fields.rake
Due: none

fix: override fallback and factory
  app/models/non_profits/non_profit.rb
  spec/factories/non_profit_impacts.rb
Due: bundle exec rubocop --force-exclusion -A

fix: typo
  spec/factories/non_profit_impacts.rb
Due: bundle exec rubocop --force-exclusion -A

fix: move switch logic to blueprint instead of model
  app/blueprints/non_profit_blueprint.rb
  app/models/non_profits/non_profit.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add measurement unit to nonprofit impact
  app/blueprints/non_profit_impacts_blueprint.rb
  app/models/non_profits/non_profit_impact.rb
  db/migrate/20230118113017_add_measurement_unit_to_non_profit_impacts.rb
  db/schema.rb
  spec/factories/non_profit_impacts.rb
  spec/models/non_profit_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add measurement unit to calculator
  app/commands/givings/impact/calculate_impact_to_non_profit.rb
  spec/commands/givings/impact/calculate_impact_to_non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: use impact_for instead of non_profit_impacts.last
  app/blueprints/non_profit_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: naming
  app/commands/givings/impact/calculate_impact_to_non_profit.rb
Due: bundle exec rubocop --force-exclusion -A

fix: broken test
  spec/commands/givings/impact/calculate_impact_to_non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: typo
  app/models/non_profits/non_profit_impact.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add donor recipient to non profit impacts
  app/models/non_profits/non_profit_impact.rb
  db/migrate/20230118112725_add_donor_recipient_to_non_profit_impacts.rb
  db/schema.rb
  spec/factories/non_profit_impacts.rb
  spec/factories/non_profits.rb
  spec/models/non_profit_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add donor recipient to blueprint
  app/blueprints/non_profit_impacts_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add impact description
  app/blueprints/non_profit_impacts_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: site routes non profit and total donations
  app/blueprints/site_non_profits_blueprint.rb
  app/controllers/api/v1/site/site_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: permit non profit impacts params
  app/controllers/api/v1/non_profits_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: lint + test-deploy
  .github/workflows/test-deploy.yml
  app/blueprints/site_non_profits_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: tests
  app/controllers/api/v1/site/site_controller.rb
  spec/requests/api/v1/site/site_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: lint
  spec/requests/api/v1/site/site_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec
