Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

refactor: using instance variables in the order model
  app/models/payment/order.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: removing useless nullsafe navigation
  app/models/payment/order.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update lint
  app/lib/redis_store/cache.rb
  app/lib/request/api_request.rb
Due: bundle exec rubocop --force-exclusion -A

feature: gateway factory specs
  spec/services/giving_services/payment/gateway_factory_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: gateway factory implementation
  app/services/giving_services/payment/gateway_factory.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add Api::V1::Givings::SubscriptionsController
  app/controllers/api/v1/givings/subscriptions_controller.rb
  spec/requests/api/v1/givings/subscriptions_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add create subscription command
  app/commands/givings/payment/create_subscription.rb
  app/controllers/api/v1/givings/subscriptions_controller.rb
  spec/commands/givings/payment/create_subscription_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update create subscription to create order
  app/commands/givings/payment/create_order.rb
  app/controllers/api/v1/givings/subscriptions_controller.rb
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update subscriptions controller params
  app/controllers/api/v1/givings/subscriptions_controller.rb
Due: bundle exec rubocop --force-exclusion -A

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

feat: add payments credit_cards controller
  app/controllers/api/v1/payments/credit_cards_controller.rb
  config/routes.rb
  spec/requests/api/v1/payments/credit_cards_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: payment orchestrator specs
  spec/services/giving_services/payment/orchestrator_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: payment orchestrator implementation
  app/services/giving_services/payment/orchestrator.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: renaming the credit card factory
  spec/factories/payment/credit_cards.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: renaming the customer payment factory
  spec/factories/payment/customer_payments.rb
Due: bundle exec rubocop --force-exclusion -A

feature: payment entrypoint implementation
  app/lib/payment/entrypoint.rb
Due: bundle exec rubocop --force-exclusion -A

feature: small changes in the order model
  app/models/payment/order.rb
Due: bundle exec rubocop --force-exclusion -A

feature: stripe payment processor implementation
  app/lib/payment/gateways/stripe/payment_processor.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: delete subscriptions controller and add testes to credit_cards#subscribe controller
  app/controllers/api/v1/givings/subscriptions_controller.rb
  app/controllers/api/v1/payments/credit_cards_controller.rb
  spec/requests/api/v1/givings/subscriptions_spec.rb
  spec/requests/api/v1/payments/credit_cards_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to credit_cards controller cases
  app/controllers/api/v1/payments/credit_cards_controller.rb
  spec/requests/api/v1/payments/credit_cards_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: fixing rubocop issues
  app/lib/payment/gateways/stripe/payment_processor.rb
  app/models/payment/order.rb
  app/services/giving_services/payment/gateway_factory.rb
  app/services/giving_services/payment/orchestrator.rb
  spec/lib/payment/gateways/stripe/billing/subscription_spec.rb
  spec/lib/payment/gateways/stripe/billing/unique_payment_spec.rb
  spec/services/giving_services/payment/orchestrator_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add Reporter to log errors and create_order command tests
  Gemfile
  Gemfile.lock
  app/commands/givings/payment/create_order.rb
  app/controllers/api/v1/payments/credit_cards_controller.rb
  app/lib/reporter.rb
  app/models/users/user.rb
  config/env.yml
  config/initializers/sentry.rb
  spec/commands/givings/payment/create_order_spec.rb
  spec/factories/payment/cards.rb
  spec/lib/reporter_spec.rb
  spec/requests/api/v1/payments/credit_cards_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: fixing orchestrator specs
  spec/services/giving_services/payment/orchestrator_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add operation to Order.from in CreateOrder command
  app/commands/givings/payment/create_order.rb
Due: bundle exec rubocop --force-exclusion -A

test: add an_object_containing matcher and tests to Orchestrator call
  spec/commands/givings/payment/create_order_spec.rb
  spec/support/matcher_helpers.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add call Orchestrator test to CreateOrder command
  app/commands/givings/payment/create_order.rb
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: renaming order factory
  spec/factories/payment/order.rb
  spec/factories/payment/transaction.rb
Due: bundle exec rubocop --force-exclusion -A

fix: unsubscribe keyword in the payment processor
  app/lib/payment/gateways/stripe/payment_processor.rb
Due: bundle exec rubocop --force-exclusion -A

feature: payment processor specs
  spec/lib/payment/gateways/stripe/payment_processor_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: correct naming for invoice ids
  spec/lib/payment/gateways/stripe/payment_processor_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add Offer and OfferGateway to rails admin
  app/controllers/api/v1/payments/credit_cards_controller.rb
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add update in create_order command
  app/commands/givings/payment/create_order.rb
  app/models/customers/customer.rb
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update offer_id to offer param in CreateOrder command
  app/commands/givings/payment/create_order.rb
  app/controllers/api/v1/payments/credit_cards_controller.rb
  spec/commands/givings/payment/create_order_spec.rb
  spec/requests/api/v1/payments/credit_cards_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add success and failure callbacks to CreateOrder command
  app/commands/givings/payment/create_order.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add purchase route to credit_cards controller
  app/controllers/api/v1/payments/credit_cards_controller.rb
  config/routes.rb
  spec/requests/api/v1/payments/credit_cards_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add messages to error flow in CreateOrder
  app/commands/givings/payment/create_order.rb
  app/controllers/api/v1/payments/credit_cards_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add customer_payment_blockchain model
  app/models/customers/customer_payment.rb
  app/models/customers/customer_payment_blockchain.rb
  db/migrate/20220624134343_create_customer_payment_blockchains.rb
  db/schema.rb
  spec/factories/customer_payment_blockchains.rb
  spec/models/customer_payment_blockchain_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add db:migrate command to eb deploy
  .ebextensions/migrations.config
Due: none

test: add tests to customer_payment_blockchain
  spec/models/customer_payment_blockchain_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add customer_payment_blockchains factory data
  spec/factories/customer_payment_blockchains.rb
Due: bundle exec rubocop --force-exclusion -A
