Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

fix: rubocop
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: fixes offer parameters
  app/commands/givings/payment/order_types/credit_card.rb
Due: bundle exec rubocop --force-exclusion -A

fix: name interpolation
  app/commands/givings/payment/order_types/credit_card.rb
Due: bundle exec rubocop --force-exclusion -A

fix: block vcr casset from take env vars
  config/env.yml
  spec/commands/donations/donate_spec.rb
  spec/requests/api/v1/vouchers/donations_spec.rb
  spec/support/vcr_cassettes/create_donations_batch.yml
  spec/support/vcr_cassettes/sendgrid_email_api.yml
  spec/support/vcr_cassettes/stripe_payment_method.yml
  spec/support/vcr_cassettes/stripe_payment_method_error.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds email impact for non_profit and cause
  app/commands/givings/payment/order_types/credit_card.rb
Due: bundle exec rubocop --force-exclusion -A

chore: adds giving cause template id
  config/env.yml
Due: none

fix: adjusts cause impact
  app/commands/givings/payment/order_types/credit_card.rb
Due: bundle exec rubocop --force-exclusion -A

feat: create models and factories
  app/models/author.rb
  app/models/news.rb
  app/models/users/user.rb
  db/migrate/20230301132823_create_authors.rb
  db/migrate/20230301133522_create_news.rb
  db/schema.rb
  spec/factories/authors.rb
  spec/factories/news.rb
  spec/models/author_spec.rb
  spec/models/news_spec.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: news and author blueprints
  app/blueprints/author_blueprint.rb
  app/blueprints/news_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: news commands
  app/commands/author_news/create_news.rb
  app/commands/author_news/update_news.rb
  spec/commands/author_news/create_news_spec.rb
  spec/commands/author_news/update_news_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: news controller and specs
  app/controllers/api/v1/news_controller.rb
  spec/requests/api/v1/news_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: routing
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: fixes email not sending problem
  app/commands/givings/payment/order_types/credit_card.rb
  app/models/users/user.rb
  config/env.yml
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rubocop
  app/commands/givings/payment/order_types/credit_card.rb
Due: bundle exec rubocop --force-exclusion -A

chore: adjusts donated value format
  app/commands/givings/payment/order_types/credit_card.rb
Due: bundle exec rubocop --force-exclusion -A

feat: article and author models and factories
  app/models/article.rb
  app/models/author.rb
  app/models/users/user.rb
  db/migrate/20230301184043_create_authors.rb
  db/migrate/20230301184230_create_articles.rb
  db/schema.rb
  spec/factories/articles.rb
  spec/factories/authors.rb
  spec/models/article_spec.rb
  spec/models/author_spec.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: article and author blueprints
  app/blueprints/article_blueprint.rb
  app/blueprints/author_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: language problem
  app/commands/givings/payment/order_types/credit_card.rb
  app/mailers/sendgrid_web_mailer.rb
Due: bundle exec rubocop --force-exclusion -A

feat: article commands
  app/commands/articles/create_article.rb
  app/commands/articles/update_article.rb
Due: bundle exec rubocop --force-exclusion -A

feat: command specs
  spec/commands/articles/create_article_spec.rb
  spec/commands/articles/update_article_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: article annotations
  app/models/article.rb
  spec/factories/articles.rb
  spec/models/article_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: article controller and specs
  app/controllers/api/v1/news/articles_controller.rb
  spec/requests/api/v1/news/articles_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rubocop issues
  app/blueprints/article_blueprint.rb
  app/blueprints/author_blueprint.rb
  db/schema.rb
  spec/commands/articles/create_article_spec.rb
  spec/commands/articles/update_article_spec.rb
  spec/factories/articles.rb
  spec/factories/authors.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: authors resources
  app/commands/authors/create_author.rb
  app/commands/authors/update_author.rb
  app/controllers/api/v1/news/authors_controller.rb
  config/routes.rb
  spec/requests/api/v1/news/authors_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add link to article
  app/blueprints/article_blueprint.rb
  app/controllers/api/v1/news/articles_controller.rb
  app/models/article.rb
  db/migrate/20230301193909_add_link_to_article.rb
  db/schema.rb
  spec/factories/articles.rb
  spec/models/article_spec.rb
  spec/requests/api/v1/news/articles_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: test
  app/commands/givings/payment/order_types/credit_card.rb
  app/lib/impact/normalizer.rb
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add badges observer
  app/jobs/notifications/notify_reputation_change_job.rb
  app/observers/reputation_change_observer.rb
  config/initializers/merit.rb
  dump.rdb
Due: bundle exec rubocop --force-exclusion -A

feat: add observers and send_7_donations email
  Gemfile
  Gemfile.lock
  app/jobs/donations/handle_post_donation_job.rb
  app/observers/donation_observer.rb
  config/application.rb
  config/env.yml
  spec/jobs/donations/handle_post_donation_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: lint
  app/jobs/donations/handle_post_donation_job.rb
Due: bundle exec rubocop --force-exclusion -A

chore: adds condition for only sending in prod
  app/jobs/mailers/send_one_week_inactivity_email_job.rb
Due: bundle exec rubocop --force-exclusion -A

chore: adds condition for only sending in prod
  app/workers/mailers/send_one_week_inactivity_email_worker.rb
Due: bundle exec rubocop --force-exclusion -A

chore: adds template id
  config/env.yml
Due: none

feat: add SendDonationEmailJob
  app/jobs/donations/handle_post_donation_job.rb
  app/jobs/mailers/send_donation_email_job.rb
  config/env.yml
  spec/jobs/donations/handle_post_donation_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: update HandlePostDonationJob tests
  app/jobs/donations/handle_post_donation_job.rb
  spec/jobs/donations/handle_post_donation_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: tests
  app/jobs/mailers/send_one_week_inactivity_email_job.rb
  spec/jobs/mailers/send_one_week_inactivity_email_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add spec to send_donation_email_job
  spec/jobs/mailers/send_donation_email_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add bimontly free user report email
  app/jobs/mailers/send_free_bimonthly_email_report.rb
  app/workers/mailers/send_bimonthly_email_report_worker.rb
  config/env.yml
  config/schedule.yml
Due: bundle exec rubocop --force-exclusion -A
