Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

fix: github flow
  .github/workflows/test-deploy.yml
Due: none

feat: accept nested atributes for non profit impacts
  app/models/non_profits/non_profit.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove validate of impact_description from non_profits
  app/controllers/api/v1/non_profits_controller.rb
  app/models/non_profits/non_profit.rb
  spec/models/non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust params permit from non profits
  app/controllers/api/v1/non_profits_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: approve before add pool balance
  .rubocop.yml
  app/lib/web3/contracts/donation_token_contract.rb
  app/lib/web3/contracts/ecr20_token_contract.rb
  app/lib/web3/contracts/ribon_contract.rb
  app/lib/web3/utils/abis/ecr20_token_abi.json
Due: bundle exec rubocop --force-exclusion -A

fix: big numbers with delimiter on site routes
  app/controllers/api/v1/site/histories_controller.rb
  app/controllers/api/v1/site/site_controller.rb
  spec/requests/api/v1/site/histories_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds cover and main image to cause params
  app/controllers/api/v1/causes_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: test
  app/commands/donations/create_blockchain_donation.rb
  app/commands/donations/update_api_only_donations.rb
  app/commands/donations/update_failed_donations.rb
  app/commands/donations/update_processing_donations.rb
  app/jobs/donations/retry_donations_job.rb
  spec/jobs/donations/retry_donations_job_spec.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: retry for person blockchain transactions
  app/commands/person_payments/blockchain_transactions/update_api_only_transactions.rb
  app/commands/person_payments/blockchain_transactions/update_failed_transactions.rb
  app/commands/person_payments/blockchain_transactions/update_processing_transactions.rb
  app/jobs/person_payments/retry_blockchain_transactions_job.rb
  app/models/people/person_payment.rb
  app/workers/person_payments/retry_blockchain_transactions_worker.rb
  config/schedule.yml
  config/sidekiq.yml
  spec/commands/person_payments/blockchain_transactions/update_api_only_transactions_spec.rb
  spec/commands/person_payments/blockchain_transactions/update_failed_transactions_spec.rb
  spec/commands/person_payments/blockchain_transactions/update_processing_transactions_spec.rb
  spec/jobs/person_payments/retry_blockchain_transactions_job_spec.rb
  spec/models/person_payment_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: new gas limit
  app/lib/web3/utils/gas.rb
Due: bundle exec rubocop --force-exclusion -A

fix: only paid person payments
  app/commands/person_payments/blockchain_transactions/update_api_only_transactions.rb
  app/commands/person_payments/blockchain_transactions/update_failed_transactions.rb
  spec/commands/person_payments/blockchain_transactions/update_api_only_transactions_spec.rb
  spec/commands/person_payments/blockchain_transactions/update_failed_transactions_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: change to symbol
  app/commands/person_payments/blockchain_transactions/update_api_only_transactions.rb
  app/commands/person_payments/blockchain_transactions/update_failed_transactions.rb
  spec/commands/person_payments/blockchain_transactions/update_api_only_transactions_spec.rb
  spec/commands/person_payments/blockchain_transactions/update_failed_transactions_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add user statistics to show some impacts
  app/controllers/api/v1/users_controller.rb
  app/models/donations/donation.rb
  config/routes.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: transform search for causes in method
  app/controllers/api/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: separate statistics in a controller
  app/controllers/api/v1/users/statistics_controller.rb
  app/controllers/api/v1/users_controller.rb
  config/routes.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: remove delegate
  app/models/donations/donation.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove private function to controller and create a service for user statistics
  app/controllers/api/v1/users/statistics_controller.rb
  app/services/service/users/statistics.rb
  spec/services/service/users/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust linter
  app/controllers/api/v1/users/statistics_controller.rb
  spec/services/service/users/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds find by person on person payments
  app/controllers/api/v1/person_payments_controller.rb
  app/lib/validators/email.rb
  app/lib/validators/wallet_address.rb
  app/models/people/person.rb
  config/routes.rb
  spec/factories/payment/people.rb
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: updating schema
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: new person methods
  app/models/people/person.rb
Due: bundle exec rubocop --force-exclusion -A

feat: find by person method
  app/controllers/api/v1/person_payments_controller.rb
  config/routes.rb
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rubocop issues
  app/controllers/api/v1/person_payments_controller.rb
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

revert: person methods
  app/models/people/person.rb
Due: bundle exec rubocop --force-exclusion -A

feat: render receiver from person payment
  app/blueprints/person_payment_blueprint.rb
  app/controllers/api/v1/person_payments_controller.rb
  config/routes.rb
  spec/requests/api/v1/person_payments_spec.rb
  spec/support/vcr_cassettes/conversion_rate_brl_usd2.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds person payment blueprint with nonprofit or cause receiver
  app/blueprints/person_payment_blueprint.rb
  app/blueprints/person_payment_community_cause_blueprint.rb
  app/blueprints/person_payment_direct_non_profit_blueprint.rb
  app/controllers/api/v1/person_payments_controller.rb
  spec/requests/api/v1/person_payments_spec.rb
  spec/support/vcr_cassettes/conversion_rate_brl_usd2.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: remove blank spaces
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rubocop
  .rubocop.yml
  app/blueprints/person_payment_community_cause_blueprint.rb
  app/blueprints/person_payment_direct_non_profit_blueprint.rb
  app/controllers/api/v1/person_payments_controller.rb
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: added view on person payment blueprint
  app/blueprints/person_payment_blueprint.rb
  app/blueprints/person_payment_community_cause_blueprint.rb
  app/blueprints/person_payment_direct_non_profit_blueprint.rb
  app/controllers/api/v1/person_payments_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds crypto receiver
  app/commands/givings/payment/order_types/cryptocurrency.rb
  app/controllers/api/v1/payments/cryptocurrency_controller.rb
  config/routes.rb
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: renders service fees
  app/blueprints/person_payment_blueprint.rb
  app/models/people/person_payment.rb
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: push to develop after merge
  .github/workflows/test-deploy.yml
Due: none

fix: push to develop
  .github/workflows/test-deploy.yml
Due: none

fix: trigger dev-worker-deploy workflow on merge to develop
  .github/workflows/dev-worker-deploy.yml
  .github/workflows/test-deploy.yml
Due: none

fix: push to develop on tes-deploy
  .github/workflows/dev-worker-deploy.yml
  .github/workflows/test-deploy.yml
Due: none

fix: push to develop on tes-deploy
  .github/workflows/test-deploy.yml
Due: none
