Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

feat: script
  README.md
  script.sh
Due: none

feat: rake task instead of migration
  db/migrate/20220920140829_remove_wallet_address_from_non_profits.rb
  db/migrate/20220922145600_rename_wallet_address_from_non_profit.rb
  lib/tasks/update_database/non_profit_wallet.rake
Due: bundle exec rubocop --force-exclusion -A

feat: rake task instead of migration
  app/models/non_profits/non_profit.rb
  db/migrate/20220922145600_rename_wallet_address_from_non_profit.rb
  db/schema.rb
  lib/tasks/update_database/non_profit_wallet.rake
  spec/factories/non_profits.rb
  spec/models/non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: fix task create integration wallet
  lib/tasks/update_database/integration_wallet.rake
Due: none

feat: lint
  lib/tasks/update_database/integration_wallet.rake
Due: none

fix: rubocop wrong namespaces
  .rubocop.yml
Due: none

feat: add default_donation_pool_address to Chain
  app/models/blockchain/chain.rb
  app/models/user_manager.rb
  db/migrate/20220926120653_add_default_donation_pool_address_to_chains.rb
  db/schema.rb
  spec/factories/chains.rb
  spec/models/chain_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add default_donation_pool_address to chain factory
  spec/factories/chains.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add merit gem
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/donations_controller.rb
  app/models/merit/badge_rules.rb
  app/models/merit/point_rules.rb
  app/models/merit/rank_rules.rb
  app/models/user_manager.rb
  app/models/users/user.rb
  config/initializers/merit.rb
  config/initializers/rails_admin.rb
  db/migrate/20220926131507_create_merit_actions.rb
  db/migrate/20220926131508_create_merit_activity_logs.rb
  db/migrate/20220926131509_create_sashes.rb
  db/migrate/20220926131510_create_badges_sashes.rb
  db/migrate/20220926131511_create_scores_and_points.rb
  db/migrate/20220926131555_add_merit_fields_to_users.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add merit classes to lib
  app/lib/merit/badge_rules.rb
  app/lib/merit/point_rules.rb
  app/lib/merit/rank_rules.rb
  app/models/merit/badge_rules.rb
  app/models/merit/rank_rules.rb
  config/initializers/merit.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add Merit module to RankRules
  app/lib/merit/rank_rules.rb
Due: bundle exec rubocop --force-exclusion -A

feat: update donation_pool_address in multiple files
  app/commands/donations/create_blockchain_donation.rb
  app/commands/givings/community_treasure/add_balance.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add merit gem
  app/models/merit/rank_rules.rb
  dump.rdb
Due: bundle exec rubocop --force-exclusion -A

test: update tests to use new default pool address
  spec/commands/donations/create_blockchain_donation_spec.rb
  spec/commands/givings/community_treasure/add_balance_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: drop integration wallet
  app/blueprints/integration_blueprint.rb
  app/commands/donations/create_blockchain_donation.rb
  app/commands/integrations/create_integration.rb
  app/models/integrations/integration.rb
  app/models/integrations/integration_wallet.rb
  app/models/integrations/new_integration_wallet.rb
  app/models/non_profits/non_profit.rb
  db/migrate/20220926130342_drop_integration_wallet.rb
  db/migrate/20220926130356_drop_old_wallet_address_from_non_profit.rb
  db/schema.rb
  lib/tasks/update_database/integration_wallet.rake
  spec/commands/donations/create_blockchain_donation_spec.rb
  spec/commands/integrations/create_integration_spec.rb
  spec/factories/integration_wallets.rb
  spec/factories/integrations.rb
  spec/factories/new_integration_wallets.rb
  spec/factories/non_profits.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
  spec/models/integration_wallet_spec.rb
  spec/models/new_integration_wallet_spec.rb
  spec/models/non_profit_spec.rb
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: merge develop
  db/migrate/20220926120653_add_default_donation_pool_address_to_chains.rb
  db/migrate/20220926120660_create_wallets.rb
  db/migrate/20220926120670_rename_wallet_address_from_non_profit.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add migration to change usd_cents_to_one_impact_unit to decimal
  db/migrate/20220927111912_change_usd_cents_to_one_impact_unit_from_integer_to_decimal.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add infinity precision to money gem and label to NonProfitImpact in admin
  config/initializers/money.rb
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update RibonConfig default_ticket_value and Donation value to decimals
  app/models/configs/ribon_config.rb
  app/models/donations/donation.rb
  app/models/non_profits/non_profit_impact.rb
  config/initializers/rails_admin.rb
  db/migrate/20220927130743_change_ribon_configs_default_ticket_value_from_integer_to_decimal.rb
  db/migrate/20220927130824_change_donations_value_from_integer_to_decimal.rb
  db/schema.rb
  spec/factories/donations.rb
  spec/factories/non_profit_impacts.rb
  spec/factories/ribon_configs.rb
  spec/models/donation_spec.rb
  spec/models/non_profit_impact_spec.rb
  spec/models/ribon_config_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: temporary comment create wallets rename wallets migrations
  db/migrate/20220926120660_create_wallets.rb
  db/migrate/20220926120670_rename_wallet_address_from_non_profit.rb
Due: bundle exec rubocop --force-exclusion -A

chore: uncomment rename wallet create wallets migrations
  db/migrate/20220926120660_create_wallets.rb
  db/migrate/20220926120670_rename_wallet_address_from_non_profit.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add round to methods that use currency
  app/lib/currency/converters.rb
  app/models/people/person_payment.rb
  app/services/service/givings/fees/card/stripe_card_fee_calculator.rb
  app/services/service/givings/fees/crypto/polygon_fee_calculator.rb
  spec/lib/web3/utils/fee_spec.rb
  spec/services/service/givings/fees/crypto/polygon_fee_calculator_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: remove unused annotations
  app/models/users/user.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add voucher command
  app/commands/donations/donate.rb
  app/commands/vouchers/donate.rb
  app/controllers/api/v1/vouchers/donations_controller.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: update type column on wallet
  app/models/integrations/new_integration_wallet.rb
  lib/tasks/update_database/wallet.rake
Due: bundle exec rubocop --force-exclusion -A

feat: lint
  lib/tasks/update_database/wallet.rake
Due: none

fix: remove unnecessary file
  app/models/integrations/new_integration_wallet.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add voucher command specs
  app/commands/vouchers/donate.rb
  app/controllers/api/v1/donations_controller.rb
  app/controllers/api/v1/vouchers/donations_controller.rb
  spec/commands/vouchers/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add route to upload file and add logo on integration
  app/blueprints/integration_blueprint.rb
  app/controllers/api/v1/direct_uploads_controller.rb
  app/controllers/api/v1/integrations_controller.rb
  app/models/integrations/integration.rb
  app/models/user_manager.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

test: add tests to vouchers donate spec
  spec/commands/vouchers/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add wallet address to non profits admin
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove amount variable for new integrations
  app/commands/integrations/create_integration.rb
  app/models/configs/ribon_config.rb
  config/initializers/rails_admin.rb
  db/migrate/20220928141835_remove_mininum_integration_amount_from_ribon_configs.rb
  spec/factories/ribon_configs.rb
Due: bundle exec rubocop --force-exclusion -A

feature: update database schema
  db/migrate/20220928144041_remove_minimum_integration_amount_from_ribon_configs.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: remove add balance from create integration
  app/commands/integrations/create_integration.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: remove minimum amount from rails admin
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: remove minimum amount from annotations
  app/models/configs/ribon_config.rb
  spec/factories/ribon_configs.rb
  spec/models/ribon_config_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update rubocop rules for custom expects
  .rubocop.yml
Due: none

refactor: remove wallet variable
  app/commands/integrations/create_integration.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add IntegrationTask model
  app/models/integrations/integration_task.rb
  db/migrate/20220928142743_create_integration_tasks.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add IntegrationTask blueprint and putting in Integration blueprint
  app/blueprints/integration_blueprint.rb
  app/blueprints/integration_task_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A
