Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add IntegrationTask to rails admin
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add tests for IntegrationTask
  spec/factories/integration_tasks.rb
  spec/factories/integrations.rb
  spec/models/integration_task_spec.rb
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: update IntegrationModel with IntegrationTask
  app/models/integrations/integration.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add CauseBlueprint and cause to non profits
  app/blueprints/cause_blueprint.rb
  app/blueprints/non_profit_blueprint.rb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add logo in tests
  spec/factories/integrations.rb
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust lint
  app/controllers/api/v1/direct_uploads_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove unnecessary files
  lib/tasks/update_database/integration_wallet.rake
  lib/tasks/update_database/non_profit_wallet.rake
  lib/tasks/update_database/wallet.rake
Due: none

feat: add vouchers donations create route
  app/commands/integrations/create_integration.rb
  app/commands/vouchers/donate.rb
  app/controllers/api/v1/vouchers/donations_controller.rb
  app/models/configs/ribon_config.rb
  config/initializers/rails_admin.rb
  config/locales/en.yml
  config/locales/pt-BR.yml
  config/routes.rb
  db/schema.rb
  spec/commands/vouchers/donate_spec.rb
  spec/factories/ribon_configs.rb
  spec/models/ribon_config_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: remove add balance from integration command
  app/commands/integrations/create_integration.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove incorrect annotations from user
  app/models/users/user.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add associations tests to integration
  spec/models/integration_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add request tests to voucher
  app/controllers/api/v1/vouchers/donations_controller.rb
  spec/requests/api/v1/vouchers/donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update integration build in IntegrationTask factory
  dump.rdb
  spec/factories/integration_tasks.rb
Due: bundle exec rubocop --force-exclusion -A

test: fix donations test on vouchers spec
  spec/requests/api/v1/vouchers/donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add voucher and donation blueprints
  app/blueprints/donation_blueprint.rb
  app/blueprints/voucher_blueprint.rb
  app/controllers/api/v1/vouchers/donations_controller.rb
  spec/commands/donations/create_blockchain_donation_spec.rb
  spec/factories/users.rb
  spec/factories/vouchers.rb
  spec/requests/api/v1/vouchers/donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: add .env.example
  .env.example
Due: none

feat: added tests
  spec/requests/api/v1/direct_uploads_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  spec/requests/api/v1/direct_uploads_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add to_i for user impact
  app/services/user_services/user_impact.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add vouchers controller to integrations scope
  app/controllers/integrations/v1/vouchers_controller.rb
  app/models/integrations/integration.rb
  config/routes.rb
  spec/requests/integrations/v1/vouchers_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: transform logo to required
  app/models/integrations/integration.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add #impact to Donation
  app/blueprints/donation_blockchain_transaction_blueprint.rb
  app/blueprints/donation_blueprint.rb
  app/controllers/integrations/v1/donations_controller.rb
  app/models/donations/donation.rb
Due: bundle exec rubocop --force-exclusion -A

test: add tests to #impact and impact#value on Donation
  spec/models/donation_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: att branch and adjust logo validation and tests
  Gemfile.lock
  config/application.rb
  db/schema.rb
  spec/commands/integrations/create_integration_spec.rb
  spec/factories/images/pitagoras.jpg
  spec/factories/integrations.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add IntegrationTasks nested_attributes for Integration
  Gemfile.lock
  app/models/integrations/integration.rb
  db/schema.rb
  dump.rdb
Due: bundle exec rubocop --force-exclusion -A

feat: add integration task params to integration controller
  app/controllers/api/v1/integrations_controller.rb
  app/models/integrations/integration.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove validates comment
  app/models/integrations/integration.rb
Due: bundle exec rubocop --force-exclusion -A

test: update vouchers spec
  spec/requests/integrations/v1/vouchers_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add impact_value to DonationBlueprint
  app/blueprints/donation_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

test: update request donations_spec
  app/controllers/api/v1/donations_controller.rb
  app/lib/merit/badge_rules.rb
  spec/requests/api/v1/donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add IntegrationWebhook
  app/models/integrations/integration_webhook.rb
  db/migrate/20221003133803_create_integration_webhooks.rb
  db/schema.rb
  spec/factories/integration_webhooks.rb
  spec/models/integration_webhook_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add vouchers webhook
  app/commands/vouchers/donate.rb
  app/jobs/vouchers/webhook_job.rb
  app/lib/request/api_request.rb
  app/models/integrations/integration.rb
  config/initializers/rails_admin.rb
  spec/jobs/vouchers/webhook_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add integrations_spec #webhook_url
  app/models/integrations/integration.rb
  spec/models/integration_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: update vouchers donate spec
  spec/commands/vouchers/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: update vouchers webhook spec
  spec/jobs/vouchers/webhook_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add integration webhook validation and association tests
  spec/models/integration_webhook_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: update default integration_webhook factory attributes
  spec/factories/integration_webhooks.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add callback_url to voucher
  app/models/voucher.rb
Due: bundle exec rubocop --force-exclusion -A

feat: mobility attributes
  app/blueprints/integration_task_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: lint
  app/blueprints/integration_task_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
