Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

test: add stories for nonprofit tests
  app/models/non_profits/non_profit.rb
  dump.rdb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add stories for nonProfit tests
  dump.rdb
Due: none

chore: update stories references in nonProfit blueprint
  app/blueprints/non_profit_blueprint.rb
  app/blueprints/story_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

chore: delete view no_stories from nonProfits blueprint
  app/blueprints/non_profit_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add func to convert default ticket value in cents
  app/blueprints/ribon_config_blueprint.rb
  app/commands/ribon_configs/update_ribon_config.rb
  app/models/configs/ribon_config.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add valid voucher route
  app/controllers/api/v1/vouchers/donations_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add statistics service and integrations impact service
  app/models/donations/donation.rb
  app/services/service/impact/statistics.rb
  app/services/service/integrations/impact.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add impact_per_non_profit to statistics service
  app/services/service/impact/statistics.rb
  app/services/service/integrations/impact.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add delegate to Integrations::Impact service
  app/services/service/integrations/impact.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove function to convert in cents
  app/commands/ribon_configs/update_ribon_config.rb
Due: bundle exec rubocop --force-exclusion -A

feat: new contract changes
  app/commands/donations/create_blockchain_donation.rb
  app/lib/web3/contracts/ribon_contract.rb
  app/lib/web3/utils/abis/ribon_abi.json
  app/models/integrations/integration.rb
  spec/commands/donations/create_blockchain_donation_spec.rb
  spec/factories/integrations.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: tests
  app/models/blockchain/pool.rb
  app/models/integrations/integration.rb
  db/schema.rb
  spec/factories/pools.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add formatted_impact to Integrations::Impact
  app/services/service/integrations/impact.rb
Due: bundle exec rubocop --force-exclusion -A

feat: lint
  spec/commands/donations/create_blockchain_donation_spec.rb
  spec/factories/integrations.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update statistics to donations scope
  app/services/service/donations/statistics.rb
  app/services/service/integrations/impact.rb
  spec/services/service/donations/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add nft_storage gem
  Gemfile
  Gemfile.lock
Due: none

feat: add nft_storage connection
  app/lib/web3/storage/nft_storage/actions.rb
  app/lib/web3/storage/nft_storage/base.rb
  app/models/blockchain/pool.rb
  config/env.yml
  db/schema.rb
  spec/factories/pools.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  app/lib/web3/contracts/ribon_contract.rb
  spec/commands/donations/create_blockchain_donation_spec.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add validation for nft_storage actions
  spec/lib/web3/storage/nft_storage/actions_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to donations statistics
  app/services/service/donations/statistics.rb
  spec/services/service/donations/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to integrations impact service
  spec/services/service/integrations/impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: update lint on integrations impact spec
  spec/services/service/integrations/impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: update test for nft_storage
  spec/lib/web3/storage/nft_storage/actions_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: ruby-lsp group
  Gemfile
Due: none

Feat/statistics (#457)
  app/models/donations/donation.rb
  app/services/service/donations/statistics.rb
  app/services/service/integrations/impact.rb
  spec/services/service/donations/statistics_spec.rb
  spec/services/service/integrations/impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: ribon abi updated
  app/lib/web3/utils/abis/ribon_abi.json
Due: none

fix: removing develop files
  app/commands/donations/create_blockchain_donation.rb
  app/lib/web3/contracts/ribon_contract.rb
  app/lib/web3/utils/abis/ribon_abi.json
  app/models/integrations/integration.rb
  spec/commands/donations/create_blockchain_donation_spec.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add impacts controller to integrations
  app/controllers/integrations/v1/impacts_controller.rb
  config/routes.rb
  spec/requests/integrations/v1/impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to integrations impacts request
  spec/requests/integrations/v1/impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add error code in person payments
  Gemfile.lock
  app/commands/givings/payment/create_order.rb
  app/commands/givings/payment/order_types/credit_card.rb
  app/models/blockchain/pool.rb
  app/models/people/person_payment.rb
  db/migrate/20221208171015_add_error_code_to_person_payments.rb
  db/schema.rb
  spec/factories/pools.rb
  spec/models/person_payment_spec.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add donation batch logic
  app/commands/donations/create_blockchain_donation.rb
  app/commands/donations/create_donations_batch.rb
  app/jobs/donations/create_nft_storage_batch_job.rb
  app/lib/web3/storage/nft_storage/actions.rb
  app/lib/web3/utils/donation_batch.json
  app/models/batch.rb
  app/models/blockchain/pool.rb
  app/models/blockchain_transaction.rb
  app/models/donation_batch.rb
  app/models/donations/donation.rb
  db/migrate/20221208132808_create_batches.rb
  db/migrate/20221208133146_create_donation_batches.rb
  db/migrate/20221208133939_add_batch_references_to_donation_blockchain_transaction.rb
  db/migrate/20221208140817_create_blockchain_transactions.rb
  db/schema.rb
  spec/factories/batches.rb
  spec/factories/blockchain_transactions.rb
  spec/factories/donation_batches.rb
  spec/factories/pools.rb
  spec/models/batch_spec.rb
  spec/models/blockchain_transaction_spec.rb
  spec/models/donation_batch_spec.rb
  spec/models/donation_blockchain_transaction_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add donation batch logic
  app/commands/donations/create_donations_batch.rb
Due: bundle exec rubocop --force-exclusion -A

feat: update call to ntf_storage api
  Gemfile
  Gemfile.lock
  app/lib/web3/storage/nft_storage/actions.rb
  app/lib/web3/storage/nft_storage/base.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add donation batch worker
  Gemfile
  Gemfile.lock
  app/workers/donations/send_donation_batch_worker.rb
  config/schedule.yml
  config/sidekiq.yml
Due: bundle exec rubocop --force-exclusion -A

fix: add command to ignore unnecessary rubocop fix
  Gemfile
  app/commands/donations/create_donations_batch.rb
  app/jobs/donations/create_nft_storage_batch_job.rb
  spec/lib/web3/storage/nft_storage/actions_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: create batch per integration and non profit
  app/commands/donations/create_blockchain_donation.rb
  app/commands/donations/create_donations_batch.rb
  app/commands/donations/donate.rb
  app/lib/web3/utils/donation_batch.json
  app/models/blockchain/pool.rb
  app/models/donations/donation_blockchain_transaction.rb
  app/workers/donations/send_donation_batch_worker.rb
  db/migrate/20221208133939_add_batch_references_to_donation_blockchain_transaction.rb
  db/schema.rb
  spec/factories/donation_blockchain_transactions.rb
  spec/factories/pools.rb
  spec/models/donation_blockchain_transaction_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add tests to failure callback
  app/commands/givings/payment/create_order.rb
  spec/commands/givings/payment/create_order_spec.rb
  spec/support/vcr_cassettes/stripe_payment_method_error.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust linter
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add integrations impacts controller to api/v1
  app/controllers/api/v1/integrations/impacts_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

test: add tests for Batch, DonationBatch and batch worker
  app/commands/donations/create_blockchain_donation.rb
  app/commands/donations/create_donations_batch.rb
  app/lib/web3/utils/donation_batch.json
  app/models/batch.rb
  app/models/blockchain/pool.rb
  app/models/donations/donation_blockchain_transaction.rb
  app/models/people/person_payment.rb
  app/workers/donations/send_donation_batch_worker.rb
  db/migrate/20221208171015_add_error_code_to_person_payments.rb
  db/schema.rb
  spec/commands/donations/create_donations_batch_spec.rb
  spec/factories/batches.rb
  spec/factories/donation_blockchain_transactions.rb
  spec/factories/donations.rb
  spec/factories/pools.rb
  spec/models/batch_spec.rb
  spec/models/donation_batch_spec.rb
  spec/models/donation_blockchain_transaction_spec.rb
  spec/models/person_payment_spec.rb
  spec/models/pool_spec.rb
  spec/support/vcr_cassettes/create_donations_batch.yml
  spec/support/vcr_cassettes/stripe_payment_method_error.yml
  spec/workers/donations/send_donation_batch_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec
