Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add ngos model
  app/controllers/api/v1/ngos_controller.rb
  app/models/ngo.rb
  config/routes.rb
  db/migrate/20220201182806_create_ngos.rb
  db/schema.rb
  spec/factories/ngos.rb
  spec/models/ngo_spec.rb
  spec/requests/api/v1/ngos_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add rails admin
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  config/application.rb
  config/initializers/rails_admin.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

chore: add active storage configs
  Gemfile
  Gemfile.lock
  app/models/ngo.rb
  db/migrate/20220201183829_create_active_storage_tables.active_storage.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

chore: add cors config
  Gemfile
  Gemfile.lock
  config/initializers/cors.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update ngo to non profit
  app/models/ngo.rb
  app/models/non_profit.rb
  db/migrate/20220201190505_create_non_profits.rb
  db/schema.rb
  spec/factories/non_profits.rb
  spec/models/non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: remove all ngo references
  app/controllers/api/v1/ngos_controller.rb
  app/controllers/api/v1/non_profits_controller.rb
  config/routes.rb
  db/schema.rb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add shoulda matchers and non_profits model tests
  Gemfile
  Gemfile.lock
  app/models/non_profit.rb
  spec/factories/non_profits.rb
  spec/models/non_profit_spec.rb
  spec/rails_helper.rb
  spec/support/shoulda_matchers.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add helpers and non_profits request specs
  .rubocop.yml
  spec/rails_helper.rb
  spec/requests/api/v1/non_profits_spec.rb
  spec/support/matcher_helpers.rb
  spec/support/response_helper.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: remove comments from test configuration files
  spec/rails_helper.rb
  spec/spec_helper.rb
Due: bundle exec rubocop --force-exclusion -A

chore: add blueprints to project
  Gemfile
  Gemfile.lock
  app/blueprints/non_profit_blueprint.rb
  app/controllers/api/v1/non_profits_controller.rb
  app/helpers/images_helper.rb
  config/environments/development.rb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add Admin and admin validation to rails admin
  Gemfile
  Gemfile.lock
  app/models/admin.rb
  config/environments/development.rb
  config/initializers/devise.rb
  config/initializers/rails_admin.rb
  config/locales/devise.en.yml
  config/routes.rb
  db/migrate/20220202134054_devise_create_admins.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

build: add github workflows and PR template
  .github/pull_request_template.md
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
Due: none

build: remove node setup from tests
  .github/workflows/tests.yml
Due: none

build: add database.ci.yml
  config/database.ci.yml
Due: none

fix: update gemfile with rubocop rules
  Gemfile
Due: none

feat: add non_profit_impact model
  app/models/non_profit.rb
  app/models/non_profit_impact.rb
  db/migrate/20220202182012_create_non_profit_impacts.rb
  db/schema.rb
  spec/factories/non_profit_impacts.rb
  spec/models/non_profit_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add #impact_for to NonProfit
  app/models/non_profit.rb
  spec/models/non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: update ruby version to 3.0.3
  .gitignore
  .ruby-version
  Gemfile
  Gemfile.lock
  config/database.yml
  spec/models/non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: add .ebextensions
  .ebextensions/packages.config
  Gemfile.lock
Due: none

build: update packages.config
  .ebextensions/packages.config
Due: none

build: add digital ocean space to storage.yml
  .gitignore
  config/storage.yml
Due: none

build: add digital_ocean to production rb active storage service
  config/environments/production.rb
Due: bundle exec rubocop --force-exclusion -A

chore: add aws-sdk-s3 gem
  Gemfile
  Gemfile.lock
Due: none

build: add default host url to production.rb
  config/environments/production.rb
Due: bundle exec rubocop --force-exclusion -A

build: add nio4r to gemfile
  Gemfile
  Gemfile.lock
Due: none

chore: add io-wait 0.2.1
  Gemfile
  Gemfile.lock
Due: none

build: update gemfile lock
  Gemfile.lock
Due: none

chore: update puma to 5.6.1
  Gemfile
  Gemfile.lock
Due: none

chore: add aws-console script
  scripts/aws-console
Due: none

build: add env.config to ebextensions
  .ebextensions/env.config
Due: none

refactor: change service to s3
  config/environments/production.rb
  config/storage.yml
  scripts/aws-console
Due: bundle exec rubocop --force-exclusion -A

build: add aws-deploy cd workflow
  .github/workflows/aws-deploy.yml
Due: none

fix: update aws-deploy yml sintax
  .github/workflows/aws-deploy.yml
Due: none

build: update beanstalk-deploy to v20
  .github/workflows/aws-deploy.yml
Due: none

build: update version label dynamic on aws-deploy
  .github/workflows/aws-deploy.yml
Due: none

build: remove aws-deploy
  .github/workflows/aws-deploy.yml
Due: none

feat: add Integration model and donations controller
  app/controllers/api/v1/donations_controller.rb
  app/models/integration.rb
  db/migrate/20220216121831_create_integrations.rb
  db/schema.rb
  spec/factories/integrations.rb
  spec/models/integration_spec.rb
  spec/requests/api/v1/donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
