Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

test: update create_order spec when it has a non_profit
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: remove unused annotation
  app/models/users/user_donation_stats.rb
  spec/factories/user_donation_stats.rb
  spec/models/user_donation_stats_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add upsert offer
  app/commands/offers/create_offer.rb
  app/controllers/api/v1/givings/offers_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adjust command upsert offer
  app/commands/offers/create_offer.rb
  app/commands/offers/upsert_offer.rb
  app/controllers/api/v1/givings/offers_controller.rb
  app/models/payment/offer.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add command to create non profit
  app/commands/non_profits/create_non_profit.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add command to update non profit
  app/commands/non_profits/update_non_profit.rb
  app/controllers/api/v1/non_profits_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add routes to update and create ngos
  app/models/blockchain/pool.rb
  config/routes.rb
  spec/factories/pools.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add ngo tests for creation and edition
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update failed_transactions count
  app/commands/donations/update_failed_donations.rb
  spec/commands/donations/update_failed_donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust tests
  db/schema.rb
  spec/requests/api/v1/givings/offers_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust tests
  app/controllers/api/v1/givings/offers_controller.rb
  app/models/blockchain/pool.rb
  db/schema.rb
  spec/commands/offers/upsert_offer_spec.rb
  spec/factories/pools.rb
  spec/models/pool_spec.rb
  spec/requests/api/v1/givings/offers_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust tests and offer command
  app/commands/offers/upsert_offer.rb
  app/controllers/api/v1/givings/offers_controller.rb
  spec/commands/offers/upsert_offer_spec.rb
  spec/requests/api/v1/givings/offers_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: remove query to verify id
  app/controllers/api/v1/causes_controller.rb
  app/controllers/api/v1/givings/offers_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add non profit impacts blueprint
  app/blueprints/non_profit_blueprint.rb
  app/blueprints/non_profit_impacts_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: adjust test
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add controller to ribon configs
  app/blueprints/ribon_config_blueprint.rb
  app/commands/configs/update_ribon_config.rb
  app/controllers/api/v1/configs/ribon_config_controller.rb
  config/routes.rb
  spec/commands/configs/update_ribon_config_spec.rb
  spec/requests/api/v1/ribon_config_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust tests
  app/blueprints/ribon_config_blueprint.rb
  app/commands/ribon_configs/update_ribon_config.rb
  app/controllers/api/v1/configs/ribon_config_controller.rb
  spec/commands/ribon_configs/update_ribon_config_spec.rb
  spec/requests/api/v1/ribon_config_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust tests
  spec/commands/ribon_configs/update_ribon_config_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add new action
  .github/workflows/dev-deploy.yml
Due: none

fix: adjust gem
  Gemfile
Due: none

fix: add new action flow
  .github/workflows/test-deploy.yml
  .github/workflows/tests.yml
Due: none

fix: integration order by created at desc
  app/controllers/api/v1/integrations_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update readme just for test
  README.md
Due: none

fix: update test flow
  .github/workflows/test-deploy.yml
Due: none

fix: change test-deploy
  .github/workflows/test-deploy.yml
Due: none

fix: test
  .github/workflows/test-deploy.yml
  README.md
Due: none

fix: new flow making staging the default branch
  .github/workflows/deploy.yml
  .github/workflows/test-deploy.yml
Due: none

feat: add command to create and update stories
  app/commands/stories/create_story.rb
  app/commands/stories/update_story.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feat: update stories blueprint for manager
  app/blueprints/story_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add stories controller
  app/controllers/api/v1/stories_controller.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

test: update stories test
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add non profits on cause blueprint
  app/blueprints/cause_blueprint.rb
  app/blueprints/non_profit_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: test of cause
  spec/requests/api/v1/causes_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update NonProfits blueprint to accept stories
  app/blueprints/non_profit_blueprint.rb
  app/blueprints/story_blueprint.rb
  app/controllers/api/v1/non_profits_controller.rb
  app/controllers/api/v1/stories_controller.rb
  app/models/non_profits/non_profit.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds order non profits by cause
  app/controllers/api/v1/non_profits_controller.rb
  app/models/blockchain/pool.rb
  db/schema.rb
  spec/factories/pools.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add delete method to stories
  app/controllers/api/v1/stories_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A
