Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

refactor: integration model improvements
  app/models/integrations/integration.rb
Due: bundle exec rubocop --force-exclusion -A

feature: new fields for the integration blueprint
  app/blueprints/integration_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: rubocop issues
  app/models/integrations/integration.rb
Due: bundle exec rubocop --force-exclusion -A

fix: integration specs
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: secret openssl key
  .env.example
  config/env.yml
Due: none

feature: generate keypair method
  app/lib/web3/providers/keys.rb
Due: bundle exec rubocop --force-exclusion -A

feature: openssl cypher module
  app/lib/web3/utils/cipher.rb
Due: bundle exec rubocop --force-exclusion -A

fix: rubocop issues
  app/lib/web3/providers/keys.rb
  app/lib/web3/utils/cipher.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: improving integrations table
  db/migrate/20220728172054_add_unique_address_to_integrations.rb
  db/migrate/20220728172405_remove_url_and_wallet_from_from_integrations.rb
Due: bundle exec rubocop --force-exclusion -A

feature: wallets table
  db/migrate/20220728172947_create_integration_wallets.rb
Due: bundle exec rubocop --force-exclusion -A

feature: updating database schema
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: typos
  app/lib/web3/utils/cipher.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: integration blueprints
  app/blueprints/integration_blueprint.rb
  app/blueprints/integration_wallet_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: integration models
  app/models/integrations/integration.rb
  app/models/integrations/integration_wallet.rb
Due: bundle exec rubocop --force-exclusion -A

feature: integration command
  app/commands/integrations/create_integration.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: conditional style
  app/commands/integrations/create_integration.rb
Due: bundle exec rubocop --force-exclusion -A

feature: create integration specs
  spec/commands/integrations/create_integration_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: create integrations flow
  app/commands/integrations/create_integration.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: integration specs
  spec/factories/integrations.rb
  spec/models/integration_spec.rb
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rubocop issues
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: integration wallet factory
  spec/factories/integration_wallets.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add integration wallet to the integration factory
  spec/factories/integrations.rb
Due: bundle exec rubocop --force-exclusion -A

fix: rubocop issues
  spec/factories/integration_wallets.rb
Due: bundle exec rubocop --force-exclusion -A

feature: integration specs
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: make the wallet blueprint small
  app/blueprints/integration_wallet_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feature: create method in the controller
  app/controllers/api/v1/integrations_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feature: new post route for new integrations
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: mocking keypairs
  spec/commands/integrations/create_integration_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rubocop issues
  spec/commands/integrations/create_integration_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: eth mocking using stub helpers
  spec/commands/integrations/create_integration_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: typo
  spec/commands/integrations/create_integration_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: add new secret to the test workflow
  .github/workflows/tests.yml
Due: none

revert: integration specs
  spec/commands/integrations/create_integration_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds update integration route
  app/controllers/api/v1/integrations_controller.rb
  config/routes.rb
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: integration base url into an env var
  .github/workflows/tests.yml
  app/models/integrations/integration.rb
  config/env.yml
  spec/models/integration_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: changing the create integration wallet syntax
  app/commands/integrations/create_integration.rb
Due: bundle exec rubocop --force-exclusion -A

fix: added last_donation_at on UserBlueprint to solve cache problem
  app/blueprints/user_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: tests
  app/blueprints/user_blueprint.rb
  app/controllers/api/v1/users_controller.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec
