Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

test: add tests to choosing between big donors or promoters
  app/models/rule_groups/choose_between_big_donors_and_promoters.rb
  spec/models/rule_groups/choose_between_big_donors_and_promoters_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to ChooseContributionsCause
  app/models/rule_groups/choose_contributions_cause.rb
  spec/models/rule_groups/choose_contributions_cause_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to FetchContributionsWithLowRemainingAmount
  app/models/contributions/contribution.rb
  spec/models/rule_groups/choose_contributions_cause_spec.rb
  spec/models/rule_groups/fetch_contributions_with_low_remaining_amount_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: balance history amount donated
  app/services/service/donations/balance_history.rb
  spec/services/service/donations/balance_history_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: model PoolBalance
  app/models/article.rb
  app/models/blockchain/pool.rb
  app/models/pool_balance.rb
  app/models/users/user.rb
  app/services/service/donations/update_pool_balance.rb
  db/migrate/20230404213446_create_pool_balances.rb
  db/schema.rb
  spec/factories/articles.rb
  spec/factories/pool_balances.rb
  spec/models/article_spec.rb
  spec/models/pool_balance_spec.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: amount_free_donations
  app/services/service/donations/balance_history.rb
  spec/services/service/donations/balance_history_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: tests
  spec/services/service/donations/balance_history_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: tests
  app/jobs/donations/generate_balance_history_job.rb
  app/jobs/donations/update_pool_balance_job.rb
  app/services/service/donations/pool_balances.rb
  app/services/service/donations/update_pool_balance.rb
  spec/jobs/donations/update_pool_balance_job_spec.rb
  spec/services/service/donations/balance_history_spec.rb
  spec/services/service/donations/pool_balances_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: rubocop
  app/models/contributions/contribution_balance.rb
  app/services/service/contributions/label_donations_by_cause_service.rb
  app/workers/contributions/tickets_labeler_worker.rb
  package-lock.json
  package.json
  spec/models/rule_groups/pick_contribution_based_on_money_spec.rb
  spec/models/rule_groups/rule_group_spec.rb
  yarn.lock
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: worker
  app/workers/donations/update_pool_balance_worker.rb
  config/schedule.yml
  spec/workers/donations/update_pool_balance_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: tests
  app/models/pool_balance.rb
  spec/factories/pool_balances.rb
  spec/models/pool_balance_spec.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: delete unused files for labeling
  app/models/rule_groups/pick_contribution_based_on_money.rb
  app/services/service/contributions/label_donations_by_cause_service.rb
  app/workers/contributions/tickets_labeler_worker.rb
  spec/models/rule_groups/pick_contribution_based_on_money_spec.rb
  spec/models/rule_groups/rule_group_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: rails admin
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

test: add test for determine_chosen_contribution_command
  app/models/rule_groups/rule_group.rb
  spec/commands/contributions/labeling/determine_chosen_contribution_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds identification and blueprints to payers
  app/models/big_donor.rb
  app/models/people/crypto_user.rb
  app/models/people/customers/customer.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: renders payers on person p. blueprint
  app/blueprints/person_payment_blueprint.rb
  app/controllers/api/v1/person_payments_controller.rb
  app/models/people/person_payment.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds person payment for big donors request
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: filters by payer_type, not receiver_type
  app/controllers/api/v1/person_payments_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: adds payerand payer id to tests and removes person
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add big donor to RailsAdmin
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

test: fix failing tests
  spec/models/rule_groups/rule_group_spec.rb
  spec/services/service/contributions/ticket_labeling_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: show only non profits with pool balance
  app/controllers/api/v1/non_profits_controller.rb
  app/queries/non_profit_queries.rb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: refactor queries
  app/queries/donation_queries.rb
  app/services/service/donations/pool_balances.rb
Due: bundle exec rubocop --force-exclusion -A

test: fix choose contributions cause spec
  spec/models/rule_groups/choose_contributions_cause_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: update LabelingService tests and contribution factory :with_balance trait
  spec/commands/contributions/labeling/determine_chosen_contribution_spec.rb
  spec/factories/contribution_balances.rb
  spec/factories/contributions.rb
  spec/services/service/contributions/ticket_labeling_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: fix non profit without pool balance
  app/queries/non_profit_queries.rb
Due: bundle exec rubocop --force-exclusion -A

feat: fix non profit without pool balance
  app/queries/non_profit_queries.rb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: non profits index
  app/queries/non_profit_queries.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update pool balance only in production
  app/workers/donations/update_pool_balance_worker.rb
Due: bundle exec rubocop --force-exclusion -A

fix: test
  spec/workers/donations/update_pool_balance_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

Fix: typos
  README.md
Due: none

fix: only show causes with pool balance
  app/controllers/api/v1/causes_controller.rb
  app/queries/cause_queries.rb
  spec/requests/api/v1/causes_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: added another env var
  app/workers/donations/update_pool_balance_worker.rb
  app/workers/mailers/send_one_week_inactivity_email_worker.rb
  config/env.yml
  spec/workers/donations/update_pool_balance_worker_spec.rb
  spec/workers/mailers/send_one_week_inactivity_email_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: amount of free donations without batches
  app/queries/donation_queries.rb
  app/services/service/donations/pool_balances.rb
  spec/factories/donation_batches.rb
  spec/queries/donation_queries_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: mailer worker
  config/schedule.yml
Due: none

feat: decrease pool balance with free donations
  app/commands/donations/donate.rb
  app/controllers/api/v1/causes_controller.rb
  app/controllers/api/v1/non_profits_controller.rb
  app/jobs/donations/decrease_pool_balance_job.rb
  app/jobs/donations/handle_post_donation_job.rb
  app/services/service/donations/pool_balances.rb
  config/routes.rb
  spec/commands/donations/donate_spec.rb
  spec/factories/non_profit_impacts.rb
  spec/jobs/donations/decrease_pool_balance_job_spec.rb
  spec/jobs/donations/handle_post_donation_job_spec.rb
  spec/requests/api/v1/causes_spec.rb
  spec/requests/api/v1/non_profits_spec.rb
  spec/requests/api/v1/vouchers/donations_spec.rb
  spec/services/service/donations/pool_balances_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add label donation call to Donate command
  app/commands/donations/donate.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: balance for donation method
  app/commands/donations/donate.rb
  app/models/pool_balance.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update voucher error
  app/controllers/integrations/v1/vouchers_controller.rb
  config/locales/en.yml
  spec/requests/integrations/v1/vouchers_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add pt-br invalid voucher message
  config/locales/pt-BR.yml
Due: none
