Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update lint on cache_spec
  spec/lib/redis_store/cache_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update .cache to find_or_create in RedisStore Cache
  app/lib/redis_store/cache.rb
  app/lib/request/api_request.rb
  spec/lib/redis_store/cache_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add RecursiveOpenStruct after cache on ApiRequest
  app/lib/currency/rates.rb
  app/lib/request/api_request.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update lint in Gemfile
  Gemfile
Due: none

build: add Start Redis step to CI
  .github/workflows/tests.yml
Due: none

Bump ruby from 3.0.2 to 3.1.2
  .ruby-version
  Gemfile
  Gemfile.lock
Due: none

fix: use positional arguments to load YAML files
  config/application.rb
Due: bundle exec rubocop --force-exclusion -A

lint: fix Style/HashSyntax complaint for same key-values
  app/commands/donations/donate.rb
  app/commands/givings/card/calculate_stripe_giving.rb
  app/controllers/api/v1/donations_controller.rb
  app/controllers/api/v1/givings/fees_controller.rb
  app/controllers/application_controller.rb
  app/lib/currency/converters.rb
  app/lib/currency/helpers.rb
  app/lib/redis_store/h_store.rb
  app/models/non_profits/non_profit.rb
  app/services/giving_services/fees/fee_calculator_service.rb
  app/services/user_services/user_impact.rb
  spec/commands/donations/donate_spec.rb
  spec/commands/donations/set_user_last_donation_at_spec.rb
  spec/commands/givings/card/calculate_stripe_giving_spec.rb
  spec/lib/currency/converters_spec.rb
  spec/lib/currency/rates_spec.rb
  spec/models/non_profit_spec.rb
  spec/requests/api/v1/donations_spec.rb
  spec/requests/api/v1/givings/fees_spec.rb
  spec/requests/api/v1/users/impacts_spec.rb
  spec/requests/api/v1/users_spec.rb
  spec/services/giving_services/fees/card/stripe_card_fee_calculator_service_spec.rb
  spec/services/giving_services/fees/crypto/polygon_fee_calculator_service_spec.rb
  spec/services/giving_services/fees/fee_calculator_service_spec.rb
  spec/support/stub_helpers.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

lint: remove unused initialize method
  app/commands/application_command.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add cache expire to Polygon fee request
  app/services/giving_services/fees/crypto/polygon_fee_calculator_service.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update polygon fee calculator test params
  spec/services/giving_services/fees/crypto/polygon_fee_calculator_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refac: removing non-alpha characters from cache key properly
  app/lib/request/api_request.rb
Due: bundle exec rubocop --force-exclusion -A

chore: add externals to override lib
  config/initializers/externals.rb
  lib/ext/httparty/response.rb
Due: bundle exec rubocop --force-exclusion -A

build: add Dockerfile and docker-compose
  .dockerignore
  Dockerfile
  Gemfile
  config/database.yml
  docker-compose.yml
Due: none

chore: add space_endpoint to storage.yml
  config/storage.yml
Due: none

build: add sidekiq
  Gemfile
  config/application.rb
  config/environments/production.rb
  config/initializers/sidekiq.rb
Due: bundle exec rubocop --force-exclusion -A

build: add sidekiq
  Gemfile.lock
Due: none

feat: add UniquePaymentService to stripe lib
  Gemfile
  Gemfile.lock
  app/lib/payment/card.rb
  app/lib/payment/payment_service.rb
  app/lib/payment/stripe/base.rb
  app/lib/payment/stripe/billings/unique_payment_service.rb
  app/lib/payment/stripe/cancel_service.rb
  app/lib/payment/stripe/service.rb
  app/lib/payment/stripe/webhooks/event_handler.rb
  app/lib/payment/stripe/webhooks/event_types.rb
  app/lib/payment/transaction.rb
  config/env.yml
  spec/factories/payment/cards.rb
  spec/factories/payment/customers.rb
  spec/factories/payment/offer_gateways.rb
  spec/factories/payment/offers.rb
  spec/factories/payment/payment.rb
  spec/factories/payment/transaction.rb
  spec/lib/payment/payment_service_spec.rb
  spec/lib/payment/stripe/billings/unique_payment_service_spec.rb
  spec/lib/payment/stripe/service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add Stripe and Stripe configs
  Gemfile
  Gemfile.lock
  config/env.yml
Due: none

feat: add Payment::Stripe::Base
  app/lib/payment/stripe/base.rb
Due: bundle exec rubocop --force-exclusion -A

fix: config global variable not correct
  app/lib/payment/stripe/base.rb
Due: bundle exec rubocop --force-exclusion -A

feat: customer entity specs
  spec/lib/payment/stripe/entities/customer_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: uuid extension for postgres
  db/migrate/20220614153906_create_uuid_extension.rb
Due: bundle exec rubocop --force-exclusion -A

feat: creating customers table
  db/migrate/20220614153943_create_customers.rb
Due: bundle exec rubocop --force-exclusion -A

feat: concern to help us with uuid key based tables
  app/models/concerns/uuid_helper.rb
Due: bundle exec rubocop --force-exclusion -A

feat: creating customer model
  app/models/customers/customer.rb
Due: bundle exec rubocop --force-exclusion -A

feat: creating a customer test factory
  spec/factories/customers.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: splitting payment methods by using an entities module
  app/lib/payment/stripe/entities/customer.rb
Due: bundle exec rubocop --force-exclusion -A

feat: updating database schema
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: fixing some rubocop complaints
  app/lib/payment/stripe/entities/customer.rb
  spec/factories/customers.rb
  spec/lib/payment/stripe/entities/customer_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: moving method parameters to the outside of testcase
  spec/lib/payment/stripe/entities/customer_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: update docker compose and Dockerfile to work with ruby 3.1.2
  Dockerfile
  config/database.yml
  docker-compose.yml
Due: none

build: add docker_pume file
  config/docker_puma.rb
Due: bundle exec rubocop --force-exclusion -A

feat: payment method specs
  spec/lib/payment/stripe/entities/payment_method_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: customer model specs
  spec/models/customer_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: payment method entity
  app/lib/payment/stripe/entities/payment_method.rb
Due: bundle exec rubocop --force-exclusion -A

feat: class for card payment method
  app/lib/payment/methods/card.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add an auxiliary constant for payment methods
  app/lib/payment/stripe/base.rb
Due: bundle exec rubocop --force-exclusion -A

refac: fixing rubocop issues
  app/lib/payment/methods/card.rb
  app/lib/payment/stripe/entities/payment_method.rb
  spec/lib/payment/stripe/entities/payment_method_spec.rb
  spec/models/customer_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refac: moving stripe to the gateways module
  app/lib/payment/gateways/stripe/base.rb
  app/lib/payment/gateways/stripe/entities/customer.rb
  app/lib/payment/gateways/stripe/entities/payment_method.rb
  app/lib/payment/stripe/base.rb
  app/lib/payment/stripe/entities/customer.rb
  app/lib/payment/stripe/entities/payment_method.rb
  spec/lib/payment/gateways/stripe/entities/customer_spec.rb
  spec/lib/payment/gateways/stripe/entities/payment_method_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
