Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

test: update integrations impact request test
  spec/requests/api/v1/integrations/impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add :: operator to Integrations commands on integrations controller
  app/controllers/api/v1/integrations_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: new contract changes again
  app/commands/donations/create_blockchain_donation.rb
  app/lib/web3/contracts/ribon_contract.rb
  app/lib/web3/utils/abis/ribon_abi.json
  app/models/integrations/integration.rb
  spec/commands/donations/create_blockchain_donation_spec.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: tests fixed
  app/commands/donations/create_batch_blockchain_donation.rb
  app/commands/donations/create_blockchain_donation.rb
  app/commands/donations/donate.rb
  app/jobs/donations/create_batch_blockchain_donation_job.rb
  app/lib/web3/utils/donation_batch.json
  app/models/donations/donation_blockchain_transaction.rb
  app/workers/donations/send_donation_batch_worker.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: ribon abi update
  app/lib/web3/utils/abis/ribon_abi.json
Due: none

feat: tests fixed
  app/commands/donations/create_blockchain_donation.rb
  app/lib/web3/contracts/ribon_contract.rb
  app/lib/web3/utils/donation_batch.json
  spec/commands/donations/create_blockchain_donation_spec.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  app/models/batch.rb
  app/workers/donations/send_donation_batch_worker.rb
  spec/workers/donations/send_donation_batch_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  app/commands/donations/create_donations_batch.rb
Due: bundle exec rubocop --force-exclusion -A

feat: annotate
  app/lib/web3/utils/donation_batch.json
  app/models/blockchain/pool.rb
  app/models/donations/donation_blockchain_transaction.rb
  app/workers/donations/send_donation_batch_worker.rb
  config/initializers/sidekiq.rb
  spec/factories/donation_blockchain_transactions.rb
  spec/factories/pools.rb
  spec/models/donation_blockchain_transaction_spec.rb
  spec/models/pool_spec.rb
  spec/spec_helper.rb
  spec/workers/donations/send_donation_batch_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  app/workers/donations/send_donation_batch_worker.rb
  spec/workers/donations/send_donation_batch_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add worker test for SendDonationBatchWorker
  Gemfile
  Gemfile.lock
  app/lib/web3/utils/donation_batch.json
  dump.rdb
  spec/rails_helper.rb
  spec/spec_helper.rb
  spec/workers/donations/send_donation_batch_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: new tests]
  app/commands/donations/create_batch_blockchain_donation.rb
  app/jobs/donations/create_batch_blockchain_donation_job.rb
  app/lib/web3/utils/donation_batch.json
  app/models/batch.rb
  db/schema.rb
  spec/commands/donations/create_batch_blockchain_donation_spec.rb
  spec/factories/batches.rb
  spec/jobs/donations/create_batch_blockchain_donation_job_spec.rb
  spec/spec_helper.rb
  spec/workers/donations/send_donation_batch_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add worker test for SendDonationBatchWorker
  Gemfile
  Gemfile.lock
  spec/rails_helper.rb
Due: bundle exec rubocop --force-exclusion -A

feat: create batch blockchain donation att_reader fixed
  app/commands/donations/create_batch_blockchain_donation.rb
  app/models/batch.rb
  app/workers/donations/send_donation_batch_worker.rb
  db/migrate/20221208132808_create_batches.rb
  db/migrate/20221214142509_add_amount_to_batch.rb
  db/schema.rb
  spec/factories/batches.rb
  spec/models/batch_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: worker fixed
  app/commands/donations/create_donations_batch.rb
  app/lib/web3/utils/donation_batch.json
  app/workers/donations/send_donation_batch_worker.rb
  config/initializers/rails_admin.rb
  spec/factories/blockchain_transactions.rb
  spec/models/blockchain_transaction_spec.rb
  spec/workers/donations/send_donation_batch_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: dockerfile change for new queue on sidekiq
  .worker_config/Dockerfile
Due: none

feat: config redis namespace on sidekiq
  config/initializers/sidekiq.rb
Due: bundle exec rubocop --force-exclusion -A

feat: sidekiq yml new try
  config/initializers/sidekiq.rb
  config/sidekiq.yml
Due: bundle exec rubocop --force-exclusion -A

feat: change worker to default queue
  app/workers/donations/send_donation_batch_worker.rb
  config/schedule.yml
  config/sidekiq.yml
Due: bundle exec rubocop --force-exclusion -A

feat: change class send donation batch worker
  app/workers/donations/send_donation_batch_worker.rb
Due: bundle exec rubocop --force-exclusion -A

feat: added require on routes
  app/workers/donations/send_donation_batch_worker.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feat: send donation batch job
  app/jobs/donations/send_donation_batch_job.rb
Due: bundle exec rubocop --force-exclusion -A

fix: Dockerfile
  .worker_config/Dockerfile
Due: none

feat: tests
  app/jobs/donations/send_donation_batch_job.rb
  app/lib/web3/utils/donation_batch.json
  spec/workers/donations/send_donation_batch_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: dockerfile test
  .worker_config/Dockerfile
Due: none

feat: schedule yml fix
  config/schedule.yml
Due: none

feat: donations queue
  config/schedule.yml
  spec/workers/donations/send_donation_batch_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: donations queue test
  app/workers/donations/send_donation_batch_worker.rb
Due: bundle exec rubocop --force-exclusion -A

feat: update blockchain transaction status
  app/jobs/donations/update_blockchain_transaction_status_job.rb
  app/lib/web3/utils/donation_batch.json
  app/models/batch.rb
  app/models/blockchain_transaction.rb
  app/services/service/donations/blockchain_transaction.rb
  config/initializers/rails_admin.rb
  config/schedule.yml
  spec/jobs/donations/send_donation_batch_job_spec.rb
  spec/jobs/donations/update_blockchain_transaction_status_job_spec.rb
  spec/services/service/donations/blockchain_transaction_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: removing old donations from the batch
  app/commands/donations/create_donations_batch.rb
  app/lib/web3/utils/donation_batch.json
Due: bundle exec rubocop --force-exclusion -A

fix: update schedule time
  app/models/blockchain/pool.rb
  app/models/donations/donation_blockchain_transaction.rb
  config/schedule.yml
  db/schema.rb
  spec/factories/donation_blockchain_transactions.rb
  spec/factories/pools.rb
  spec/models/donation_blockchain_transaction_spec.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: reporter log
  app/jobs/donations/send_donation_batch_job.rb
  app/lib/web3/utils/donation_batch.json
  app/workers/donations/send_donation_batch_worker.rb
Due: bundle exec rubocop --force-exclusion -A

feat: lint
  app/workers/donations/send_donation_batch_worker.rb
Due: bundle exec rubocop --force-exclusion -A

feat: reporter log removed form job
  app/jobs/donations/send_donation_batch_job.rb
Due: bundle exec rubocop --force-exclusion -A

feat: update batch worker with args
  app/commands/donations/create_donations_batch.rb
  app/jobs/donations/create_batch_blockchain_donation_job.rb
  app/jobs/donations/send_donation_batch_job.rb
  app/lib/web3/utils/donation_batch.json
  app/workers/donations/send_donation_batch_worker.rb
  config/schedule.yml
  dump.rdb
Due: bundle exec rubocop --force-exclusion -A

feat: add donation batch worker to donation flow
  app/commands/donations/create_donations_batch.rb
  app/jobs/donations/create_batch_blockchain_donation_job.rb
  app/jobs/donations/send_donation_batch_job.rb
  app/lib/web3/utils/donation_batch.json
  app/workers/donations/send_donation_batch_worker.rb
  db/schema.rb
  spec/jobs/donations/send_donation_batch_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add donation batch worker to donation flow
  app/commands/donations/create_donations_batch.rb
  app/jobs/donations/create_batch_blockchain_donation_job.rb
  app/jobs/donations/send_donation_batch_job.rb
  app/lib/web3/utils/donation_batch.json
  app/workers/donations/send_donation_batch_worker.rb
  dump.rdb
  spec/jobs/donations/send_donation_batch_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec
