Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update yarn.lock
  yarn.lock
Due: none

feat: add LegacyUserImpact model
  app/models/legacy/legacy_non_profit.rb
  app/models/legacy/legacy_user_impact.rb
  app/models/users/user.rb
  db/migrate/20230418141559_create_legacy_user_impacts.rb
  db/schema.rb
  spec/factories/legacy/legacy_user_impacts.rb
  spec/models/legacy/legacy_non_profit_spec.rb
  spec/models/legacy/legacy_user_impact_spec.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: fixes bluepring error
  app/blueprints/person_payment_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds something to commit
  app/blueprints/person_payment_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: delete double donations count
  app/models/legacy/legacy_user_impact.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds legacy_id on users table
  app/models/users/user.rb
  db/migrate/20230418154736_add_legacy_id_to_users.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: name of param
  app/controllers/api/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: name of param
  app/commands/donations/donate.rb
Due: bundle exec rubocop --force-exclusion -A

feat: big donation payment by manager
  app/blueprints/cause_blueprint.rb
  app/commands/manager/payments/cryptocurrency.rb
  app/controllers/api/v1/manager/payments/cryptocurrency_controller.rb
  app/models/blockchain/token.rb
  app/models/causes/cause.rb
  app/models/configs/ribon_config.rb
  app/services/person_payment_services/blockchain_transaction.rb
  config/routes.rb
  db/schema.rb
  spec/commands/manager/payments/cryptocurrency_spec.rb
  spec/requests/api/v1/causes_spec.rb
  spec/requests/api/v1/manager/payments/cryptocurrency_controller_spec.rb
  spec/services/person_payment_services/blockchain_transaction_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds CreateUserLegacyImpact command
  app/commands/legacy/create_legacy_user_impact.rb
  app/models/legacy/legacy_non_profit.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove test of current_id on legay non profit
  spec/models/legacy/legacy_non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds create legacy user job
  app/commands/legacy/create_legacy_user_impact.rb
  app/jobs/legacy/create_legacy_user_impact_job.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add can donate voucher validation
  app/controllers/api/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add new instead of find_by
  app/controllers/api/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add voucher id as param
  app/controllers/api/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

test: adds job test
  spec/jobs/legacy/create_legacy_user_impact_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add voucher as private function on can_donate
  app/controllers/api/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add legacy impacts controller
  app/controllers/api/v1/users/legacy_impacts_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add LegacyImpactsController route
  app/blueprints/legacy_non_profit_blueprint.rb
  app/blueprints/user_legacy_impact_blueprint.rb
  app/controllers/api/v1/users/legacy_impacts_controller.rb
Due: bundle exec rubocop --force-exclusion -A

test: update legacy impacts request specs
  spec/requests/api/v1/users/legacy_impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: adds create legacy user impact command test
  spec/commands/legacy/create_legacy_user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds create legacy user impact route
  app/controllers/api/v1/legacy/legacy_user_impact_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

test: adds new test for create legacy user impact
  spec/commands/legacy/create_legacy_user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: added user created_at
  app/commands/legacy/create_legacy_user_impact.rb
  app/controllers/api/v1/legacy/legacy_user_impact_controller.rb
  app/jobs/legacy/create_legacy_user_impact_job.rb
  spec/commands/legacy/create_legacy_user_impact_spec.rb
  spec/jobs/legacy/create_legacy_user_impact_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adjusts from review
  app/commands/legacy/create_legacy_user_impact.rb
  app/controllers/api/v1/legacy/legacy_user_impact_controller.rb
  app/jobs/legacy/create_legacy_user_impact_job.rb
Due: bundle exec rubocop --force-exclusion -A

feat: params permit
  app/controllers/api/v1/legacy/legacy_user_impact_controller.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update legacy impact blueprint name
  app/blueprints/legacy_user_impact_blueprint.rb
  app/controllers/api/v1/users/legacy_impacts_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add mobility to legacy models
  app/models/legacy/legacy_non_profit.rb
  app/models/legacy/legacy_user_impact.rb
  app/models/users/user.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add mobility to legacy models
  spec/services/service/donations/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: legacy params
  app/commands/legacy/create_legacy_user_impact.rb
  app/controllers/api/v1/legacy/legacy_user_impact_controller.rb
  app/jobs/legacy/create_legacy_user_impact_job.rb
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

feat: test
  spec/commands/legacy/create_legacy_user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds pool balance to pool blueprint
  app/blueprints/pool_balance_blueprint.rb
  app/blueprints/pool_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: fixes wrong file names
  app/blueprints/pool_balance_blueprint.rb
  app/blueprints/pool_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: run migrations
  app/models/users/user.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: comments broken test
  spec/services/service/donations/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: adds separate route for manager view
  app/blueprints/pool_blueprint.rb
  app/controllers/api/v1/pools_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: breaking test
  spec/services/service/donations/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: puts pool controller on manager folder
  app/controllers/api/v1/manager/pools_controller.rb
  app/controllers/api/v1/pools_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: changes method name
  app/controllers/api/v1/manager/pools_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feat: don't create user if it not exists
  app/commands/legacy/create_legacy_user_impact.rb
  app/jobs/users/handle_post_user_job.rb
  app/models/legacy/legacy_user_impact.rb
  app/models/users/user.rb
  app/observers/user_observer.rb
  config/application.rb
  db/migrate/20230424200557_add_user_info_to_legacy_user_impact.rb
  db/migrate/20230424204529_change_column_user_on_legacy_user_impact.rb
  db/schema.rb
  spec/commands/legacy/create_legacy_user_impact_spec.rb
  spec/factories/legacy/legacy_user_impacts.rb
  spec/factories/users.rb
  spec/jobs/users/handle_post_user_job_spec.rb
  spec/models/legacy/legacy_user_impact_spec.rb
  spec/models/user_spec.rb
  spec/observers/donation_observer_spec.rb
  spec/observers/user_observer_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
