Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

feat: add story description
  app/blueprints/story_blueprint.rb
  app/controllers/api/v1/stories_controller.rb
  app/models/stories/story.rb
  db/migrate/20230508111817_add_image_description_to_story.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add cause descriptions
  app/blueprints/cause_blueprint.rb
  app/controllers/api/v1/causes_controller.rb
  app/models/causes/cause.rb
  app/models/stories/story.rb
  db/migrate/20230508112348_add_descriptions_to_cause.rb
  db/schema.rb
  spec/factories/causes.rb
  spec/factories/stories.rb
  spec/models/cause_spec.rb
  spec/models/story_spec.rb
  spec/requests/api/v1/causes_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: line lenght
  app/blueprints/non_profit_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: stories test
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds managers controllers
  app/controllers/managers/users_controller.rb
  app/controllers/managers/v1/big_donors_controller.rb
  app/controllers/managers/v1/causes_controller.rb
  app/controllers/managers/v1/configs/ribon_config_controller.rb
  app/controllers/managers/v1/givings/offers_controller.rb
  app/controllers/managers/v1/integrations_controller.rb
  app/controllers/managers/v1/news/articles_controllers.rb
  app/controllers/managers/v1/news/authors_controller.rb
  app/controllers/managers/v1/non_profits_controller.rb
  app/controllers/managers/v1/payments/credit_cards_controller.rb
  app/controllers/managers/v1/person_payments_controller.rb
  app/controllers/managers/v1/stories_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds authorization to manager
  app/controllers/managers/authorization_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add random id if none are matched
  app/models/rule_groups/pick_contribution_based_on_money.rb
Due: bundle exec rubocop --force-exclusion -A

feat: run rubocop
  app/controllers/api/v1/users/tasks_statistics_controller.rb
  app/services/user_services/user_streak_tasks.rb
  config/routes.rb
  spec/models/user_tasks_statistic_spec.rb
  yarn.lock
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add LegacyContribution model
  app/models/legacy/legacy_contribution.rb
  app/models/users/user.rb
  db/migrate/20230509121312_create_legacy_contributions.rb
  db/schema.rb
  spec/factories/legacy/legacy_contributions.rb
  spec/models/legacy/legacy_contribution_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: renames streak service
  app/commands/users/increment_streak.rb
  app/controllers/api/v1/users/tasks_statistics_controller.rb
  app/services/user_services/user_streak_tasks.rb
Due: bundle exec rubocop --force-exclusion -A

fix: rename file
  app/services/user_services/user_tasks_streak.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update can_donate route with voucher check
  app/controllers/api/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update can_donate if flow
  app/controllers/api/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

chore: adds manager routes
  app/controllers/managers/v1/givings/offers_controller.rb
  app/controllers/managers/v1/payments/cryptocurrency_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add integration id to new voucher
  app/controllers/api/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: changes managers controllers inheritance
  app/controllers/managers/v1/big_donors_controller.rb
  app/controllers/managers/v1/causes_controller.rb
  app/controllers/managers/v1/configs/ribon_config_controller.rb
  app/controllers/managers/v1/givings/offers_controller.rb
  app/controllers/managers/v1/integrations_controller.rb
  app/controllers/managers/v1/news/articles_controllers.rb
  app/controllers/managers/v1/news/authors_controller.rb
  app/controllers/managers/v1/non_profits_controller.rb
  app/controllers/managers/v1/payments/credit_cards_controller.rb
  app/controllers/managers/v1/payments/cryptocurrency_controller.rb
  app/controllers/managers/v1/person_payments_controller.rb
  app/controllers/managers/v1/stories_controller.rb
  app/controllers/managers/v1/users_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: fixes articles controller name
  app/controllers/managers/v1/news/articles_controller.rb
Due: bundle exec rubocop --force-exclusion -A

test: adds manager configs test
  spec/requests/managers/ribon_config_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: adds manager offer request test
  spec/requests/managers/givings/offers_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add CreateContributionJob
  app/commands/givings/payment/create_order.rb
  app/jobs/person_payments/create_contribution_job.rb
Due: bundle exec rubocop --force-exclusion -A

fix: set correct namespace for authorization contr
  app/controllers/managers/authorization_controller.rb
Due: bundle exec rubocop --force-exclusion -A

test: update create contribution job specs
  spec/jobs/person_payments/create_contribution_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update send_person_payment_email_job to use payer
  app/jobs/mailers/send_person_payment_email_job.rb
Due: bundle exec rubocop --force-exclusion -A

test: adds more managers controllers tests
  app/controllers/managers/v1/payments/cryptocurrency_controller.rb
  spec/requests/managers/news/articles_spec.rb
  spec/requests/managers/news/authors_spec.rb
  spec/requests/managers/payments/credit_cards_spec.rb
  spec/requests/managers/payments/cryptocurrencies_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adds render error to managers controller
  app/controllers/managers/managers_controller.rb
Due: bundle exec rubocop --force-exclusion -A

test: adds other managers controllers tests
  config/routes.rb
  spec/requests/managers/users_spec.rb
  spec/requests/managers/v1/big_donors_spec.rb
  spec/requests/managers/v1/causes_spec.rb
  spec/requests/managers/v1/givings/offers_spec.rb
  spec/requests/managers/v1/integrations_spec.rb
  spec/requests/managers/v1/news/articles_spec.rb
  spec/requests/managers/v1/news/authors_spec.rb
  spec/requests/managers/v1/non_profits_spec.rb
  spec/requests/managers/v1/payments/credit_cards_spec.rb
  spec/requests/managers/v1/payments/cryptocurrencies_spec.rb
  spec/requests/managers/v1/ribon_config_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: remove todo
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

test: fix send_person_payment_email_job specs with payer
  spec/jobs/mailers/send_person_payment_email_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add LegacyContribution model
  app/models/legacy/legacy_contribution.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add legacy_user_contributions route
  app/blueprints/legacy_user_contributions_blueprint.rb
  app/controllers/api/v1/users/legacy_impacts_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update value to value_cents in legacy contribution
  app/blueprints/legacy_user_contributions_blueprint.rb
  app/models/legacy/legacy_contribution.rb
  config/initializers/rails_admin.rb
  db/migrate/20230510170939_change_legacy_contribution_value_to_value_cents.rb
  db/schema.rb
  spec/factories/legacy/legacy_contributions.rb
  spec/models/legacy/legacy_contribution_spec.rb
  spec/requests/api/v1/users/legacy_impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add currency method returning brl to legacy contribution
  app/models/legacy/legacy_contribution.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update blueprint to user LegacyContribution currency
  app/blueprints/legacy_user_contributions_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update legacy contributions blueprint name
  app/blueprints/legacy_contributions_blueprint.rb
  app/controllers/api/v1/users/legacy_impacts_controller.rb
Due: bundle exec rubocop --force-exclusion -A

test: adds stories tests
  app/controllers/api/v1/stories_controller.rb
  app/controllers/managers/v1/stories_controller.rb
  spec/requests/api/v1/stories_spec.rb
  spec/requests/managers/v1/stories_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update pool balance with processing blockchain transactions
  app/controllers/api/v1/manager/payments/cryptocurrency_controller.rb
  app/jobs/donations/update_blockchain_transactions_job.rb
  app/queries/donation_queries.rb
  app/workers/donations/update_blockchain_transactions_worker.rb
  config/schedule.yml
  spec/jobs/donations/update_blockchain_transactions_job_spec.rb
  spec/queries/donation_queries_spec.rb
  spec/workers/donations/retry_donation_batch_worker_spec.rb
  spec/workers/donations/update_blockchain_transactions_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: worker name
  config/schedule.yml
Due: none

chore: add id to LegacyContributionsBlueprint
  app/blueprints/legacy_contributions_blueprint.rb
  spec/requests/api/v1/users/legacy_impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: fixes tests
  spec/requests/api/v1/causes_spec.rb
  spec/requests/api/v1/stories_spec.rb
  spec/requests/managers/v1/causes_spec.rb
  spec/requests/managers/v1/non_profits_spec.rb
  spec/requests/managers/v1/stories_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec
