Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rspec design complaint
  spec/models/customer_payment_blockchain_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: crypto payment adapter
  app/adapters/adapter/controllers/payment/cryptocurrencies.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add keccak to Utils::Converter
  app/lib/web3/contracts/ribon_contract.rb
  app/lib/web3/utils/converter.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
  spec/lib/web3/utils/converter_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add .env file support and .env.example
  .env.example
  .gitignore
  Gemfile
  Gemfile.lock
Due: none

refactor: update env.yml to use only env vars
  config/env.yml
  spec/models/customer_payment_blockchain_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: add env vars to tests.yml
  .github/workflows/tests.yml
Due: none

feature: crypto routes
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feature: crypto requests specs
  spec/requests/api/v1/payments/cryptocurrencies_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: crypto controller
  app/controllers/api/v1/payments/cryptocurrency_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: transaction hash argument
  app/commands/givings/payment/order_types/cryptocurrency.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: rubocop complaints
  app/adapters/adapter/controllers/payment/cryptocurrencies.rb
  app/commands/givings/payment/order_types/credit_card.rb
  app/commands/givings/payment/order_types/cryptocurrency.rb
  app/controllers/api/v1/payments/cryptocurrency_controller.rb
  app/models/customers/customer_payment.rb
  spec/commands/givings/payment/create_order_spec.rb
  spec/requests/api/v1/payments/cryptocurrencies_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: crypto adapter to the new model
  app/adapters/adapter/controllers/payment/cryptocurrencies.rb
  app/controllers/api/v1/payments/cryptocurrency_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add CommunityTreasure::AddBalance command
  app/commands/givings/community_treasure/add_balance.rb
  spec/commands/givings/community_treasure/add_balance_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add blockchain donation flow to create_order
  app/commands/givings/payment/create_order.rb
  app/models/customers/customer_payment.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add call_add_balance_command to create_order
  app/commands/givings/payment/create_order.rb
Due: bundle exec rubocop --force-exclusion -A

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

feat: add add_giving_to_blockchain job
  app/commands/givings/payment/create_order.rb
  app/jobs/givings/payments/add_giving_to_blockchain_job.rb
  config/application.rb
  spec/jobs/givings/payments/add_giving_to_blockchain_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: add .env and update env.yml to use env vars
  .gitignore
  Gemfile
  Gemfile.lock
  config/env.yml
Due: none

build: add fetch_dotenv task
  Gemfile
  Gemfile.lock
  lib/tasks/secrets/fetch_dotenv.rake
Due: none

build: add .env.example and env vars to tests.yml action
  .env.example
  .github/workflows/tests.yml
Due: none

fix: lint fetch_dotenv.rake
  lib/tasks/secrets/fetch_dotenv.rake
Due: none

feat: add aws secrets management lib and tasks to fetch and update dotenv
  lib/ext/aws_secrets/manager.rb
  lib/tasks/secrets/fetch_dotenv.rake
  lib/tasks/secrets/update_dotenv.rake
Due: bundle exec rubocop --force-exclusion -A

chore: update readme env vars and coverage files
  README.md
  spec/spec_helper.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add add_giving job call to create_order
  app/commands/givings/payment/create_order.rb
  app/jobs/givings/payment/add_giving_to_blockchain_job.rb
  spec/jobs/givings/payment/add_giving_to_blockchain_job_spec.rb
  spec/jobs/givings/payments/add_giving_to_blockchain_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to create_order success callback call
  app/commands/givings/payment/create_order.rb
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: fix test desc
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add command_double to add_giving_blockchain_job spec
  spec/jobs/givings/payment/add_giving_to_blockchain_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

config: add sidekiq config on ebextensions
  .ebextensions/001_create_sidekiq_logs.config
  .ebextensions/002_sidekiq_worker.config
  .ebextensions/003_sidekiq_upstart.config
  .ebextensions/004_sidekiq_mute.config
  .ebextensions/005_sidekiq_restart.config
  .ebextensions/006_eb_sidekiq_hooks.config
  Gemfile.lock
  config/sidekiq_worker.yml
Due: none

refactor: update add_donation_pool_balance without user_identifier
  app/commands/givings/community_treasure/add_balance.rb
  app/commands/givings/payment/create_order.rb
  app/jobs/givings/payment/add_giving_to_blockchain_job.rb
  app/lib/web3/contracts/ribon_contract.rb
  app/lib/web3/providers/networks.rb
  app/lib/web3/utils/abis/ribon_abi.json
  spec/commands/givings/community_treasure/add_balance_spec.rb
  spec/commands/givings/payment/create_order_spec.rb
  spec/jobs/givings/payment/add_giving_to_blockchain_job_spec.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: change dockerfile command to start sidekiq
  .ebextensions/001_create_sidekiq_logs.config
  .ebextensions/002_sidekiq_worker.config
  .ebextensions/003_sidekiq_upstart.config
  .ebextensions/004_sidekiq_mute.config
  .ebextensions/005_sidekiq_restart.config
  .ebextensions/006_eb_sidekiq_hooks.config
  Dockerfile
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/routes.rb
  config/sidekiq.yml
  config/sidekiq_worker.yml
Due: bundle exec rubocop --force-exclusion -A

feature: add worker config folder
  .gitignore
  .worker_config/Dockerfile
Due: none

build: add github actions to deploy worker
  .github/workflows/worker-deploy.yml
  Dockerfile
Due: none

build: fix application name on worker-deploy
  .github/workflows/worker-deploy.yml
Due: none

build: update env name on worker-deploy.yml
  .github/workflows/worker-deploy.yml
Due: none

build: add dev-worker-deploy config
  .github/workflows/dev-worker-deploy.yml
Due: none

build: add staging-worker-deploy action
  .github/workflows/staging-worker-deploy.yml
Due: none

refactor: rename calculate_stripe_giving to calculate_card_giving
  app/commands/givings/card/calculate_card_giving.rb
  spec/commands/givings/card/calculate_card_giving_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add gateway as param to CalculateCardGiving
  app/commands/givings/card/calculate_card_giving.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update Givings FeesController to use new command
  app/controllers/api/v1/givings/fees_controller.rb
  spec/requests/api/v1/givings/fees_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
