Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

refactor: remove minimal view from non profit
  app/blueprints/non_profit_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update PersonPayment blueprint
  app/blueprints/person_payment_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: integration has one integration task
  app/blueprints/integration_blueprint.rb
  app/controllers/api/v1/integrations_controller.rb
  app/models/integrations/integration.rb
  spec/factories/integrations.rb
  spec/models/integration_spec.rb
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: integration has one integration task
  app/models/integrations/integration.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adjust pr pattern
  .github/pull_request_template.md
Due: none

feat: add pagination to PersonPayment
  Gemfile
  Gemfile.lock
  app/blueprints/person_payment_blueprint.rb
  app/controllers/api/v1/person_payments_controller.rb
  config/initializers/kaminari_config.rb
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update logic to order PersonPayment
  app/controllers/api/v1/person_payments_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update webhook url
  app/commands/integrations/update_integration.rb
  app/controllers/api/v1/integrations_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: lint
  app/commands/integrations/update_integration.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update per_page number
  app/controllers/api/v1/person_payments_controller.rb
  config/initializers/kaminari_config.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add refund to credit card
  app/commands/givings/payment/credit_card_refund.rb
  app/commands/givings/payment/order_types/credit_card.rb
  app/controllers/api/v1/payments/credit_cards_controller.rb
  app/lib/payment/gateways/stripe/payment_processor.rb
  config/routes.rb
  spec/factories/users.rb
  spec/lib/payment/gateways/stripe/billing/refund_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add tests to credit card refund
  app/controllers/api/v1/payments/credit_cards_controller.rb
  app/models/people/person_payment.rb
  spec/requests/api/v1/payments/credit_cards_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update per_page number
  app/controllers/api/v1/person_payments_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add external_id to person_payment
  app/commands/givings/payment/create_order.rb
  app/lib/payment/gateways/stripe/payment_processor.rb
  app/models/people/person_payment.rb
  db/migrate/20221020141936_add_external_id_to_person_payments.rb
  db/schema.rb
  spec/commands/givings/payment/create_order_spec.rb
  spec/factories/payment/person_payments.rb
  spec/models/person_payment_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add external_id to person_payment
  app/commands/givings/payment/create_order.rb
  app/lib/payment/gateways/stripe/payment_processor.rb
  spec/commands/givings/payment/create_order_spec.rb
  spec/factories/payment/person_payments.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: tests
  app/commands/givings/payment/create_order.rb
  app/lib/payment/gateways/stripe/payment_processor.rb
  spec/commands/givings/payment/create_order_spec.rb
  spec/support/vcr_cassettes/stripe_payment_method.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  app/commands/givings/payment/create_order.rb
  app/lib/payment/gateways/stripe/payment_processor.rb
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: test
  app/lib/payment/gateways/stripe/payment_processor.rb
Due: bundle exec rubocop --force-exclusion -A

feat: lint
  app/lib/payment/gateways/stripe/payment_processor.rb
Due: bundle exec rubocop --force-exclusion -A

feat:att branch and add external_id
  app/commands/givings/payment/create_order.rb
  app/commands/givings/payment/credit_card_refund.rb
  app/controllers/api/v1/payments/credit_cards_controller.rb
  app/lib/payment/gateways/stripe/billing/refund.rb
  app/lib/payment/gateways/stripe/payment_processor.rb
  app/models/payment/refund.rb
  app/models/people/person_payment.rb
  db/migrate/20221020141936_add_external_id_to_person_payments.rb
  db/schema.rb
  spec/models/person_payment_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add external_id to person_payments response
  app/blueprints/offer_blueprint.rb
  app/blueprints/person_payment_blueprint.rb
  app/controllers/api/v1/person_payments_controller.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

Delete schema.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

fix: delete utms from schema
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add tests to credit_card_refund
  app/commands/givings/payment/credit_card_refund.rb
  app/models/people/person_payment.rb
  app/services/service/givings/payment/orchestrator.rb
  db/migrate/20221020141936_add_external_id_to_person_payments.rb
  db/schema.rb
  spec/commands/givings/payment/credit_card_refund_spec.rb
  spec/factories/payment/person_payments.rb
  spec/lib/payment/gateways/stripe/billing/refund_spec.rb
  spec/lib/payment/gateways/stripe/payment_processor_spec.rb
  spec/models/person_payment_spec.rb
  spec/support/vcr_cassettes/stripe_payment_method.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update person_payments request test with external id
  spec/requests/api/v1/person_payments_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update person_payments request test with external id
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add causes controller
  app/controllers/api/v1/causes_controller.rb
  config/routes.rb
  db/schema.rb
  spec/requests/api/v1/causes_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adjust tests credit_cards controller
  spec/commands/givings/payment/credit_card_refund_spec.rb
  spec/factories/payment/person_payments.rb
  spec/lib/payment/gateways/stripe/billing/refund_spec.rb
  spec/requests/api/v1/payments/credit_cards_spec.rb
  spec/support/vcr_cassettes/stripe_payment_method.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to causes route
  app/controllers/api/v1/causes_controller.rb
  spec/requests/api/v1/causes_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add update processing and api only donations commands
  app/commands/donations/update_api_only_donations.rb
  app/commands/donations/update_processing_donations.rb
  app/jobs/donations/retry_donations_job.rb
  spec/commands/donations/update_api_only_donations_spec.rb
  spec/commands/donations/update_processing_donations_spec.rb
  spec/jobs/donations/retry_donations_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update donation_blockchain_transaction relation to has_many with donations
  app/commands/donations/update_failed_donations.rb
  app/models/donations/donation.rb
  spec/commands/donations/update_failed_donations_spec.rb
  spec/factories/donation_blockchain_transactions.rb
  spec/models/donation_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add UpdateProcessingDonations command tests
  spec/commands/donations/update_processing_donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to UpdateFailedDonations
  spec/commands/donations/update_failed_donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add badges route
  app/blueprints/badge_blueprint.rb
  app/controllers/api/v1/users/badges_controller.rb
  config/routes.rb
  spec/requests/api/v1/badges_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: order user badges
  app/models/users/user.rb
Due: bundle exec rubocop --force-exclusion -A

test: add UpdateApiOnlyDonations test
  spec/commands/donations/update_api_only_donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add RetryDonationsJob
  app/jobs/donations/retry_donations_job.rb
Due: bundle exec rubocop --force-exclusion -A
