Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

chore: delete dump file
  dump.rdb
Due: none

test: add Utm model test validating source
  app/commands/tracking/add_utm.rb
  spec/models/utm_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: fix name of function to transform id
  app/controllers/api/v1/causes_controller.rb
Due: bundle exec rubocop --force-exclusion -A

test: add test to check if call the correct pool when the donation has a cause
  spec/commands/donations/create_blockchain_donation_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: create pool
  app/commands/causes/create_cause.rb
  app/lib/web3/contracts/base_contract.rb
  app/lib/web3/contracts/ribon_contract.rb
  app/models/blockchain/token.rb
  config/locales/en.yml
  config/locales/pt-BR.yml
Due: bundle exec rubocop --force-exclusion -A

feat: add active function to causes model
  app/blueprints/cause_blueprint.rb
  app/models/causes/cause.rb
Due: bundle exec rubocop --force-exclusion -A

fix: adjust causes test
  spec/requests/api/v1/causes_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add last donated cause to users
  app/blueprints/user_blueprint.rb
  app/models/users/user.rb
  db/migrate/20221109111102_add_last_donated_cause_to_user.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust active logic
  app/models/causes/cause.rb
Due: bundle exec rubocop --force-exclusion -A

fix: typo
  app/blueprints/user_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add tests to active method
  spec/requests/api/v1/causes_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: fix the label test
  spec/requests/api/v1/causes_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: move last donated cause to user donation stats
  app/models/users/user.rb
  app/models/users/user_donation_stats.rb
  db/migrate/20221109111102_add_last_donated_cause_to_user.rb
  db/migrate/20221109111102_add_last_donated_cause_to_user_donation_stats.rb
  db/schema.rb
  spec/factories/user_donation_stats.rb
  spec/factories/users.rb
  spec/models/user_donation_stats_spec.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add tests to cause model
  spec/models/cause_spec.rb
  spec/requests/api/v1/causes_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: update last donated cause from command
  app/commands/donations/donate.rb
  app/commands/donations/set_last_donated_cause.rb
  spec/commands/donations/donate_spec.rb
  spec/commands/donations/set_last_donated_cause_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add endline to spec
  spec/commands/donations/set_last_donated_cause_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rubocop issues
  app/commands/donations/donate.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add association to guest to pick wallet address
  app/blueprints/guest_blueprint.rb
  app/blueprints/person_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: tests
  app/commands/causes/create_cause.rb
  app/commands/causes/update_cause.rb
  app/commands/causes/upsert_cause.rb
  app/controllers/api/v1/causes_controller.rb
  app/lib/web3/contracts/base_contract.rb
  app/lib/web3/contracts/ribon_contract.rb
  app/services/graphql/queries/fetch_pools.rb
  config/env.yml
  config/locales/en.yml
  spec/commands/causes/upsert_cause_spec.rb
  spec/factories/graphql/fetch_pools_query.rb
  spec/requests/api/v1/causes_spec.rb
  spec/services/graphql/queries/fetch_pools.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add external id and gateway to blueprint
  app/blueprints/offer_blueprint.rb
  app/models/blockchain/pool.rb
  spec/factories/pools.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: remove print
  app/commands/causes/upsert_cause.rb
Due: bundle exec rubocop --force-exclusion -A

feat: lint
  app/commands/causes/upsert_cause.rb
  spec/commands/causes/upsert_cause_spec.rb
  spec/requests/api/v1/causes_spec.rb
  spec/services/graphql/queries/fetch_pools_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: test
  spec/commands/causes/upsert_cause_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: fix linter
  app/blueprints/offer_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: adjust test
  spec/requests/api/v1/givings/offers_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add new route to manager and blueprint
  app/blueprints/offer_blueprint.rb
  app/blueprints/offer_manager_blueprint.rb
  app/controllers/api/v1/givings/offers_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: adjust tests and add new test to new route
  spec/requests/api/v1/givings/offers_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: linter
  app/blueprints/offer_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: linter
  spec/requests/api/v1/givings/offers_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: more tests
  app/commands/causes/upsert_cause.rb
  config/locales/en.yml
  config/locales/pt-BR.yml
  spec/commands/causes/upsert_cause_spec.rb
  spec/requests/api/v1/causes_spec.rb
  spec/support/stub_helpers.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust blueprint
  app/blueprints/offer_blueprint.rb
  app/blueprints/offer_manager_blueprint.rb
  app/controllers/api/v1/givings/offers_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add status top NonProfit blueprint
  app/blueprints/non_profit_blueprint.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add status to response in NonProfit test
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: pools timestamp
  app/services/graphql/queries/fetch_pools.rb
Due: bundle exec rubocop --force-exclusion -A

feat: ribon abi
  app/lib/web3/utils/abis/ribon_abi.json
Due: none

feat: adds offers show method
  app/controllers/api/v1/givings/offers_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add non_profit param to CreditCard order
  app/commands/givings/payment/order_types/credit_card.rb
  app/controllers/api/v1/payments/credit_cards_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add receiver to person_payment
  app/commands/givings/payment/order_types/credit_card.rb
  app/controllers/api/v1/payments/credit_cards_controller.rb
  app/models/causes/cause.rb
  app/models/non_profits/non_profit.rb
  app/models/people/person_payment.rb
  app/models/users/user_donation_stats.rb
  db/migrate/20221116163407_add_receiver_to_person_payments.rb
  db/schema.rb
  spec/factories/user_donation_stats.rb
  spec/models/person_payment_spec.rb
  spec/models/user_donation_stats_spec.rb
  spec/requests/api/v1/payments/credit_cards_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec
