Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add Donation command and donation route
  Gemfile
  Gemfile.lock
  app/commands/donations/donate.rb
  app/controllers/api/v1/donations_controller.rb
  app/models/donation.rb
  config/routes.rb
  db/migrate/20220216122906_create_donations.rb
  db/schema.rb
  lib/generators/command/USAGE
  lib/generators/command/command_generator.rb
  lib/generators/command/templates/command_spec_template.template
  lib/generators/command/templates/command_template.template
  lib/generators/service/USAGE
  lib/generators/service/service_generator.rb
  lib/generators/service/templates/service_spec_template.template
  lib/generators/service/templates/service_template.template
  spec/commands/donations/donate_spec.rb
  spec/factories/donations.rb
  spec/models/donation_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add donate command tests
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update gemfile rubocop
  Gemfile
Due: none

refactor: add simple command to lib
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/lib/simple_command.rb
  app/lib/simple_command/errors.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add ribon_contract lib file
  Gemfile
  Gemfile.lock
  app/lib/web3/ribon_contract.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds donate_through_integration method
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/lib/web3/ribon_contract.rb
Due: bundle exec rubocop --force-exclusion -A

fix: removes unused variable
  app/lib/web3/ribon_contract.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add create_blockchain_donation
  app/commands/donations/donate.rb
Due: bundle exec rubocop --force-exclusion -A

test: add Donate command tests of calling contract
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add DEFAULT_DONATION_AMOUNT and donation blockchain link
  app/commands/donations/donate.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: add securelistener-clb config to ebextensions
  .ebextensions/securelistener-clb.config
Due: none

feat: add integrations route
  app/blueprints/integration_blueprint.rb
  app/controllers/api/v1/integrations_controller.rb
  config/routes.rb
  spec/factories/integrations.rb
  spec/requests/api/v1/integrations_spec.rb
  vendor/assets/ribon_logo.png
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add redis store to lib
  Gemfile
  Gemfile.lock
  app/lib/redis_store/entry.rb
  app/lib/redis_store/h_store.rb
  app/lib/redis_store/restored_entry.rb
  config/application.rb
  config/env.yml
Due: bundle exec rubocop --force-exclusion -A

refactor: update h_store and restore_entry\
  app/lib/redis_store/h_store.rb
  app/lib/redis_store/restored_entry.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add user table
  app/models/user.rb
  db/migrate/20220221190802_create_users.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add user to donation
  app/commands/donations/donate.rb
  app/controllers/api/v1/donations_controller.rb
  app/models/donation.rb
  app/models/user.rb
  db/migrate/20220222171338_add_user_to_donations.rb
  db/schema.rb
  spec/commands/donations/donate_spec.rb
  spec/models/donation_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/api/v1/donations_spec.rb
  spec/support/stub_helpers.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add user create route
  app/controllers/api/v1/users_controller.rb
  config/routes.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update user_address variable
  app/commands/donations/donate.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add user email to donate command
  app/commands/donations/donate.rb
  app/lib/web3/ribon_contract.rb
  config/env.yml
Due: bundle exec rubocop --force-exclusion -A

fix: update users factory lint
  spec/factories/users.rb
Due: bundle exec rubocop --force-exclusion -A

test: update donate command test
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add User blueprint
  app/blueprints/user_blueprint.rb
  app/controllers/api/v1/users_controller.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add graphql to ruby
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  app/controllers/graphql_controller.rb
  app/graphql/mutations/.keep
  app/graphql/mutations/base_mutation.rb
  app/graphql/queries/base_query.rb
  app/graphql/queries/fetch_users.rb
  app/graphql/ribon_core_api_schema.rb
  app/graphql/types/.keep
  app/graphql/types/base_argument.rb
  app/graphql/types/base_connection.rb
  app/graphql/types/base_edge.rb
  app/graphql/types/base_enum.rb
  app/graphql/types/base_field.rb
  app/graphql/types/base_input_object.rb
  app/graphql/types/base_interface.rb
  app/graphql/types/base_object.rb
  app/graphql/types/base_scalar.rb
  app/graphql/types/base_union.rb
  app/graphql/types/input/user_input_type.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/node_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/user_type.rb
  app/models/user.rb
  config/routes.rb
  db/migrate/20220222123150_create_users.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add search route to users
  app/controllers/api/v1/users_controller.rb
  config/routes.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add graphql query client
  Gemfile
  Gemfile.lock
  app/graphql/queries/fetch_user_impact.rb
  app/graphql/types/.keep
  app/graphql/types/input/user_impact_input_type.rb
  app/graphql/types/input/user_input_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/user_impact_type.rb
  app/models/user.rb
  app/models/user_impact.rb
  app/services/graphql/queries/fetch_promoters.rb
  app/services/graphql/ribon_api.rb
  db/migrate/20220221190802_create_users.rb
  spec/factories/user_impacts.rb
  spec/models/user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add mobility gem
  Gemfile
  Gemfile.lock
  app/models/non_profit.rb
  config/initializers/mobility.rb
  db/migrate/20220307131421_create_text_translations.rb
  db/migrate/20220307131422_create_string_translations.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add rails admin config for mobility
  app/controllers/rails_admin/rails_admin_abstract_controller.rb
  config/initializers/rails_admin.rb
  config/locales/admin.pt-BR.yml
  config/locales/pt-BR.yml
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update rubocop for rails_admin controller
  .rubocop.yml
  app/controllers/rails_admin/rails_admin_abstract_controller.rb
  config/locales/admin.pt-BR.yml
Due: bundle exec rubocop --force-exclusion -A

feat: add set_language to application controller
  app/controllers/application_controller.rb
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

build: update bundle gems
  Gemfile.lock
Due: none

feat: update graphql queries
  app/services/graphql/queries/fetch_donation_balances.rb
  app/services/graphql/queries/fetch_integrations.rb
  app/services/graphql/queries/fetch_non_profits.rb
Due: bundle exec rubocop --force-exclusion -A

fix: delete graphql backend server
  app/graphql/mutations/.keep
  app/graphql/mutations/base_mutation.rb
  app/graphql/queries/base_query.rb
  app/graphql/queries/fetch_user_impact.rb
  app/graphql/queries/fetch_users.rb
  app/graphql/ribon_core_api_schema.rb
  app/graphql/types/base_argument.rb
  app/graphql/types/base_connection.rb
  app/graphql/types/base_edge.rb
  app/graphql/types/base_enum.rb
  app/graphql/types/base_field.rb
  app/graphql/types/base_input_object.rb
  app/graphql/types/base_interface.rb
  app/graphql/types/base_object.rb
  app/graphql/types/base_scalar.rb
  app/graphql/types/base_union.rb
  app/graphql/types/input/user_impact_input_type.rb
  app/graphql/types/input/user_input_type.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/node_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/user_impact_type.rb
  app/graphql/types/user_type.rb
  app/services/graphql/ribon_api.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add user_donation_stats
  app/models/user_donation_stats.rb
  db/migrate/20220309162629_create_user_donation_stats.rb
  db/schema.rb
  spec/factories/user_donation_stats.rb
  spec/models/user_donation_stats_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add set_user_donation_stats to User
  app/models/user.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add next_donation_at to user_donation_stats
  app/models/user.rb
  app/models/user_donation_stats.rb
  spec/models/user_donation_stats_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add #can_donate? to user_donation_stats
  app/models/user.rb
  app/models/user_donation_stats.rb
  spec/models/user_donation_stats_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add next_donation_at nil case to can_donate?
  app/models/user_donation_stats.rb
  spec/models/user_donation_stats_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: add user to user_donation_stats factory
  spec/factories/user_donation_stats.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add keccak and adds encrypted email
  Gemfile
  Gemfile.lock
  app/models/user.rb
Due: bundle exec rubocop --force-exclusion -A

fix: delete graphql_controller that is not used
  app/controllers/graphql_controller.rb
Due: bundle exec rubocop --force-exclusion -A

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
