Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

feat: tests
  spec/jobs/users/handle_post_user_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: tests
  spec/commands/legacy/create_legacy_user_impact_spec.rb
  spec/jobs/users/handle_post_user_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: added authorization token to legacy route
  app/controllers/api/v1/legacy/legacy_user_impact_controller.rb
  config/env.yml
  spec/requests/api/v1/legacy/legacy_user_impact_controller_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust copy invalid ticket
  config/locales/en.yml
  config/locales/pt-BR.yml
Due: none

fix: more info
  app/blueprints/legacy_non_profit_blueprint.rb
  app/commands/legacy/create_legacy_user_impact.rb
  app/models/legacy/legacy_non_profit.rb
  db/migrate/20230426173202_add_impact_cost_ribons_to_legacy_non_profit.rb
  db/schema.rb
  spec/commands/legacy/create_legacy_user_impact_spec.rb
  spec/factories/legacy/legacy_non_profits.rb
  spec/jobs/legacy/create_legacy_user_impact_job_spec.rb
  spec/models/legacy/legacy_non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add donate app as param to user can donate
  app/controllers/api/v1/users_controller.rb
  app/models/users/user.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: linter
  app/controllers/api/v1/users_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add receiver to ContributionFeeableQuery
  app/queries/contribution_queries.rb
  spec/queries/contribution_queries_spec.rb
  spec/services/service/contributions/fees_labeling_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: increase pool balance
  app/models/people/person_blockchain_transaction.rb
  app/services/service/donations/pool_balances.rb
  spec/models/person_blockchain_transaction_spec.rb
  spec/services/service/donations/pool_balances_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds deleted at field to user
  app/models/users/user.rb
  config/initializers/rails_admin.rb
  db/migrate/20230427153720_add_deleted_at_to_users.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: change column total_donated_usd to decimal
  app/models/legacy/legacy_user_impact.rb
  db/migrate/20230427184140_change_total_donated_usd_on_legacy_user_impact.rb
  db/schema.rb
  spec/factories/legacy/legacy_user_impacts.rb
  spec/models/legacy/legacy_user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add stripe callback status check
  app/commands/givings/payment/create_order.rb
  app/lib/payment/gateways/stripe/payment_processor.rb
  app/models/people/person_payment.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add helpers to stripe gateway
  app/commands/givings/payment/create_order.rb
  app/lib/payment/gateways/stripe/helpers.rb
Due: bundle exec rubocop --force-exclusion -A

test: add stripe helpers tests
  app/commands/givings/payment/create_order.rb
  spec/lib/payment/gateways/stripe/helpers_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to pending case in CreateOrder
  spec/commands/givings/payment/create_order_spec.rb
  spec/support/vcr_cassettes/stripe_payment_method_pending.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update current_id
  app/commands/legacy/create_legacy_user_impact.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add feeable to cryptocurrency
  app/commands/manager/payments/cryptocurrency.rb
  app/controllers/api/v1/manager/payments/cryptocurrency_controller.rb
Due: bundle exec rubocop --force-exclusion -A

chore: add 500_000 of gas limit to create pool
  app/lib/web3/contracts/ribon_contract.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add create non feeable contribution flow
  app/commands/contributions/create_non_feeable_contribution.rb
  app/commands/manager/payments/cryptocurrency.rb
  app/controllers/api/v1/manager/payments/cryptocurrency_controller.rb
  lib/ext/string.rb
  spec/commands/manager/payments/cryptocurrency_spec.rb
  spec/requests/api/v1/manager/payments/cryptocurrency_controller_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update set_contribution_balance fees and tickets balance division
  app/models/contributions/contribution.rb
  spec/models/contribution_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add 0 crypto fee to crypto payments
  app/models/people/person_payment.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update cryptocurrency controller to use CreateContribution by default
  app/controllers/api/v1/manager/payments/cryptocurrency_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add rescue to non profit logo attaching in legacy
  app/commands/legacy/create_legacy_user_impact.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove logo_url validation in LegacyNonProfit
  app/models/legacy/legacy_non_profit.rb
Due: bundle exec rubocop --force-exclusion -A

test: remove logo_url validation in LegacyNonProfit
  spec/models/legacy/legacy_non_profit_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update success_callback to be called only if payments has :paid status
  app/commands/givings/payment/create_order.rb
  spec/commands/givings/payment/create_order_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add ticket balance transfer to fees balance
  app/services/service/contributions/remaining_contribution_fee_handler_service.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add fee cents to transfer_ticket_balance method
  app/services/service/contributions/remaining_contribution_fee_handler_service.rb
Due: bundle exec rubocop --force-exclusion -A

feat: sets managers controllers structure
  app/controllers/managers/managers_controller.rb
  app/controllers/managers/v1/pools_controller.rb
  config/routes.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: removes unnecessary method
  app/controllers/managers/managers_controller.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: sets pools controller to inherit fr managers
  app/controllers/managers/v1/pools_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds user taks statistics
  Gemfile.lock
  app/controllers/api/v1/users/tasks_statistics_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/models/users/user.rb
  app/models/users/user_tasks_statistic.rb
  app/services/user_services/user_streak_tasks.rb
  config/routes.rb
  db/migrate/20230505134255_create_user_tasks_statistics.rb
  db/schema.rb
  spec/factories/user_tasks_statistics.rb
  spec/models/user_tasks_statistic_spec.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add tasks statistics blueprint and adjust migration
  app/blueprints/user_tasks_statistics_blueprint.rb
  app/controllers/api/v1/users/tasks_statistics_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/models/users/user.rb
  app/models/users/user_tasks_statistic.rb
  app/services/user_services/user_streak_tasks.rb
  config/routes.rb
  db/migrate/20230505134255_create_user_tasks_statistics.rb
  db/schema.rb
  spec/factories/user_tasks_statistics.rb
  spec/models/user_tasks_statistic_spec.rb
  spec/requests/api/v1/users/tasks_statistics_spec.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add tests
  app/models/users/user_tasks_statistic.rb
  config/initializers/rails_admin.rb
  spec/requests/api/v1/users/tasks_statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add has_contribution
  app/models/users/user_tasks_statistic.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add has_contribution
  app/controllers/api/v1/users/tasks_statistics_controller.rb
  spec/requests/api/v1/users/tasks_statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds increment streak command
  app/commands/users/increment_streak.rb
  app/controllers/api/v1/users_controller.rb
  app/services/user_services/user_streak_tasks.rb
Due: bundle exec rubocop --force-exclusion -A

fix: rename method
  app/blueprints/user_tasks_statistics_blueprint.rb
  app/models/users/user_tasks_statistic.rb
  spec/requests/api/v1/users/tasks_statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add confirmation image to non profit
  app/blueprints/non_profit_blueprint.rb
  app/controllers/api/v1/non_profits_controller.rb
  app/models/non_profits/non_profit.rb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: non profit image descriptions
  app/blueprints/non_profit_blueprint.rb
  app/controllers/api/v1/non_profits_controller.rb
  app/models/non_profits/non_profit.rb
  db/migrate/20230508111137_add_descriptions_to_non_profit.rb
  db/schema.rb
  spec/factories/non_profits.rb
  spec/models/non_profit_spec.rb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec
