Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

refactor: use invalid wallet address in the test environment
  spec/factories/chains.rb
  spec/factories/graphql/fetch_donation_balances_query.rb
  spec/factories/integration_wallets.rb
  spec/factories/person_blockchain_transactions.rb
  spec/services/user_services/user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: change private key addresses
  spec/factories/integration_wallets.rb
  spec/models/integration_wallet_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: minify seeds
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

feature: rake task for customizable seeds
  lib/tasks/ribon/setup.rake
Due: none

fix: typo
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: fix rubocop issues
  lib/tasks/ribon/setup.rake
Due: none

fix: required field for non profits
  lib/tasks/ribon/setup.rake
Due: none

refactor: use create! method for create new admins
  lib/tasks/ribon/setup.rake
Due: none

refactor: remove the general credentials file
  config/credentials.yml.enc
Due: none

feature: multi environment credential config
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
Due: none

feature: get sensitive credentials from Rails credentials file
  config/env.yml
Due: none

feature: ignore key files using gitignore
  .gitignore
Due: none

revert: get credentials from env file
  config/env.yml
Due: none

feature: get sensitive credentials from rails credentials
  config/env.yml
Due: none

feature: using multi environment credential files
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
Due: none

feature: add rails master key secret to github actions
  .github/workflows/tests.yml
Due: none

refactor: command output formatting
  lib/tasks/ribon/setup.rake
Due: none

feature: remove credentials from the example env file
  .env.example
Due: none

feat: add gas_fee_url to Chain
  db/migrate/20220905103431_add_gas_fee_url_to_chains.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add FeeCalculator lib and #gas_fee to Chain
  app/lib/web3/utils/fee_calculator.rb
  app/models/blockchain/chain.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add Utils::Gas
  app/lib/web3/providers/client.rb
  app/lib/web3/utils/fee_calculator.rb
  app/lib/web3/utils/gas.rb
Due: bundle exec rubocop --force-exclusion -A

test: add tests to gas class
  app/lib/web3/utils/gas.rb
  spec/factories/chains.rb
  spec/lib/web3/utils/gas_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to fee lib
  app/lib/web3/utils/fee.rb
  spec/lib/web3/providers/client_spec.rb
  spec/lib/web3/utils/fee_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to Chain #gas_fee
  app/models/blockchain/chain.rb
  spec/lib/web3/utils/gas_spec.rb
  spec/models/chain_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update converted_giving
  app/commands/givings/card/calculate_card_giving.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add status to non profits
  app/controllers/api/v1/non_profits_controller.rb
  app/controllers/main_controller.rb
  app/models/non_profits/non_profit.rb
  db/migrate/20220905183310_add_status_to_non_profits.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/non_profits.rb
  spec/models/non_profit_spec.rb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  app/models/non_profits/non_profit.rb
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

feat: lint
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

feat: tests
  spec/requests/api/v1/non_profits_spec.rb
  spec/requests/main_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: update on factories to improve seed file
  app/lib/web3/providers/networks.rb
  spec/factories/admins.rb
  spec/factories/chains.rb
  spec/factories/integrations.rb
  spec/factories/non_profits.rb
  spec/factories/ribon_configs.rb
Due: bundle exec rubocop --force-exclusion -A

feat: update seeds file with FactoryBot
  .gitignore
  db/seeds.rb
  spec/db/seeds_spec.rb
  spec/factories/integrations.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: delete logs in seeds file
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

feature: token table
  db/migrate/20220906183656_create_tokens.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feature: token model and new relationships
  app/models/blockchain/chain.rb
  app/models/blockchain/token.rb
Due: bundle exec rubocop --force-exclusion -A

feature: token specs and factories
  spec/factories/tokens.rb
  spec/models/token_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: database table for pools
  db/migrate/20220908143101_create_pools.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feature: pool specs and implementation
  app/models/blockchain/pool.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: pool factory
  spec/factories/pools.rb
Due: bundle exec rubocop --force-exclusion -A

feat: refactor of certain columns from string to integer
  app/controllers/main_controller.rb
  app/models/integrations/integration.rb
  app/models/non_profits/non_profit.rb
  app/models/people/person_payment.rb
  db/migrate/20220905183310_add_status_to_non_profits.rb
  db/migrate/20220906195706_change_status_on_integrations.rb
  db/migrate/20220908165111_change_status_on_person_payment.rb
  db/migrate/20220908170031_change_payment_method_on_person_payment.rb
  db/schema.rb
  db/seeds.rb
  spec/commands/integrations/create_integration_spec.rb
  spec/requests/api/v1/integrations_spec.rb
  spec/requests/main_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  app/models/integrations/integration.rb
  app/models/non_profits/non_profit.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A
