Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: author payload
  app/controllers/api/v1/news/authors_controller.rb
  spec/requests/api/v1/news/authors_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

hotfix: use curly braces for authors payload
  spec/requests/api/v1/news/authors_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: update SendDonationEmailJob specs
  app/jobs/mailers/send_donation_email_job.rb
  spec/jobs/mailers/send_donation_email_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust user statistics when has wallet address
  app/blueprints/user_statistics_blueprint.rb
  app/commands/users/calculate_statistics.rb
  app/services/service/guests/statistics.rb
  spec/commands/users/calculate_statistics_spec.rb
  spec/requests/api/v1/users/statistics_spec.rb
  spec/services/service/guest/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add queries to check for last contributions on user
  app/jobs/mailers/send_contribution_reactivation_email_job.rb
  app/models/users/user.rb
  app/workers/mailers/check_for_contribution_reactivation.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add UserQueries class
  .rubocop.yml
  app/models/users/user.rb
  app/queries/user_queries.rb
Due: bundle exec rubocop --force-exclusion -A

feat: send 4 months inactivity email
  app/jobs/mailers/send_months_inactivity_email_job.rb
  app/mailers/sendgrid_web_mailer.rb
  app/workers/mailers/send_months_inactivity_email_worker.rb
  config/env.yml
  config/schedule.yml
  spec/jobs/mailers/send_months_inactivity_email_job_spec.rb
  spec/workers/mailers/send_months_inactivity_email_worker_spec.rb
  spec/workers/mailers/send_one_week_inactivity_email_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: create command and service to guest to calculate statistics
  app/controllers/api/v1/users/statistics_controller.rb
  app/models/users/user.rb
  app/services/service/users/statistics.rb
  config/routes.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/api/v1/users/statistics_spec.rb
  spec/requests/api/v1/users_spec.rb
  spec/services/service/guests/statistics_spec.rb
  spec/services/service/users/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update SendContributionReactivationEmailJob params
  app/jobs/mailers/send_contribution_reactivation_email_job.rb
Due: bundle exec rubocop --force-exclusion -A

fix: conflicts with 339
  config/env.yml
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove console log
  app/jobs/mailers/send_months_inactivity_email_job.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add dynamic templates to contribution emails
  app/jobs/mailers/send_contribution_reactivation_email_job.rb
  config/env.yml
Due: bundle exec rubocop --force-exclusion -A

fix: update community add value percentage
  app/jobs/mailers/send_contribution_reactivation_email_job.rb
Due: bundle exec rubocop --force-exclusion -A

fix: lint
  .rubocop.yml
  app/queries/user_queries.rb
  app/workers/mailers/check_for_contribution_reactivation.rb
Due: bundle exec rubocop --force-exclusion -A

feat: update with staging
  app/jobs/donations/handle_post_donation_job.rb
  app/jobs/mailers/send_donations_email_job.rb
  app/models/users/user.rb
  db/schema.rb
  spec/factories/users.rb
  spec/jobs/donations/handle_post_donation_job_spec.rb
  spec/jobs/mailers/send_donations_email_job_spec.rb
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: update user_queries spec
  app/queries/user_queries.rb
  spec/queries/user_queries_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update #impact receiver param
  app/jobs/mailers/send_contribution_reactivation_email_job.rb
Due: bundle exec rubocop --force-exclusion -A

fix: adjust wallet param
  app/controllers/api/v1/users/statistics_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: wallet param and tests
  app/controllers/api/v1/users/statistics_controller.rb
  spec/requests/api/v1/users/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: update with observers
  app/commands/donations/donate.rb
  app/jobs/donations/handle_post_donation_job.rb
  app/jobs/mailers/send_one_donation_email_job.rb
  config/env.yml
  spec/commands/donations/donate_spec.rb
  spec/jobs/donations/handle_post_donation_job_spec.rb
  spec/jobs/mailers/send_one_donation_email_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add sidekiq to CheckForContributionReactivation worker
  app/workers/mailers/check_for_contribution_reactivation.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add I18n locale to format reactivation email params
  app/jobs/mailers/send_contribution_reactivation_email_job.rb
  app/workers/mailers/check_for_contribution_reactivation.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add author and articles to rails admin
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

test: update check_for_contribution_reactivation_worker specs
  app/workers/mailers/check_for_contribution_reactivation_worker.rb
  config/schedule.yml
  spec/workers/mailers/check_for_contribution_reactivation_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add bimonthly report email job and tests
  app/jobs/donations/handle_post_donation_job.rb
  app/jobs/mailers/handle_bimonthly_email_report_job.rb
  app/jobs/mailers/send_donation_email_job.rb
  app/jobs/mailers/send_free_bimonthly_email_report.rb
  app/lib/date_range/helper.rb
  spec/jobs/mailers/handle_bimonthly_email_report_job_spec.rb
  spec/support/mailers_helpers.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add worker to send bimonthly report email
  app/workers/mailers/send_bimonthly_email_report_worker.rb
  spec/workers/mailers/send_bimonthly_email_report_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: date formatter
  app/lib/formatters/date.rb
  spec/lib/formatters/date_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add formatted date to blueprint
  app/blueprints/article_blueprint.rb
  config/locales/en.yml
  config/locales/pt-BR.yml
  spec/requests/api/v1/news/articles_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: filter articles by published date
  app/controllers/api/v1/news/articles_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: typo
  app/lib/formatters/date.rb
Due: bundle exec rubocop --force-exclusion -A

fix: lint issues
  app/lib/formatters/date.rb
Due: bundle exec rubocop --force-exclusion -A

feat: remove method first donation
  app/commands/donations/donate.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update test to incluse mailers queue
  spec/workers/mailers/send_bimonthly_email_report_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update report methods to user_queries
  app/jobs/mailers/handle_bimonthly_email_report_job.rb
  app/queries/user_queries.rb
  spec/jobs/mailers/handle_bimonthly_email_report_job_spec.rb
  spec/queries/user_queries_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update query to retrieve users that donated around 2 to 3 months ago
  app/workers/mailers/send_bimonthly_email_report_worker.rb
  spec/workers/mailers/send_bimonthly_email_report_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add promoter 2 months report email
  app/jobs/mailers/handle_bimonthly_email_report_job.rb
  app/models/users/user.rb
  config/env.yml
Due: bundle exec rubocop --force-exclusion -A

fix: update user promoter? method
  app/models/users/user.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: use pure ruby to do the humanization
  app/blueprints/article_blueprint.rb
  app/lib/formatters/date.rb
  config/locales/en.yml
  config/locales/pt-BR.yml
  spec/lib/formatters/date_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: lint issues
  app/blueprints/article_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: new translations
  config/locales/en.yml
  config/locales/pt-BR.yml
Due: none

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
