Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add IntegrationImpact blueprint
  app/blueprints/integration_impact_blueprint.rb
  app/controllers/api/v1/integrations/impacts_controller.rb
  spec/requests/api/v1/integrations/impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add positive impact only on Donations::Statistics
  app/services/service/donations/statistics.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adjusts from review
  app/commands/donations/create_donations_batch.rb
  app/lib/request/api_request.rb
  app/lib/web3/storage/nft_storage/base.rb
  app/lib/web3/utils/donation_batch.json
  spec/lib/request/api_request_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  app/lib/request/api_request.rb
Due: bundle exec rubocop --force-exclusion -A

fix: total amount with map
  app/commands/donations/create_donations_batch.rb
  app/lib/web3/utils/donation_batch.json
  app/workers/donations/send_donation_batch_worker.rb
Due: bundle exec rubocop --force-exclusion -A

feat: remove print
  app/commands/donations/create_donations_batch.rb
  app/lib/web3/utils/donation_batch.json
Due: bundle exec rubocop --force-exclusion -A

feat: donation batch json on gitignore
  .gitignore
Due: none

fix: logger info donation_batch
  app/commands/donations/create_donations_batch.rb
  app/lib/web3/utils/donation_batch.json
Due: bundle exec rubocop --force-exclusion -A

feat: more logger info
  app/commands/donations/create_donations_batch.rb
Due: bundle exec rubocop --force-exclusion -A

feat: more logger info lint
  app/commands/donations/create_donations_batch.rb
Due: bundle exec rubocop --force-exclusion -A

fix: Rails logger info batch
  app/commands/donations/create_donations_batch.rb
Due: bundle exec rubocop --force-exclusion -A

fix: back to http party
  app/commands/donations/create_donations_batch.rb
  app/lib/web3/storage/nft_storage/base.rb
  app/lib/web3/utils/donation_batch.json
Due: bundle exec rubocop --force-exclusion -A

fix: rails logger info
  app/commands/donations/create_donations_batch.rb
  app/lib/web3/utils/donation_batch.json
Due: bundle exec rubocop --force-exclusion -A

fix: remove rails logger info
  app/commands/donations/create_donations_batch.rb
  app/lib/web3/storage/nft_storage/base.rb
  app/lib/web3/utils/donation_batch.json
Due: bundle exec rubocop --force-exclusion -A

fix: remove rails logger info
  app/commands/donations/create_donations_batch.rb
Due: bundle exec rubocop --force-exclusion -A

fix: new schedule time
  app/lib/web3/utils/donation_batch.json
  config/schedule.yml
Due: none

feat: add history table with total donors and total donations
  app/blueprints/history_blueprint.rb
  app/controllers/api/v1/site/histories_controller.rb
  app/models/history.rb
  config/initializers/rails_admin.rb
  config/routes.rb
  db/schema.rb
  spec/factories/histories.rb
  spec/models/history_spec.rb
  spec/requests/api/v1/site/histories_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: linter
  app/blueprints/history_blueprint.rb
  app/controllers/api/v1/site/histories_controller.rb
  app/models/history.rb
  spec/models/history_spec.rb
  spec/requests/api/v1/site/histories_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add migration:
  app/models/history.rb
  db/migrate/20221220150049_create_history.rb
  db/schema.rb
  spec/factories/histories.rb
  spec/models/history_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: check if user exists
  app/commands/donations/donate.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: user validation translations
  config/locales/en.yml
  config/locales/pt-BR.yml
Due: none

feat: check if user exists before donate
  app/commands/donations/donate.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: check if user exists before transact
  app/commands/donations/donate.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: use ! instead of not
  app/commands/donations/donate.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add site non profits controller
  app/blueprints/cause_blueprint.rb
  app/blueprints/site_non_profits_blueprint.rb
  app/controllers/api/v1/site/site_controller.rb
  app/lib/web3/utils/donation_batch.json
  app/models/non_profits/non_profit.rb
  db/schema.rb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add tests to site controller
  app/blueprints/site_non_profits_blueprint.rb
  app/controllers/api/v1/site/site_controller.rb
  app/lib/web3/utils/donation_batch.json
  config/routes.rb
  spec/requests/api/v1/non_profits_spec.rb
  spec/requests/api/v1/site/site_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: linter
  app/blueprints/site_non_profits_blueprint.rb
  spec/requests/api/v1/non_profits_spec.rb
  spec/requests/api/v1/site/site_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: validate donation dependencies
  app/commands/donations/donate.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: deps validation translations
  config/locales/en.yml
  config/locales/pt-BR.yml
Due: none

refac: validate each dependency in different methods
  app/commands/donations/donate.rb
Due: bundle exec rubocop --force-exclusion -A

fix: main image on blueprint
  app/blueprints/site_non_profits_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

fix: rubocop complaints
  app/commands/donations/donate.rb
Due: bundle exec rubocop --force-exclusion -A

fix: adjust size of main_image
  app/blueprints/site_non_profits_blueprint.rb
  app/lib/web3/utils/donation_batch.json
Due: bundle exec rubocop --force-exclusion -A

fix: linter
  app/blueprints/site_non_profits_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add route to total impacted lives
  app/controllers/api/v1/site/site_controller.rb
  config/routes.rb
  spec/requests/api/v1/site/site_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: update donation balances the_graph query
  app/services/graphql/queries/fetch_donation_balances.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add tests
  app/controllers/api/v1/site/site_controller.rb
  spec/requests/api/v1/site/site_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: linter
  app/controllers/api/v1/site/site_controller.rb
  spec/requests/api/v1/site/site_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
