Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

feat: add person_payment_fee model
  app/models/people/person_payment.rb
  app/models/people/person_payment_fee.rb
  db/migrate/20220713114105_create_person_payment_fees.rb
  db/schema.rb
  spec/factories/person_payment_fees.rb
  spec/models/person_payment_fee_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add to_sym to converters
  app/lib/currency/converters.rb
Due: bundle exec rubocop --force-exclusion -A

chore: update person_payment_fees factory
  spec/factories/person_payment_fees.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add crypto_amount to create_order add_balance job
  app/commands/givings/payment/create_order.rb
  app/models/people/person_payment.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update create_order to use crypto_amount
  app/models/people/person_payment.rb
  spec/commands/givings/payment/create_order_spec.rb
  spec/models/person_payment_spec.rb
  spec/support/vcr_cassettes/stripe_payment_method.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add #crypto_amount tests
  app/models/people/person_payment.rb
  spec/models/person_payment_spec.rb
  spec/support/vcr_cassettes/conversion_rate_brl_usd.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: remove round 2 from #crypto_amount
  app/models/people/person_payment.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add person payment blockchain transaction service
  app/services/person_payment_services/blockchain_transaction.rb
Due: bundle exec rubocop --force-exclusion -A

test: update person_payment_services blockchain transaction test
  spec/factories/person_blockchain_transactions.rb
  spec/services/person_payment_services/blockchain_transaction_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add job to update blockchain transaction status
  app/jobs/person_payments/update_blockchain_transaction_status_job.rb
  app/models/people/person_blockchain_transaction.rb
  spec/jobs/person_payments/update_blockchain_transaction_status_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to update_blockchain_transaction_status_job
  spec/jobs/person_payments/update_blockchain_transaction_status_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: update test env queue adapter
  config/environments/test.rb
Due: bundle exec rubocop --force-exclusion -A

chore: add TODO on person_blockchain_transaction update_status_from_eth_network
  app/models/people/person_blockchain_transaction.rb
Due: bundle exec rubocop --force-exclusion -A

chore: add private keyword to blockchain_transaction service
  app/services/person_payment_services/blockchain_transaction.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update Donations::Donate command to use the new ribon contract
  app/commands/donations/donate.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update blockchain_link concat
  app/commands/donations/donate.rb
Due: bundle exec rubocop --force-exclusion -A

chore: delete previous ribon_contract file
  app/lib/web3/ribon_contract.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update user_services user_impact to use api data
  app/models/users/user.rb
  app/services/user_services/user_impact.rb
  spec/factories/non_profits.rb
  spec/models/user_spec.rb
  spec/services/user_services/user_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: add after-tests-workflow to test action
  .github/workflows/after-tests-workflow.yml
  .github/workflows/create-promotion-pr.yml
Due: none

chore: add failing test to test action
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: update wait-on-check-action to 1.1.2
  .github/workflows/after-tests-workflow.yml
Due: none

chore: update user spec
  spec/models/user_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

build: add wait-on-check action to worker deploys
  .github/workflows/dev-worker-deploy.yml
  .github/workflows/staging-worker-deploy.yml
Due: none

feature: creating sources table
  db/migrate/20220718125629_create_sources.rb
Due: bundle exec rubocop --force-exclusion -A

feature: updating database schema
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feature: sources model
  app/models/users/source.rb
Due: bundle exec rubocop --force-exclusion -A

feature: sources factory
  spec/factories/sources.rb
Due: bundle exec rubocop --force-exclusion -A

fix: source model typo
  app/models/users/source.rb
Due: bundle exec rubocop --force-exclusion -A

feature: source blueprint
  app/blueprints/source_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: source model validations
  app/models/users/source.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: source blueprint
  app/blueprints/source_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feature: sources route
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feature: sources controller specs
  spec/requests/api/v1/sources_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: sources controller implementation
  app/controllers/api/v1/sources_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feature: integrations index specs
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: integration index implementation
  app/controllers/api/v1/integrations_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feature: integration index route
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

fix: typo
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: renaming existing specs
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: add status to the integration model
  db/migrate/20220722131149_add_status_and_integration_url_to_integrations.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A
