Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: broken specs
  spec/models/integration_spec.rb
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: integration blueprint fields
  app/blueprints/integration_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: removing stringfy method
  app/models/integrations/integration.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add to_sym to currency on person_payment
  app/models/people/person_payment.rb
Due: bundle exec rubocop --force-exclusion -A

fix: rubocop issues
  app/blueprints/integration_blueprint.rb
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: add ribon config record
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

fix: remove service fees duplicated on CalculateCardGiving
  app/commands/givings/card/calculate_card_giving.rb
  spec/commands/givings/card/calculate_card_giving_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add service givings module
  app/services/service/givings/fees/card/stripe_card_fee_calculator.rb
  app/services/service/givings/fees/crypto/polygon_fee_calculator.rb
  app/services/service/givings/fees/fee_calculator.rb
  app/services/service/givings/payment/gateway_factory.rb
  app/services/service/givings/payment/orchestrator.rb
  spec/services/service/givings/fees/card/stripe_card_fee_calculator_spec.rb
  spec/services/service/givings/fees/crypto/polygon_fee_calculator_spec.rb
  spec/services/service/givings/fees/fee_calculator_spec.rb
  spec/services/service/givings/payment/gateway_factory_spec.rb
  spec/services/service/givings/payment/orchestrator_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update giving_services references
  app/commands/givings/card/calculate_card_giving.rb
  app/commands/givings/payment/order_types/credit_card.rb
  app/services/giving_services/fees/card/stripe_card_fee_calculator_service.rb
  app/services/giving_services/fees/crypto/polygon_fee_calculator_service.rb
  app/services/giving_services/fees/fee_calculator_service.rb
  app/services/giving_services/payment/gateway_factory.rb
  app/services/giving_services/payment/orchestrator.rb
  spec/commands/givings/card/calculate_card_giving_spec.rb
  spec/commands/givings/payment/create_order_spec.rb
  spec/services/giving_services/fees/card/stripe_card_fee_calculator_service_spec.rb
  spec/services/giving_services/fees/crypto/polygon_fee_calculator_service_spec.rb
  spec/services/giving_services/fees/fee_calculator_service_spec.rb
  spec/services/giving_services/payment/gateway_factory_spec.rb
  spec/services/giving_services/payment/orchestrator_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add NonProfitImpactCalculator service
  app/models/non_profits/non_profit_impact.rb
  app/services/service/givings/impact/non_profit_impact_calculator.rb
Due: bundle exec rubocop --force-exclusion -A

test: add tests to non_profit_impact_calculator
  app/services/service/givings/impact/non_profit_impact_calculator.rb
  spec/services/service/givings/impact/non_profit_impact_calculator_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add givings impacts controller and command to calculate impact
  app/commands/givings/impact/calculate_impact_to_non_profit.rb
  app/controllers/api/v1/givings/impacts_controller.rb
  spec/commands/givings/impact/calculate_impact_to_non_profit_spec.rb
  spec/requests/api/v1/givings/impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add impact_by_non_profit route and tests
  app/controllers/api/v1/givings/impacts_controller.rb
  config/routes.rb
  spec/commands/givings/impact/calculate_impact_to_non_profit_spec.rb
  spec/requests/api/v1/givings/impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: remove impact by ticket float conversion
  app/models/non_profits/non_profit_impact.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: same response type to all resources
  app/controllers/main_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: lint
  app/controllers/main_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: iv must be 16 problem solved
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

feature: removing cancancan gem
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/models/abilities/ability.rb
  config/application.rb
Due: bundle exec rubocop --force-exclusion -A

feature: brand new specs for ticket availability
  spec/models/user_donation_stats_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: removing remaining cancancan helpers
  app/controllers/api/v1/donations_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feature: specs for the donate command
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: validation in the donate command
  app/commands/donations/donate.rb
Due: bundle exec rubocop --force-exclusion -A

feature: period validation for integrations
  app/models/users/user_donation_stats.rb
Due: bundle exec rubocop --force-exclusion -A

fix: rubocop issues
  app/commands/donations/donate.rb
  app/models/users/user_donation_stats.rb
  spec/models/user_donation_stats_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: renamin validation method
  app/commands/donations/donate.rb
Due: bundle exec rubocop --force-exclusion -A

feature: ribon contract specs
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: adds minimum integration amount to ribon config
  app/models/configs/ribon_config.rb
  db/migrate/20220817182932_add_minimum_integration_amount_to_ribon_config.rb
  db/schema.rb
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

feature: new method for the ribon contract
  app/lib/web3/contracts/ribon_contract.rb
Due: bundle exec rubocop --force-exclusion -A

feature: adds balance to integration when it's created
  app/commands/integrations/create_integration.rb
Due: bundle exec rubocop --force-exclusion -A

feature: method to add balance to integration
  app/models/integrations/integration_wallet.rb
Due: bundle exec rubocop --force-exclusion -A

feature: rails admin labels
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: new field for ribon config factory
  spec/factories/ribon_configs.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: fixing testcase descriptions
  spec/models/user_donation_stats_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rubocop issues
  app/commands/integrations/create_integration.rb
  app/lib/web3/contracts/ribon_contract.rb
  app/models/integrations/integration_wallet.rb
  spec/lib/web3/contracts/ribon_contract_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: uses i18n translations for donation errors
  app/commands/donations/donate.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: use utc minus 3 as default timezone
  config/application.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: use utc timezone on specs
  spec/spec_helper.rb
Due: bundle exec rubocop --force-exclusion -A

feature: integration address in the example env file
  .env.example
Due: none

refactor: add integration to last_donation_at on UserDonationStats
  app/models/users/user_donation_stats.rb
  spec/models/user_donation_stats_spec.rb
  spec/rails_helper.rb
  spec/support/time_helpers.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add can_donate route to users controller
  app/controllers/api/v1/users_controller.rb
  app/models/users/user_donation_stats.rb
  config/routes.rb
  spec/requests/api/v1/users_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
