Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

feat: balance history
  app/jobs/donations/generate_balance_history.rb
  app/lib/web3/providers/networks.rb
  app/models/balance_history.rb
  app/models/blockchain/pool.rb
  app/models/people/person_payment.rb
  app/services/graphql/queries/fetch_pools.rb
  app/services/service/donations/balance_history.rb
  app/workers/donations/generate_balance_history_worker.rb
  config/schedule.yml
  db/migrate/20221221133602_create_balance_histories.rb
  db/schema.rb
  spec/factories/balance_histories.rb
  spec/factories/donations.rb
  spec/models/balance_history_spec.rb
  spec/services/service/donations/balance_history_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: update network with new contract
  app/lib/web3/providers/networks.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add conversion BRL to USD
  app/blueprints/history_blueprint.rb
  app/controllers/api/v1/site/histories_controller.rb
  app/models/history.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add vcr to tests
  spec/requests/api/v1/site/histories_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add impact_trend class
  app/services/service/integrations/impact_trend.rb
Due: bundle exec rubocop --force-exclusion -A

fix: lint
  app/services/service/integrations/impact_trend.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add percent_of to Numeric and refactor ImpactTrend
  app/services/service/integrations/impact_trend.rb
  lib/ext/numeric.rb
Due: bundle exec rubocop --force-exclusion -A

test: add tests to impact_trend and percentage_of
  .gitignore
  app/services/service/integrations/impact_trend.rb
  lib/ext/numeric.rb
  spec/lib/ext/numeric_spec.rb
  spec/services/service/integrations/impact_trend_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add controller to total donations
  app/blueprints/history_blueprint.rb
  app/controllers/api/v1/site/histories_controller.rb
  app/models/history.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add impact_trend to impacts controller request
  app/blueprints/integration_impact_blueprint.rb
  app/controllers/api/v1/integrations/impacts_controller.rb
  spec/requests/api/v1/integrations/impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: add guard clause to zero in statistics trends
  app/services/service/integrations/impact_trend.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add Date.parse to controller
  app/controllers/api/v1/integrations/impacts_controller.rb
  app/services/service/integrations/impact_trend.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add donors and donations to statistics
  app/blueprints/integration_impact_blueprint.rb
  app/services/service/donations/statistics.rb
Due: bundle exec rubocop --force-exclusion -A

fix: add fallback date to integrations impacts controller
  app/controllers/api/v1/integrations/impacts_controller.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add end_of_day to impacts controller date ranges
  app/controllers/api/v1/integrations/impacts_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: donations and donors per non profit
  app/services/service/donations/statistics.rb
  spec/services/service/donations/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add functions to convert usd to brl and brl to usd
  app/blueprints/history_blueprint.rb
  app/controllers/api/v1/site/histories_controller.rb
  spec/requests/api/v1/site/histories_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: delegate donations and donors from integration impact
  app/services/service/integrations/impact.rb
  spec/services/service/integrations/impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: delegate donations and donors from impact trend
  app/services/service/integrations/impact_trend.rb
  spec/services/service/integrations/impact_trend_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rubocop issues
  app/services/service/donations/statistics.rb
  spec/services/service/integrations/impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add donations and donors per np on blueprint
  app/blueprints/integration_impact_blueprint.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add new fields to specs
  spec/requests/api/v1/integrations/impacts_spec.rb
  spec/requests/integrations/v1/impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: rucocop complaints
  spec/requests/integrations/v1/impacts_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: convert donations on usd
  app/controllers/api/v1/site/histories_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: donations and donors on statistics
  app/services/service/donations/statistics.rb
Due: bundle exec rubocop --force-exclusion -A

fix: adjust linter
  app/controllers/api/v1/site/histories_controller.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add link to integration dashboard
  app/blueprints/integration_blueprint.rb
  app/models/integrations/integration.rb
  config/env.yml
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: tests
  app/lib/web3/networks/polygon/scan.rb
  app/models/people/person_payment.rb
  app/services/service/donations/balance_history.rb
  config/env.yml
  spec/services/service/donations/balance_history_spec.rb
  spec/support/vcr_cassettes/polygon_scan.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: adjust tests and add more tests
  app/models/integrations/integration.rb
  spec/models/integration_spec.rb
  spec/requests/api/v1/integrations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: lint
  app/lib/web3/networks/polygon/scan.rb
  app/models/balance_history.rb
  app/models/people/person_payment.rb
  app/services/service/donations/balance_history.rb
  package.json
  spec/factories/balance_histories.rb
  spec/models/balance_history_spec.rb
  spec/services/service/donations/balance_history_spec.rb
  yarn.lock
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: more tests
  app/jobs/donations/generate_balance_history_job.rb
  app/workers/donations/generate_balance_history_worker.rb
  spec/jobs/donations/generate_balance_history_job_spec.rb
  spec/workers/donations/generate_balance_history_worker_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: tests fix
  config/env.yml
  spec/support/vcr_cassettes/polygon_scan.yml
Due: none

feat: change polygon scan env var
  app/lib/web3/networks/polygon/scan.rb
  config/env.yml
Due: bundle exec rubocop --force-exclusion -A

feat: polygon scan lib
  app/lib/web3/networks/polygon/scan.rb
  app/services/service/donations/balance_history.rb
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds blockchain transactions updates
  app/commands/donations/blockchain_transactions/update_api_only_transactions.rb
  app/commands/donations/blockchain_transactions/update_failed_transactions.rb
  app/commands/donations/blockchain_transactions/update_processing_transactions.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds blockchain transactions cron job
  app/jobs/donations/retry_batch_transactions_job.rb
  app/models/batch.rb
  app/workers/donations/retry_donation_batch_worker.rb
  config/schedule.yml
  spec/commands/donations/blockchain_transactions/update_failed_donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: pool balance fix
  app/services/service/donations/balance_history.rb
  spec/services/service/donations/balance_history_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: pool token decimals
  app/services/service/donations/balance_history.rb
  spec/services/service/donations/balance_history_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add update api only tests
  spec/commands/donations/blockchain_transactions/update_api_only_transactions_spec.rb
  spec/factories/batches.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: calculate donations and donors per sub ranges
  app/services/service/donations/statistics.rb
  spec/services/service/donations/statistics_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec
