Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

.lintstagedrc.json:

{
  "*.rb": "bundle exec rubocop --force-exclusion -A",
  "*_spec.rb": "bundle exec rspec"
}

feat: add non_profit impact_by_ticket method
  app/blueprints/non_profit_blueprint.rb
  app/models/non_profit.rb
  spec/models/non_profit_spec.rb
  spec/requests/api/v1/non_profits_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add impact_by_ticket to non_profit_impacts
  app/models/non_profit.rb
  app/models/non_profit_impact.rb
  spec/models/non_profit_impact_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add error handling to Donate command
  .rubocop.yml
  app/blueprints/error_blueprint.rb
  app/commands/application_command.rb
  app/commands/donations/donate.rb
  app/controllers/api/v1/donations_controller.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add ApplicationCommand to command generator
  lib/generators/command/templates/command_template.template
Due: none

refactor: add render_errors to application_controller
  app/controllers/api/v1/donations_controller.rb
  app/controllers/application_controller.rb
  spec/requests/api/v1/donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add error message to donations_spec
  spec/requests/api/v1/donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add transaction hash to donation result
  app/controllers/api/v1/donations_controller.rb
Due: bundle exec rubocop --force-exclusion -A

test: add tests to transaction hash return in donations request
  spec/requests/api/v1/donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add wei_converter to web3 utils lib
  app/lib/web3/utils/converter.rb
  spec/lib/web3/utils/converter_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add to_wei to web3 utils converter
  app/commands/donations/donate.rb
  app/lib/web3/utils/converter.rb
  spec/lib/web3/utils/converter_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add converter utils to user_impact service
  app/services/user_services/user_impact.rb
  spec/factories/graphql/fetch_donation_balances_query.rb
  spec/factories/non_profits.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: add OpenStruct to render_errors
  app/blueprints/error_blueprint.rb
  app/controllers/application_controller.rb
Due: bundle exec rubocop --force-exclusion -A

fix: update user_impact service to use cents
  app/services/user_services/user_impact.rb
  spec/factories/non_profits.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add value to donation
  app/commands/donations/donate.rb
  db/migrate/20220509182906_add_value_to_donations.rb
  db/schema.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add new labels to NonProfit images
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add GivingValue model
  Gemfile.lock
  app/models/giving_value.rb
  config/initializers/rails_admin.rb
  db/migrate/20220513132923_create_giving_values.rb
  db/schema.rb
  spec/factories/giving_values.rb
  spec/models/giving_value_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add giving values request route
  app/blueprints/giving_value_blueprint.rb
  app/controllers/api/v1/giving_values_controller.rb
  app/models/giving_value.rb
  config/routes.rb
  spec/requests/api/v1/giving_values_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: lint
  app/models/giving_value.rb
  spec/factories/giving_values.rb
  spec/requests/api/v1/giving_values_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add validations tests to giving value
  app/models/giving_value.rb
  spec/models/giving_value_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: add tests to giving values request
  spec/requests/api/v1/giving_values_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update giving values name
  spec/requests/api/v1/giving_values_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

fix: lint
  spec/models/giving_value_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

docs: update readme environments links
  README.md
Due: none

refactor: add subfolders to models
  app/models/abilities/ability.rb
  app/models/configs/giving_value.rb
  app/models/configs/ribon_config.rb
  app/models/donations/donation.rb
  app/models/integrations/integration.rb
  app/models/non_profits/non_profit.rb
  app/models/non_profits/non_profit_impact.rb
  app/models/users/admin.rb
  app/models/users/user.rb
  app/models/users/user_donation_stats.rb
  config/application.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add giving_services with tax calculator services
  app/services/giving_services/taxes/card_tax_calculator_service.rb
  app/services/giving_services/taxes/crypto_tax_calculator_service.rb
  app/services/giving_services/taxes/tax_calculator_service.rb
Due: bundle exec rubocop --force-exclusion -A

test: add tests to tax_calculator_service
  app/services/giving_services/taxes/tax_calculator_service.rb
  spec/services/giving_services/taxes/tax_calculator_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: add mock_instance helper to giving_services tests
  spec/services/giving_services/taxes/tax_calculator_service_spec.rb
  spec/support/stub_helpers.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add Card namespace to stripe_card_tax_calculator
  app/services/giving_services/taxes/card/stripe_card_tax_calculator_service.rb
  app/services/giving_services/taxes/card_tax_calculator_service.rb
  app/services/giving_services/taxes/crypto_tax_calculator_service.rb
  app/services/giving_services/taxes/tax_calculator_service.rb
  spec/services/giving_services/taxes/card/stripe_card_tax_calculator_service_spec.rb
  spec/services/giving_services/taxes/tax_calculator_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: update spec helper simplecov filters
  spec/spec_helper.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update taxes scope to fees
  app/services/giving_services/fees/card/stripe_card_tax_calculator_service.rb
  app/services/giving_services/fees/tax_calculator_service.rb
  spec/services/giving_services/fees/card/stripe_card_tax_calculator_service_spec.rb
  spec/services/giving_services/fees/tax_calculator_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: renames tax to fee in calculator services
  app/services/giving_services/fees/card/stripe_card_fee_calculator_service.rb
  app/services/giving_services/fees/fee_calculator_service.rb
  spec/services/giving_services/fees/card/stripe_card_fee_calculator_service_spec.rb
  spec/services/giving_services/fees/card/stripe_card_tax_calculator_service_spec.rb
  spec/services/giving_services/fees/fee_calculator_service_spec.rb
  spec/services/giving_services/fees/tax_calculator_service_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: adds converter lib
  Gemfile
  Gemfile.lock
  app/lib/currency/converters.rb
  app/lib/currency/rates.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds lib for requests
  app/lib/currency/rates.rb
  app/lib/request/api_request.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: formats response to get rate
  app/lib/currency/rates.rb
  app/lib/request/api_request.rb
Due: bundle exec rubocop --force-exclusion -A

feat: adds set_rate method
  app/lib/currency/converters.rb
Due: bundle exec rubocop --force-exclusion -A

feat: formats converted response
  app/lib/currency/converters.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: makes rubocop adjustments
  app/lib/currency/converters.rb
  app/lib/currency/rates.rb
  app/lib/request/api_request.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: renames rate method name
  app/lib/currency/converters.rb
  app/lib/currency/rates.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: renames set_rate method name
  app/lib/currency/converters.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: adds add_rate call to convert method
  app/lib/currency/converters.rb
Due: bundle exec rubocop --force-exclusion -A
