Repository omahs/core-api: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: cause factories and associations
  spec/factories/causes.rb
  spec/factories/non_profits.rb
  spec/factories/pools.rb
Due: bundle exec rubocop --force-exclusion -A

feature: cause specs
  spec/models/cause_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: add cause to some other model specs
  spec/models/non_profit_spec.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

test: update CreateBlockchainDonation command tests
  app/commands/donations/create_blockchain_donation.rb
  spec/commands/donations/create_blockchain_donation_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: use poll_id in the causes factory
  spec/factories/causes.rb
Due: bundle exec rubocop --force-exclusion -A

feature: database tables and associations for story
  db/migrate/20220915180514_create_stories.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feature: story model, factories and specs
  app/models/stories/story.rb
  spec/factories/stories.rb
  spec/models/story_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

chore: add missing models to rails admin
  config/initializers/rails_admin.rb
Due: bundle exec rubocop --force-exclusion -A

feat: dockerfile
  Dockerfile.dev
  bin/docker-dev-entrypoint.sh
  bin/docker-dev-sidekiq-entrypoint.sh
  config/database.docker.yml
  config/database_docker.yml
Due: none

feat: dockerfile
  docker-compose.yml.sample
Due: none

feature: story annotations
  app/models/stories/story.rb
  spec/factories/stories.rb
  spec/models/story_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add gems devise_token_auth omniauth-google-oauth2
  Gemfile
  Gemfile.lock
Due: none

feat: add UserManager model, with google login
  app/models/user_manager.rb
  config/initializers/devise_token_auth.rb
  config/routes.rb
Due: bundle exec rubocop --force-exclusion -A

feature: new schema with timestamps
  db/migrate/20220915180714_add_timestamps_to_existing_tables.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

feature: database annotations
  app/models/blockchain/integration_pool.rb
  app/models/blockchain/non_profit_pool.rb
  app/models/causes/cause.rb
  spec/factories/causes.rb
  spec/factories/integration_pools.rb
  spec/factories/non_profit_pools.rb
  spec/models/cause_spec.rb
  spec/models/integration_pool_spec.rb
  spec/models/non_profit_pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: dockerfile
  bin/docker-dev-entrypoint.sh
Due: none

refactor: add CreateBlockchainDonation command call to Donate command
  app/commands/donations/create_blockchain_donation.rb
  app/commands/donations/donate.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: remove transaction block from donate command
  app/commands/donations/create_blockchain_donation.rb
  app/commands/donations/donate.rb
Due: bundle exec rubocop --force-exclusion -A

feat: add CreateBlockchainDonationJob
  app/jobs/donations/create_blockchain_donation_job.rb
  spec/jobs/donations/create_blockchain_donation_job_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: use blank string as ssl key for dev environment
  app/lib/web3/utils/cipher.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: do not call the string class directly
  app/lib/web3/utils/cipher.rb
Due: bundle exec rubocop --force-exclusion -A

feat: update readme
  README.md
  bin/docker-dev-entrypoint.sh
Due: none

refactor: update retry mechanism on CreateBlockchainDonationJob and add error handling to sidekiq
  app/commands/donations/donate.rb
  app/jobs/donations/create_blockchain_donation_job.rb
  config/initializers/sidekiq.rb
  spec/commands/donations/donate_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

refactor: update donations controller create response
  app/controllers/api/v1/donations_controller.rb
  spec/requests/api/v1/donations_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add support for google authentication
  Gemfile
  config/environments/test.rb
  config/initializers/cors.rb
  config/initializers/devise.rb
  config/initializers/omniauth.rb
  config/initializers/rails_admin.rb
  config/locales/en.yml
  config/locales/pt-BR.yml
  config/routes.rb
  db/migrate/20220915184428_devise_token_auth_create_user_managers.rb
  db/schema.rb
  spec/factories/user_managers.rb
  spec/models/user_manager_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add UserManager model
  app/models/user_manager.rb
  spec/factories/user_managers.rb
Due: bundle exec rubocop --force-exclusion -A

rollback: poll and causes association in the model
  app/models/blockchain/pool.rb
  app/models/causes/cause.rb
Due: bundle exec rubocop --force-exclusion -A

rollback: pool and causes association in the schema
  db/migrate/20220919145511_remove_pool_from_causes.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion -A

fix: broken specs
  spec/factories/causes.rb
  spec/models/cause_spec.rb
  spec/models/pool_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feature: use a blank openssh key through the env yaml
  app/lib/web3/utils/cipher.rb
  config/env.yml
Due: bundle exec rubocop --force-exclusion -A

feat: update readme
  README.md
Due: none

feat: first commit
  app/models/wallet.rb
  db/migrate/20220919163414_create_wallets.rb
  spec/factories/wallets.rb
  spec/models/wallet_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: fix database create
  bin/docker-dev-entrypoint.sh
  config/env.yml
Due: none

feat: fix seed
  db/seeds.rb
Due: bundle exec rubocop --force-exclusion -A

feat: wallets
  app/models/non_profits/non_profit.rb
  app/models/wallet.rb
  spec/factories/wallets.rb
  spec/models/wallet_spec.rb
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: add command and tests to UserManager
  .rubocop.yml
  app/commands/manager/set_user_manager_tokens.rb
  app/controllers/api/v1/manager/authorization_controller.rb
  app/models/user_manager.rb
  spec/models/user_manager_spec.rb
  spec/requests/api/v1/manager/authorizations_spec.rb
  spec/support/vcr_cassettes/create_google_authorization.yml
  spec/support/vcr_cassettes/create_google_authorization_failed.yml
Due: bundle exec rubocop --force-exclusion -A, bundle exec rspec

feat: update google env variables
  config/env.yml
  config/initializers/devise.rb
Due: bundle exec rubocop --force-exclusion -A

fix: delete unnecessary comments
  config/initializers/devise_token_auth.rb
Due: bundle exec rubocop --force-exclusion -A

refactor: update google_api_url to a method
  app/commands/manager/set_user_manager_tokens.rb
Due: bundle exec rubocop --force-exclusion -A

Path conditions:
  bundle exec rubocop --force-exclusion -A: any of: *.rb
  bundle exec rspec: any of: *_spec.rb
